    resolver ${DNS_SERVER} valid=5s ipv6=off;

    set_by_lua $request_uri_lowercase "return string.lower(ngx.var.uri)";

    proxy_hide_header Cache-Control;
    proxy_hide_header expires;
    add_header Cache-Control max-age=900;

    include /etc/nginx/partials/internal_redirects.conf;
    include /etc/nginx/partials/s3proxy.conf;
    include /etc/nginx/partials/404s.conf;
    include /etc/nginx/partials/staticsite.conf;
