# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

/s3/*
!/s3/.keep
/storage
/.aws
/*.crt
/*.key
/.idea

*.sql
*.gz
*.tgz
*.zip

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.dccache
**/.dccache

# Ignore node_modules anywhere.
**/node_modules

# We don't use apache, so .htaccess is not useful
**/.htaccess

# Automated test reports and artifacts
/automated_tests/e2e-cypress/cypress/reports
/automated_tests/e2e-cypress/cypress/screenshots
/automated_tests/e2e-cypress/cypress/videos
/automated_tests/e2e-cypress/cypress-image-diff-screenshots/comparison
/automated_tests/e2e-cypress/cypress-image-diff-screenshots/diff

/web/.*
/web/*.php
/web/*.md
/web/*.txt
/web/*.config
/web/example.*
/web/core
/web/modules/README.txt
/web/modules/contrib/
/web/profiles
/web/sites/default/files
/web/sites/default/*.zip
/web/sites/default/*.tar
/web/sites/default/*.tgz

# Ignore configuration files that may contain sensitive information
/web/sites/*.php
/web/sites/README.txt
/web/sites/*/*
!/web/sites/*/settings.php
!/web/sites/*/settings.cf.php
!/web/sites/*/settings.local.php

# # Ignore paths that may contain user-generated content
/web/sites/*/files
/web/sites/*/public
/web/sites/*/private
/web/sites/*/files-public
/web/sites/*/files-private

# # Ignore paths that may contain temporary files
/web/sites/*/translations
/web/sites/*/tmp
/web/sites/*/cache

# # Ignore testing related files
/web/sites/simpletest

/content/*
/files/*
/html/*

env.local
env.local.cypress
sqlite-local.db
sqlite-local.db-shm
sqlite-local.db-wal

# # Ignore drupal core (if not versioning drupal sources)
/vendor/*
LICENSE.txt
.eslintignore
.gitattributes
.editorconfig

# # Ignore Compiled Theme Files
web/themes/contrib
web/themes/README.txt
web/themes/custom/usagov/node_modules
web/themes/custom/usagov/css
web/themes/custom/usagov/sass/uswds
web/themes/custom/usagov/fonts
web/themes/custom/usagov/assets/img
web/themes/custom/usagov/scripts/uswds-init.min.js.map
web/themes/custom/usagov/scripts/uswds-init.min.js
web/themes/custom/usagov/scripts/uswds-init.js
web/themes/custom/usagov/scripts/uswds.min.js.map
web/themes/custom/usagov/scripts/uswds.min.js
web/themes/custom/usagov/scripts/uswds.js
web/themes/custom/usagov/scripts/usps-credentials.js
web/themes/custom/usagov/css/styles.css
web/themes/custom/usagov/css/styles.css.map
web/themes/custom/usagov/npm-debug.log
web/themes/custom/usagov/img

.vscode
.vscode/settings.json
workspace.code-workspace

manifest-egress-vars.yml
.docker/src-egress/caddy
.docker/src-reporter/local_proxy/caddy

bin/deploy/logs/*.log
bin/cloudgov/test/nr/logs/*
bin/cloudgov/test/nr/logs/*/*
bin/cloudgov/test/nr/proxy/src-egress/caddy
bin/cloudgov/test/nr/php/manifest-vars.yml

# Ignore Compiled Assets
.docker/src-waf/etc/nginx/nginx.conf
.docker/src-waf/etc/nginx/snippets/ip-restrict-cms.conf
.docker/src-waf/etc/nginx/snippets/ip-restrict-www.conf

.docker/src-reporter/analytics.pem
reporter-vcapsecrets.json
