# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

/s3
/storage
/.aws

*.sql
*.sql.gz
*.sql.tgz
*.sql.zip

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Ignore configuration files that may contain sensitive information
/web/
/web/sites/*/*settings*.php
/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/web/sites/*/files
/web/sites/*/public
/web/sites/*/private
/web/sites/*/files-public
/web/sites/*/files-private

# Ignore paths that may contain temporary files
/web/sites/*/translations
/web/sites/*/tmp
/web/sites/*/cache

# Ignore testing related files
/web/sites/simpletest

/content/*
/files/*
/html/*

env.local
sqlite-local.db
sqlite-local.db-shm
sqlite-local.db-wal

# Ignore drupal core (if not versioning drupal sources)
/vendor/*
LICENSE.txt
.eslintignore
.gitattributes
.editorconfig

# Ignore Compiled Theme Files
themes/custom/usagov/node_modules
themes/custom/usagov/css
themes/custom/usagov/sass/uswds
themes/custom/usagov/fonts
themes/custom/usagov/assets/img
themes/custom/usagov/scripts/uswds-init.min.js.map
themes/custom/usagov/scripts/uswds-init.min.js
themes/custom/usagov/scripts/uswds-init.js
themes/custom/usagov/scripts/uswds.min.js.map
themes/custom/usagov/scripts/uswds.min.js
themes/custom/usagov/scripts/uswds.js
themes/custom/usagov/css/styles.css
themes/custom/usagov/css/styles.css.map
themes/custom/usagov/npm-debug.log
themes/custom/usagov/img

.vscode/settings.json
