# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

/s3
/storage

*.sql
*.sql.gz
*.sql.tgz
*.sql.zip

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Ignore configuration files that may contain sensitive information
/web/sites/*/*settings*.php
/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/web/sites/*/files
/web/sites/*/public
/web/sites/*/private
/web/sites/*/files-public
/web/sites/*/files-private

/content/*
/files/*
/html/*

env.local
sqlite-local.db
sqlite-local.db-shm
sqlite-local.db-wal

# Ignore paths that may contain temporary files
/web/sites/*/translations
/web/sites/*/tmp
/web/sites/*/cache

# Ignore testing related files
/web/sites/simpletest

# Ignore drupal core (if not versioning drupal sources)
/vendor/*
LICENSE.txt
.eslintignore
.gitattributes
.editorconfig

/drush/contrib/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/modules/README.txt
/web/profiles/README.txt
/web/sites/README.txt
/web/sites/example.sites.php
/web/sites/development.services.yml
/web/themes/README.txt
/web/.csslintrc
/web/.eslintrc.json
/web/.htaccess
/web/autoload.php
/web/example.gitignore
/web/README.txt
/web/robots.txt
/web/update.php
/web/web.config

# Ignore Compiled Theme Files
node_modules
web/themes/custom/usagov/css
web/themes/custom/usagov/sass/uswds
web/themes/custom/usagov/fonts
web/themes/custom/usagov/assets/img
web/themes/custom/usagov/scripts
web/themes/custom/usagov/css/styles.css
web/themes/custom/usagov/css/styles.css.map
web/themes/custom/usagov/npm-debug.log

