;bash -x .git/hooks/pre-push
tidy-mark: no
self-closing-tags: no
force-output: no
show-warnings: yes
show-errors: 10   # Limit to 10 errors
quiet: no        # Suppresses normal output
mute: no         # Suppresses warnings in case of fatal errors
