/*

EXAMPLE: Expand theme to full width

 */
@media (min-width: 64em) {
    .usa-header--extended .usa-navbar
    , .usa-header--extended .usa-nav__inner {
        max-width: none;
    }
}

div.usa-banner__inner
, div.grid-container {
    max-width: none;
}

/*

EXAMPLE: Fix small USWDS form size issue

 */
@media (min-width: 30em) {
    .usa-form {
        max-width: none;
    }
}
