
NEW NAV ITEMS
{# TODO
  Test Spanish
  Test downlevel nav pages
  Test nav list pages
  Test cache on dev environment
  remove old view-block
  #}


{# Determine Language to decide which menu and translations to use #}
{% if node.langcode.langcode == "es" %}
  {% set main_nav_items = simplify_menu('left-menu-spanish') %}

  {% set translations = {
    'home': 'Página principal',
    'home_URL': '/es',
    'close': 'Cerrar',
    'search': 'Buscar',
    'search_placeholder': 'Busque en este sitio...',
    'search_affiliate': 'usagov_es_internal',
    'all_topics': 'Todos los temas y servicios',
    'phone_URL': '/es/centro-de-llamadas'
  } %}
{% else %}
  {% set main_nav_items = simplify_menu('left-menu-english') %}
  
  {% set translations = {
    'home': 'Home',
    'home_URL': '/',
    'close': 'Close',
    'search': 'Search',
    'search_placeholder': 'Search all government',
    'search_affiliate': 'usagov_all_gov',
    'all_topics': 'All topics and services',
    'phone_URL': '/phone'
  } %}
{% endif %}

{# {{dd()}} #}

<div class="usagov-cards">
  <ul class="usa-card-group">
    {% for item in nav_page_items %}
      <li class="tablet:grid-col-4 usa-card">
        <a href="{{ item.url }}" class="usa-card__container usagov-card text-no-underline">
          <header class="usa-card__header">
            <h2 class="usa-card__heading usagov-card__heading">{{ item.title }}</h2>
          </header>
          <div class="usa-card__body padding-top-0">
            <p>{{ item.description }}</p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>