<div>
	<div
		id="error-box"
		class="usa-alert usa-alert--slim usa-alert--error usa-error--alert"
		tabindex="-1">
		<div class="usa-alert__body">
			<h2 class="usa-alert__heading">Su información contiene errores</h2>
			<li id="alert_error_00NU0000004z90C" class="usa-alert__text usa-error--alert">
				<a href="#label_name"><span>Escriba su nombre</span></a>
			</li>
			<li id="alert_error_email" class="usa-alert__text usa-error--alert">
				<a href="#label_email"><span>Escriba su email</span></a>
			</li>
			<li id="alert_error_description" class="usa-alert__text usa-error--alert">
				<a href="#label_description"><span>Escriba la descripción</span></a>
			</li>
			<li id="alert_error_recaptcha_large" class="usa-alert__text usa-error--alert">
				<a href="#recaptcha-large-container"><span>Complete el reCaptcha</span></a>
			</li>
			<li id="alert_error_recaptcha_small" class="usa-alert__text usa-error--alert">
				<a href="#recaptcha-small-container"><span>Fill out the reCaptcha</span></a>
			</li>
			</ul>
		</div>
	</div>
	<div id="emlfnd" class="padding-1px bg-gray-5">
		<form
			action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8&orgId=00DU0000000Leux"
			class="validate"
			id="myform"
			method="post"
			name="myform"
			novalidate>
			<div class="padding-1px bg-gray-5">
				<div class="maxw-mobile margin-x-auto margin-y-4">
					<input type="hidden" name='captcha_settings' value='{"keyname":"RecaptchaV3","fallback":"true","orgId":"00DU0000000Leux","ts":""}'>
					<input type="hidden" name="orgid" value="00DU0000000Leux">
					<input type="hidden" name="retURL" value="https://www.usa.gov/es/gracias-por-reportar-problemas-en-este-sitio-web"/>
					<input name="recordType" type="hidden" value="012U00000001eYr"/>
					<input name="Sender_IP__c" type="hidden" value="192.168.1.1"/>
					<input name="Site_Version__c" type="hidden" value="New"/>
					<input name="Call_Topic__c" type="hidden" value="About USAGov"/>
					<input name="Case_Topic_Other__c" type="hidden" value="From USAGov Issue Form"/>
					<input name="Gender__c" type="hidden" value="Unknown"/>
					<p>
						<strong>Todos los campos son obligatorios.</strong>
					</p>
					<div id="error-border">
						<p class="required">
							<label id="label_name" class="usa-label" for="00NU0000004z90C">Su nombre</label>
							<input
								aria-required="true"
								class="usa-input"
								id="00NU0000004z90C"
								name="00NU0000004z90C"
								data-name="First Name"
								type="text"
								maxlength="255"
								size="40"
								required
								data-error="Escriba su nombre"
								data-name="First Name"
							/>
						</p>

						<p class="required">
							<label id="label_email" class="usa-label" for="email">Su email</label>
							<input
								aria-required="true"
								class="usa-input"
								id="email"
								name="email"
								data-name="Email Address"
								type="email"
								maxlength="80"
								size="40"
								required\
								data-error="Escriba su email"
								data-name="Email Address"
							/>
						</p>

						<p class="required">
							<label id="label_description" class="usa-label dscrptn" for="description">Escriba el problema que desea reportar aquí. Por favor Incluya la dirección web (URL) de la página con el problema.</label>
							<textarea
								aria-required="true"
								aria-describedby="report-issue-box-es"
								class="usa-input usa-input-textarea"
								id="description"
								name="description"
								data-name="Description"
								type="text"
								cols="40"
								rows="10"
								maxlength="1000"
								required
								data-error="Escriba la descripción"
								data-name="Description"
							></textarea>
							<text class="usa-description" id="report-issue-box-es">Por favor limite su comentario a 1000 caracteres.</text>
						</p>

						<div style="visibility: hidden; z-index: 2" class="_e725ae-textarea_btn _e725ae-anonymous _e725ae-not_focused" data-grammarly-reactid=".0">
							<div class="_e725ae-transform_wrap" data-grammarly-reactid=".0.0">
								<div title="Protected by Grammarly" class="_e725ae-status" data-grammarly-reactid=".0.0.0">
									&nbsp;
								</div>
							</div>
							<span class="_e725ae-btn_text" data-grammarly-reactid=".0.1">Not signed in</span>
						</div>
						<input type="hidden" id="external" name="external" value="1"/>
					</div>
					<div class="ceo-button-container">
						<button class="g-recaptcha usa-button usa-button--secondary usa-button--big issue-button" data-sitekey="6LfDMNYpAAAAANLxS-UeI2FK7BktwdzKdqRb37MH" data-callback='onSubmit' data-action='submit' onclick="return submitPressed();">Enviar</button>
					</div>
					<div>
						<p>Este sitio web está protegido por reCAPTCHA y Google <br>
						<a href="https://policies.google.com/privacy">Política de privacidad (en inglés)</a> y <a href="https://policies.google.com/terms">Términos de servicio (en inglés)</a> aplican.</p>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<p class="clearfix"></p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?hl=es" defer></script>
{{ attach_library('usagov/reportAProblem') }}
