

<div class="usa-prose">
{% if element["#language"] == "en" %}
    <h1 class="text-blue usa-wizard-title" id="skip-to-h1"><span>Where to report a scam</span></h1>
    <p class="usa-prose">Have you experienced a scam and want to report it? Just answer a few questions to learn how to report the scam to the right place.</p>
{% else %}
    <h1 class="text-blue usa-wizard-title" id="skip-to-h1"><span>Dónde reportar una estafa</span></h1>
    <p class="usa-prose">¿Ha sufrido una estafa y quiere reportarla? Solo responda unas cuantas preguntas para saber cómo reportar la estafa en el lugar correcto.</p>
    <p class="usa-prose">Su búsqueda podría arrojar resultados en inglés.</p>
{% endif %}
</div>

<div class="usa-fieldset maxw-tablet margin-x-auto">
    <span class="usa-sr-only">{{ element['#object'].body[0].value|raw }}</span>
    {% for item in items %}
        {% set url = item.content["#url"] %}
        <div class="grid-row flex-justify-center maxw-mobile margin-x-auto margin-top-6">
            <a id="WizardStartButton" class="usa-button usa-button--secondary usa-button--big" href="{{url}}#block-usagov-content" role="button">
                {% if element["#language"] == "en" %}
                Find the right place to report a scam
                {% elseif element["#language"] == "es" %}
                Empezar

                {% endif %}
            </a>
        </div>
    {% endfor %}

</div>
