<div class="usa-prose">
	<h2 id="address-heading">Su dirección:</h2>

	<div class="border-left-1 border-gray-10 padding-left-2 margin-top-1">
		<p style="margin-top: 0px;" id="display-address">
			Dirección<br>
			Ciudad, Estado, Código postal
		</p>

		<p id="edit-address-link"></p>
	</div>
	<div id="resultsSection" class="usa-prose">
		<h2>Sus resultados:</h2>
		<p>Despliegue la siguiente lista de resultados y encuentre la información de contacto de los funcionarios electos en cada nivel del Gobierno. Después, seleccione sus nombres para saber cómo comunicarse con ellos y su personal.</p>
		<div id="results"></div>
	</div>
	<h2>Otras formas para encontrar a los funcionarios electos</h2>

	<p>¿No encontró al funcionario electo que estaba buscando? Revise <a href="/es/funcionarios-electos#otras-formas">otras formas para encontrar a los funcionarios electos</a>.</p>

</div>
