<div id="emlfnd">
	<form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" class="validate" id="myform" method="post" name="myform">
		<input type="hidden" name="captcha_settings" value='{"keyname":"Recaptcha_FCIC","fallback":"true","orgId":"00DU0000000Leux","ts":""}'/>
		<input type="hidden" name="orgid" value="00DU0000000Leux"/>
		<input type="hidden" name="retURL" value="https://www.usa.gov/es/gracias-por-reportar-problemas-en-este-sitio-web"/>
		<input name="recordType" type="hidden" value="012U00000001eYr"/>
		<input name="Sender_IP__c" type="hidden" value="192.168.1.1"/>
		<input name="Site_Version__c" type="hidden" value="New"/>
		<input name="Call_Topic__c" type="hidden" value="About USAGov"/>
		<input name="Case_Topic_Other__c" type="hidden" value="From USAGov Issue Form"/>
		<input name="Gender__c" type="hidden" value="Unknown"/>
		<p>
			Por favor complete el siguiente formulario.
			<strong>Todos los campos son obligatorios.</strong>
		</p>
		<p class="required">
			<label id="label_name" for="00NU0000004z90C">Su nombre</label>
			<input aria-required="true" data-error="Error: Su nombre es obligatorio." data-name="First Name" id="00NU0000004z90C" maxlength="255" name="00NU0000004z90C" size="40" type="text"/>
		</p>
		<p class="required">
			<label id="label_email" for="email">Su email</label>
			<input aria-required="true" data-error="Error: Por favor ingrese un email v&aacute;lido." data-name="Email Address" id="email" maxlength="80" name="email" size="40" type="email"/>
		</p>
		<p class="required">
			<label id="label_description" for="description" class="dscrptn">Escriba el problema que desea reportar aquí.<br/>
				Por favor limite su comentario a 1000 caracteres.</label>
		</p>
		<p class="required">
			<textarea aria-required="true" type="text" id="description" cols="40" rows="10" maxlength="1000" name="description" data-name="Description" data-error="Error: Por favor escriba el problema que desea reportar aquí."></textarea>
		</p>

		<div style="visibility: hidden; z-index: 2" class="_e725ae-textarea_btn _e725ae-anonymous _e725ae-not_focused" data-grammarly-reactid=".0">
			<div class="_e725ae-transform_wrap" data-grammarly-reactid=".0.0">
				<div title="Protected by Grammarly" class="_e725ae-status" data-grammarly-reactid=".0.0.0">
					&nbsp;
				</div>
			</div>
			<span class="_e725ae-btn_text" data-grammarly-reactid=".0.1">Not signed in</span>
		</div>

		<input type="hidden" id="external" name="external" value="1"/>
		<div class="g-recaptcha" title="reCAPCHA" data-sitekey="6LdFORIUAAAAAIgJPQBlcE7hEMMuRf8T6Vlfp_xb"></div>

		<p style="display: none; visibility: hidden" class="extrainfo visually-hidden">
			<label for="00Nt0000000FsTK">Please ignore this box.</label>
			<input id="00Nt0000000FsTK" maxlength="255" name="00Nt0000000FsTK" size="20" type="text"/>
		</p>
		<p>
			<input class="usa-button usa-button--secondary usa-button--big" type="submit" name="submit" value="Enviar" onclick="return submitPressed();"/>
		</p>
	</form>
</div>
<p class="clearfix"></p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
{{ attach_library('usagov/reportAProblem') }}
