<div class="usa-prose">
	<h2 id="address-heading">Your address:</h2>

	<div class="border-left-1 border-gray-10 padding-left-2 margin-top-1">
		<p style="margin-top: 0px;" id="display-address">
			Street Address<br>
			City, State, Zip
		</p>

		<p id="edit-address-link"></p>
	</div>
	<div id="resultsSection" class="usa-prose">
		<h2>Your results:</h2>
		<p>Expand the following results and reveal the contact information for the elected officials at each level of government. Then, select their name to see how to contact them and their staff.</p>
	</br>
	<div id="results"></div>
</div>
<h2>Other ways to find elected officials</h2>

<p>Did you not find the elected official you were looking for? See <a href="/elected-officials#other-options">other ways to find elected officials</a>.</p></div>
