{% set lang = node.langcode.value %}
<div class="usa-footer__secondary-section">
	<div class="grid-container">
		<div class="grid-row grid-gap">

			<div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
				<span id="bottom-phone">

					<div class="mobile-lg:grid-col-auto">
						<h4 class="usa-footer__logo-heading">
							{{ lang == 'es' ?  "Centro de contacto de USAGov en Español" : "USAGov Contact Center"  }}
						</h4>
					</div>

					<div class="mobile-lg:grid-col-auto">
						<p class="footer-question">
							{{ lang == 'es' ?   "Haga una pregunta a USAGov en Español al" : "Ask USA.gov a question at" }}
						</p>

						<address class="usa-footer__address">
							<div class="usa-footer__contact-info grid-row grid-gap">
								{% if lang =="es" %}
									<a href="/es/centro-de-llamadas">
									{% else %}
										<a href="/phone">
										{% endif %}
										1-844-USAGOV1 (1-844-872-4681)
									</a>
								</div>
							</address>

						</div>

					</span>
				</div>

				<div class="usa-footer__contact-links mobile-lg:grid-col-6">
					<h4 class="usa-footer__contact-heading">
						{{ lang == 'es' ?   "Encuéntrenos en las  redes sociales" : "Find us on social media" }}
					</h4>

					<div class="usa-footer__social-links en-links grid-row grid-gap-1">

						<div class="grid-col-auto">
							{% if lang == "es" %}
								<a class="usa-social-link" href="https://www.facebook.com/usagovespanol" alt="Facebook USAGov">
								{% else %}
									<a class="usa-social-link" href="https://www.facebook.com/USAgov" alt="Facebook USAGov">
									{% endif %}
									<img src="/themes/custom/usagov/images/footer_icon_facebook.svg" alt="Facebook USAGov"/>
									<span>Facebook</span>
								</a>
							</div>

							<div class="grid-col-auto">
								{% if lang == "es" %}
									<a class="usa-social-link" href="https://twitter.com/usagovespanol" alt="Twitter USAGov">
									{% else %}
										<a class="usa-social-link" href="https://twitter.com/USAgov" alt="Twitter USAGov">
										{% endif %}
										<img src="/themes/custom/usagov/images/footer_icon_twitter.svg" alt="Twitter USAGov"/>

										<span>Twitter</span>
									</a>
								</div>

								<div class="grid-col-auto">
									{% if lang == "es" %}
										<a class="usa-social-link" href="https://www.youtube.com/USAgovespanol" alt="YouTube USAGov">
										{% else %}
											<a class="usa-social-link" href="https://www.youtube.com/usagov1" alt="YouTube USAGov">
											{% endif %}
											<img src="/themes/custom/usagov/images/footer_icon_youtube.svg" alt="Youtube USAGov"/>

											<span>YouTube</span>
										</a>
									</div>

									{% if lang != "es" %}
										<div class="grid-col-auto">
											<a class="usa-social-link" href="https://www.instagram.com/usagov/" alt="Instagram" usagov>
												<img src="/themes/custom/usagov/images/footer_icon_instagram.svg" alt="Instagram USAGov"/>

												<span>Instagram</span>
											</a>
										</div>
									{% endif %}

								</div>

							</div>

						</div>
					</div>
				</div>
