<div class="usa-identifier">
   <section class="usa-identifier__section usa-identifier__section--usagov"
      aria-label="USAGov is the Official Guide to Government Information and Services">
      <div class="usa-identifier__container">
         <div class="usa-identifier__usagov-description">
            USAGov is the Official Guide to <span>Government Information and Services</span>
         </div>
      </div>
   </section>
 </div>