{% set current_url = "#{path('<current>')}" %}
  
<nav aria-label="Secondary navigation">
  <ul class="usa-sidenav">
    <li class="usa-sidenav__item">
      <a href="/about-the-us" class="active-trail">
        About the U.S. and its government
      </a>

      <ul class="usa-sidenav__sublist">
        <li class="usa-sidenav__item">
          <a href="/agency-index">
            A-Z index of U.S. government departments and agencies
          </a>
	  <ul class="usa-sidenav__sublist">
            <li class="usa-sidenav__item"> 
              <a class="usa-current" href={{current_url}}>{{ drupal_title() }} </a>
            </li>   
	  </ul>
	</li>
        <li class="usa-sidenav__item">
          <a href="/facts-figures">
            U.S. facts and figures
          </a>
        </li>
        <li class="usa-sidenav__item">
          <a href="/branches-of-government">
            Branches of government
          </a>
        </li>
        <li class="usa-sidenav__item">
          <a href="/elected-officials">
            Elected officials
          </a>
        </li>
	{# 
        <li class="usa-sidenav__item">
          <a href="/states">
            State governments
          </a>
        </li>
	#}
        <li class="usa-sidenav__item">
          <a href="/buy-from-government">
            Buying from the U.S. government
          </a>
        </li>
        <li class="usa-sidenav__item">
          <a href="/tribes">
            Indian tribes and resources for Native Americans
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>  
