<ul class="usa-nav__primary usa-accordion">
	{% for item in items %}
		<li class="usa-nav__primary-item usa-nav___primary-item-smaller-padding">
			<a href={{ item.url }} class="usa-nav__link">
				<span>{{ item.title }}</span>
			</a>
		</li>
	{% endfor %}
</ul>
