<nav aria-label="Secondary navigation">
  <ul class="usa-sidenav">
    <li class="usa-sidenav__item"> 
      <a class="active-trail" href="/about-the-us"> About the U.S and Its Government </a>
    </li>      
    <ul class="usa-sidenav__sublist">
      <li class="usa-sidenav__item relatedPage"> 
        <a class="" href="/elected-officials">Elected Officials </a>
      </li>
      <li class="usa-sidenav__item"> 
        <a class="active-trail" href="/agency-index">Directory of U.S Government Agencies and Departments </a>
      </li>
        <ul class="usa-sidenav__sublist">
        <li class="usa-sidenav__item"> 
          <a class="usa-current" href="agencies/agency-placeholder">Agency Placeholder </a>
        </li>   
      </ul>
      <li class="usa-sidenav__item relatedPage"> 
        <a class="" href="/branches-of-government">Branches of Government </a>
      </li>
      <li class="usa-sidenav__item relatedPage"> 
        <a class="" href="/facts-figures">U.S Facts and Figures </a>
      </li>
      <li class="usa-sidenav__item relatedPage"> 
        <a class="" href="/buy-from-government">Buying from the U.S Government </a>
      </li>
      <li class="usa-sidenav__item relatedPage"> 
        <a class="" href="/tribes">Indian Tribes and Resources for Native Americans </a>
      </li>
    </ul>
  </ul>
</nav>