
<li class="tablet:grid-col-4 usa-card featuredPagesLoop {{item.relationship}}">
    <a href="{{item.url}}" class="usa-card__container usagov-card text-no-underline">
      <header class="usa-card__header">
        <h2 class="usa-card__heading usagov-card__heading">{{item.title}}</h2>
      </header>
      <div class="usa-card__body padding-top-0 usa-prose">
        <p>{{item.intro}}</p>
      </div>
    </a>
</li>