{{dd(content)}}

<table class="usagov-directory-table">
{% for key, item in content %}
  {% if key == "field_official_website_primary" %}
    <tr>
      <td>
        <h3>Website</h3>
        <a href=item[0]>{{item[0]}}</a>
      </td>
    </tr>
  {% endif %}

  {% if key == "field_contact_link" %}
    <tr>
      <td>
        <h3>Contact</h3>
        <ul>
          {% if key == "field_contact_link" %}
            <li><a href=item[0]>{{item[0]}}</a></li>
          {% endif %}
        </ul>
      </td>
    </tr>
  {% endif %}

{% endfor %}
</table>