{% set lang = node.langcode.value %}

<div class="main-grid">
	{% include directory ~ '/templates/includes/homepage-banner.html.twig' %}

	<div class="blue-back"></div>
	{% include directory ~ '/templates/includes/homepage-how-box.html.twig' %}

	<div class="jump jump1">
		{% include directory ~ '/templates/includes/homepage-all-topics-jump.html.twig' %}
	</div>

	{% include directory ~ '/templates/includes/homepage-life-events.html.twig' %}

	<div class="jump jump2">
		{% include directory ~ '/templates/includes/homepage-all-topics-jump.html.twig' %}
	</div>

	{% include directory ~ '/templates/includes/homepage-all-topics.html.twig' %}

	<a id="back-to-top" href="#main-content">
		{{ lang == 'en' ? 'Top' : 'Subir' }}
	</a>

</div>
