{% if (usagov_show_benefits_landing_block != true) %}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/accessible-slick-theme.min.css">
{% endif %}

<div class="main-grid">
	{% include directory ~ '/templates/includes/homepage-banner.html.twig' %}

	<div class="blue-back"></div>
	{% include directory ~ '/templates/includes/homepage-how-box.html.twig' %}

	<div class="jump jump1">
		{% include directory ~ '/templates/includes/homepage-all-topics-jump.html.twig' %}
	</div>

  {% if (usagov_show_benefits_landing_block) %}
    <div class="benefits-block-bg">
      {% include directory ~ '/templates/includes/homepage-benefits-block.html.twig' %}
    </div>
  {%  else  %}
	  {% include directory ~ '/templates/includes/homepage-life-events.html.twig' %}
  {%  endif  %}

	{% include directory ~ '/templates/includes/homepage-all-topics.html.twig' %}
</div>
