{{ dd() }}

{# TODO: delete or edit file #}

{# <p>
  Find contact information for each state or territory.
</p>
<label class="usa-label" for="state">Select your state:</h3>
<div class="sd-container">
  <div class="usa-combo-box" data-default-value="alabama">
    <select class="usa-select" name="state" id="state">
        {% for key, obj in content["field_placeholder"] %}
            {% if key matches '/^\\d+$/' %}
                <option value={{content["field_placeholder"]}}>{{content["field_placeholder"]}}</option>
            {% endif %}
        {% endfor %}
    </select>
  </div>
  <button class="usa-button sd-go-btn" type="submit">Go</button>
</div> #}
