<div class="usa-navbar">
	<div class="usa-logo" id="extended-logo">
		<em class="usa-logo-text">
			<a href="/es" title="USAGov Logo"><img class="es" src="/themes/custom/usagov/images/Logo_USAGov_Spanish.png" alt="Ir a la página principal de USAGov en Español"></a>
		</em>
	</div>

	<div class="navbar-right">
    {% block translation %}
      {% set translation = node.field_language_toggle[0].value %}
      {% if translation %}
        {% if node.nid[0].value|render == "1" %}
          {% set translation_url = "/" %}
        {% else %}
          {% set translation_url = drupal_url('node/'~translation.target_id,{ langcode:'en' }) %}
        {% endif %}

        <a href="{{ translation_url }}" class="usa-button language-link" role="button" hreflang="en">English</a>
      {% endif %}
    {% endblock %}
		<button class="usa-menu-btn">Menú</button>
		<div class="usa-nav__secondary">
			<span class="usa-nav__secondary-links">
				<span id="top-phone" class="usa-nav__secondary-item">
					<a href="/es/llamenos" style="white-space: nowrap;">Llámenos al 1-844-USAGOV1</a>
				</span>
			</span>
			<!-- Search Bar -->
			{% embed 'usagov:searchbar' with {
				form_classes: "usa-search usa-search--small",
				form_id:"usagov_es_internal-desktop",
				label_id: "top-srch",
				for_string:"search-field-small",
				label_string:"Buscar",
				hidden_input_id:"affiliate",
				value_string:"usagov_es_internal",
				input_id:"search-field-small",
				input_classes:"usa-input text usagov-search-autocomplete ui-autocomplete-input",
				placeholder_string:"Busque en este sitio...",
				button_classes:"usa-button usagov-button",
				alt_string:"Buscar",
			} %}
			{% endembed %}
		</div>
	</div>
</div>
<nav aria-label="Navegación primaria" class="usa-nav">
	<div class="usa-nav__inner">
		<button class="usa-nav__close">
			<img src="/themes/custom/usagov/assets/img/usa-icons/close.svg" alt="Close"/>
		</button>
		{{ drupal_menu('top-navigation-es') }}
	</div>
</nav>
