{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('usagov/benefitSearch') }}

{% if attributes -%}
<div{{ attributes }}>
  {% endif %}

  <form id="benefitSearch" action="javascript:void(0)">

      <ul class="usa-list--unstyled" style="column-count: 3; column-width: 10rem">
      {% for row in rows %}
        <li class="padding-bottom-1">{{- row.content -}}</li>
      {% endfor %}

        <li><label><input type="checkbox" value="all" style="display: inline-block; padding-right: 1rem;"> Select All</label></li>
      </ul>

      <div class="grid-col-auto margin-top-4">
        <button class="usa-button" type="submit">Apply Selections</button>
        <button class="usa-button usa-button--outline" type="reset">Clear Selections</button>
      </div>


  </form>

{% if attributes -%}
  </div>
{% endif %}

<div id="matchingBenefits" aria-live="polite"></div>
