{% if view.title == "Life Events Carousel"%}
	<div class="grid-container padding-left-0 padding-right-0 margin-0">
		<div class="usagov-cards">
			<div class="usa-card-group">
				<div id="slides-list" class="slides">
					{% for row in rows %}
						<div class="slide usa-card" aria-label="slide {{loop.index}} of 6">
							<a href="{{ drupal_url('node/' ~ row.content["#row"].nid) }}" class="usa-card__container usagov-card text-no-underline">
								{{- row.content -}}
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endif %}
