{#
/**
**/
#}
{% if view.current_display == "block_5" and view.title == "Life Events Carousel"%}
  <header class="usa-card__header">
    <h2 class="usa-card__heading usagov-card__heading">
      {{row.node_field_data_title}}
    </h2>
  </header>
  <div class="usa-card__body padding-top-0 usa-prose">
    <p>{{ row.node__field_page_intro_field_page_intro_value}}</p>
  </div>
  {{row.node__field_navigation_banner_image_field_navigation_banner_}}
  {# {{ devel_breakpoint() }} #}
{% endif %}
