[req]
distinguished_name = usagov_dev_cache
x509_extensions = v3_req
prompt = no

[usagov_dev_cache]
C = US
ST = DC
L = DC
O = US
OU = GSA
CN = cache

[v3_req]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth