load_module modules/ngx_http_modsecurity_module.so;
load_module modules/ngx_http_lua_module.so;
user nginx;

# Set number of worker processes automatically based on number of CPU cores.
worker_processes auto;


pid /var/run/nginx.pid;

# Configure default error logger.
error_log /var/log/nginx/error.log warn;

# Includes files with directives to load dynamic modules.
#include /etc/nginx/modules/*.conf;

events {
        # The maximum number of simultaneous connections that can be opened by
        # a worker process.
        worker_connections 1024;
}

http {
  # Includes mapping of file name extensions to MIME types of responses
  # and defines the default type.
  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  sendfile on;
  tcp_nopush on;

  client_max_body_size 512m;

  keepalive_timeout 60s;

  resolver ${DNS_SERVER} valid=5s ipv6=off;

        # Enable gzipping of responses.
        gzip on;

        # Set the Vary HTTP header as defined in the RFC 2616.
        gzip_vary on;

        # Enable checking the existence of precompressed files.
        gzip_static on;

        # Compress all output labeled with one of the following MIME-types.
        # `text/html` is always compressed by gzip module. cf github.com/h5bp
        # Default: text/html
        gzip_types
          application/atom+xml
          application/geo+json
          application/javascript
          application/x-javascript
          application/json
          application/ld+json
          application/manifest+json
          application/rdf+xml
          application/rss+xml
          application/vnd.ms-fontobject
          application/wasm
          application/x-web-app-manifest+json
          application/xhtml+xml
          application/xml
          font/eot
          font/otf
          font/ttf
          image/bmp
          image/svg+xml
          image/vnd.microsoft.icon
          image/x-icon
          text/cache-manifest
          text/calendar
          text/css
          text/javascript
          text/markdown
          text/plain
          text/xml
          text/vcard
          text/vnd.rim.location.xloc
          text/vtt
          text/x-component
          text/x-cross-domain-policy;


        # Specifies the log formats.
        log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                        '$status $body_bytes_sent "$http_referer" '
                        '"$http_user_agent" "$http_x_forwarded_for"';
        log_format common '$remote_addr - $remote_user [$time_local] "$request"';
        log_format extended '$remote_addr - $remote_user [$time_local] "$request" '
                        '$status $body_bytes_sent "$http_referer" '
                        '"$http_user_agent" "$http_x_forwarded_for" '
                        'vcap_request_id=$http_x_vcap_request_id';
    access_log /var/log/nginx/access.log extended;
    
    # setup the scheme to use on redirects
    map $http_x_forwarded_proto $redirect_scheme {
        default http;
        http http;
        https http;
    }

  real_ip_header X-Forwarded-For;
  set_real_ip_from 127.0.0.1/32;
  set_real_ip_from 10.0.0.0/8;
  set_real_ip_from 172.16.0.0/12;
  set_real_ip_from 192.168.0.0/16;
  set_real_ip_from 52.222.122.97/32;
  set_real_ip_from 52.222.123.172/32;
  real_ip_recursive on;

  include /etc/nginx/conf.d/*.conf;
}
