
    # english 404 chain

    location @notFoundEnglish {
      allow all;

      # Decode the URI for proper matching
      set $decoded_uri $uri;
      if ($decoded_uri ~* ^(.+?)(%C2%A0|\xA0|%E2%80%89|\xE2\x80\x89|%E2%80%83|\xE2\x80\x83)+$) {
          set $clean_uri $1;
          return 301 $clean_uri;
      }
      # Match and strip other partial %C2 sequences from the end of the URI
      if ($uri ~* ^(.+?)(%C2|\xC2)+$) {
          set $clean_uri $1;
          return 301 $clean_uri;
      }

      error_page 403 404 @notFoundEnglishFallback;
      proxy_intercept_errors on;
      recursive_error_pages on;
      set $errorfile "${S3_PROXY_WEB}${EN_404_PAGE}";
      proxy_pass https://$errorfile;
      # Don't send headers or body to S3.
      proxy_pass_request_headers off;
      proxy_pass_request_body off;
    }
    location @notFoundEnglishFallback {
      allow all;
      default_type text/plain;
      return 404 'English Page Not Found';
    }


    # spanish 404 chain

    location @notFoundSpanish {
      allow all;
      error_page 403 404 @notFoundSpanishFallback;
      proxy_intercept_errors on;
      recursive_error_pages on;
      set $errorfile "${S3_PROXY_WEB}${ES_404_PAGE}";
      proxy_pass https://$errorfile;
      # Don't send headers or body to S3.
      proxy_pass_request_headers off;
      proxy_pass_request_body off;
    }
    location @notFoundSpanishFallback {
      allow all;
      default_type text/plain;
      return 404 'Spanish Page Not Found';
    }
