##################################################
# Prod hosts: www and beta

server {
    listen 80;

    server_name www.usa.gov;

    include /etc/nginx/partials/www_common.conf;
}

server {
    listen 443 ssl;
    include partials/ssl.conf;

    server_name www.usa.gov;

    include /etc/nginx/partials/www_common.conf;

    ### We might want to add something like this back. There were problems with it that weren't fully understood
    ### rewrite ^/es$ /es/ permanent; # special; cannot be applied to the CMS because Drupal redirects /es/ to /es
}

server {
    listen 80;

    server_name beta.usa.gov;

    return 301 https://www.usa.gov$request_uri;
}

server {
    listen 443 ssl;
    include partials/ssl.conf;

    server_name beta.usa.gov;

    return 301 https://www.usa.gov$request_uri;

}

##################################################
# Staging

server {
    listen 80;

    server_name beta-stage.usa.gov;

    include /etc/nginx/partials/www_common.conf;

    # Only www.usa.gov should be indexed.
    add_header X-Robots-Tag noindex;
}

server {
    listen 443 ssl;
    include partials/ssl.conf;

    server_name beta-stage.usa.gov;

    include /etc/nginx/partials/www_common.conf;

    # Only www.usa.gov should be indexed.
    add_header X-Robots-Tag noindex;

    ### We might want to add something like this back. There were problems with it that weren't fully understood
    ### rewrite ^/es$ /es/ permanent; # special; cannot be applied to the CMS because Drupal redirects /es/ to /es
}

##################################################
# Dev

server {
    listen 80;

    server_name beta-dev.usa.gov;

    include /etc/nginx/partials/www_common.conf;

    # Only www.usa.gov should be indexed.
    add_header X-Robots-Tag noindex;
}

server {
    listen 443 ssl;
    include partials/ssl.conf;

    server_name beta-dev.usa.gov;

    include /etc/nginx/partials/www_common.conf;

    # Only www.usa.gov should be indexed.
    add_header X-Robots-Tag noindex;

    ### We might want to add something like this back. There were problems with it that weren't fully understood
    ### rewrite ^/es$ /es/ permanent; # special; cannot be applied to the CMS because Drupal redirects /es/ to /es
}
