@use "usagov-variables" as *;
@use "uswds-core" as *;

.benefits-category-list {
  margin-left: calc(-0.5 * (100vw - 100%));
  margin-right: calc(-0.5 * (100vw - 100%));
  padding: 20px;
  padding-left: calc(0.5 * (100vw - 100%));
  padding-right: calc(0.5 * (100vw - 100%));

  background-color: $homepage-light-blue-background;
}
.benefits-category-list .grid-row {
  flex-direction: column-reverse;
  @media (min-width: 640px) {
    flex-direction: row;
  }
}
.benefits-category-list .usa-button--secondary {
  background-color: $fed-white-background;
}
.benefits-category-list li {
  break-inside: avoid;
}

.benefits-category-list-checkbox-cols {
  column-count: 2;
  column-gap: 1rem;
  width: 100%;

  @media (min-width: 640px) {
    column-count: 3;
    width: calc(100% - 8rem);
  }
}

.benefits-category-list-checkbox-all {
  width: 100%;
  @media (min-width: 640px) {
    width: 8rem;
  }
}

.benefits-category-result {
  border-bottom: 2px solid $fed-gray-border;
}

.benefits-result-categories {
  padding-top: 20px;
}
.benefits-result-text {
  padding-right: 20px;
}
.benefits-result-categories span {
  display: inline-block;
  padding: 3px 8px;
  margin-right: 5px;
  margin-bottom: 10px;
  outline: 2px solid $secondary-border;
  border-radius: 5px;
}
