@use "usagov-variables" as *;

.life-events {
  background-color: var($deep-blue);
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 0;
  max-width: 100%;

  h2 {
    font-family: "Merriweather Web", Georgia, Cambria, "Times New Roman", Times,
      serif;
    font-size: var($homepage, medium-font-size);
    margin: 0;
    padding-top: 50px;
  }

  p {
    font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto,
      Arial, sans-serif;
    font-size: var($homepage, small-font-size);
    padding-top: 13px;
  }
}

.life-events-carousel {
  margin: 40px 0 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex: 1 0 auto;

  .grid-container {
    width: 100%;
  }

  .usagov-cards {
    background-color: transparent;
    padding: 0;
  }

  .usa-card__container {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: column;
  }

  .usagov-card {
    border: none;
  }
}

#slidesList {
  .slick-prev {
    grid-area: prevIcon;
    align-self: center;
    justify-self: start;
    left: 0;
  }

  .slick-list {
    grid-area: slides;
    justify-self: center;
    width: 100%;
    max-width: 100%;
    text-align: center;

    .slick-track {
      display: flex !important;

      .slick-slide {
        height: inherit !important;
        display: flex !important;
        justify-content: center;
      }
    }
  }

  .slick-next {
    grid-area: nextIcon;
    align-self: center;
    justify-self: end;
    right: 0;
  }

  .slick-dots {
    grid-area: navDots;
    display: flex;
    position: static;
    bottom: 0;
    padding: 0;
    margin: 30px 0 10px;
    height: 44px;
    justify-content: space-between;

    li {
      margin-left: 0;
      margin-right: 0;
      width: 44px;

      button {
        width: 100%;
        height: 100%;
        margin: 0;
        padding-inline: 0;

        .slick-dot-icon {
          width: 100%;
          height: 100%;
          opacity: 1;
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Ccircle cx='22' cy='22' r='11' stroke='%2300bde3' stroke-width='3' fill='transparent' /%3E%3C/svg%3E");

          &:before {
            position: relative;
            content: "";
          }
        }

        &:hover {
          .slick-dot-icon {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Ccircle cx='22' cy='22' r='11' stroke='white' stroke-width='3' fill='transparent' /%3E%3C/svg%3E");
          }
        }
      }

      &.slick-active {
        button {
          width: 100%;
          height: 100%;

          .slick-dot-icon {
            width: 100%;
            height: 100%;
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Ccircle cx='22' cy='22' r='11' stroke='%2300bde3' stroke-width='3' fill='%2300bde3' /%3E%3C/svg%3E");

            &:before {
              position: relative;
              content: "";
            }
          }
        }
      }
    }
  }

  display: grid;
  grid-template-columns: 55px 1fr 55px;
  grid-template-rows: auto;
  grid-template-areas: "prevIcon slides nextIcon"
  ". navDots .";

  .slick-prev,
  .slick-next {
    width: 44px;
    height: 44px;
    border: none;
    position: relative;
    top: 0px;
    display: inline-block;
  }

  .slides {
    max-width: 100%;
  }

  .slide {
    height: 98%;
    margin-top: 4px;
    border: 1px solid #53BBDF;
    border-radius: 4px;
    box-shadow: 4px 4px 4px 0 rgba(0 0 0 / 35%);
    padding: 0;
    margin-right: 4px;
    max-width: 236px;
    text-align: left;

    &:focus-within {
      border: 4px solid #c05600;
    }

    a {
      color: var($white);
      text-decoration: none;
      display: flex;

      &:visited {
        color: var($white);
        text-decoration: none;
      }

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: transparent;

        h3 {
          text-decoration: underline;
          text-decoration-color: initial;
          text-decoration-thickness: initial;
        }

        .thumbnailBanner {
          opacity: 0.5;
        }
      }

      .life_events_card_text {
        padding: 12px 12px 0;
        flex: 1 0 auto;
      }
    }

    h3 {
      margin: 0;
      color: var($cyan-30v);
      text-decoration: none;
      font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto,
        Arial, sans-serif;
    }

    p {
      margin: 0;
      font-weight: normal;
      font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-size: var($homepage, small-font-size);
      padding-top: 10px;
    }

    .usa-card__container {
      margin: 0;
    }

    .usa-card__body:last-child {
      padding-bottom: 0;
    }
  }
}

.thumbnailDiv {
  background: #ccecf2;
  width: 100%;
  height: 75px;
  margin: 0;
  box-shadow: 0 6px 6px var($blue-shadow);
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  flex: 0 0 75px;
}

.thumbnailBanner {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  margin: 0;
  border-radius: 0 0 4px 4px;
}

/* Tablet */
@media (min-width: 640px) {
  #slidesList {
    .slick-list {
      .slick-track {
        .slick-slide {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }

    .slide {
      max-width: 260px;
    }

    .slick-dots {
      justify-content: center;
    }
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .life-events-carousel {
    width: 960px;
  }

  .carousel-mover {
    width: 960px;
    max-width: 960px;
    margin: auto;

    .usagov-cards,
    .usa-card-group,
    #slidesList {
      width: 100%;
      max-width: 100%;
      padding: 0;
      margin: 0;

      .slick-list {
        width: 850px;
        max-width: 850px;
      }

      .slick-dots {
        margin-bottom: 70px;
      }
    }
  }
}
