#myform div.margin-x-auto {
  @media (max-width: 30em) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

#myform div.maxw-mobile {
  max-width: 26rem;
}

.ceo-button-container {
  display: flex;

  // Manages where the button is going to be positioned.
  // Example: center, right, left.
  justify-content: center;
}

.ceo-button {
  margin-inline: 0 !important;
  width: fit-content;
}

// Hides the City or County accordion header when there are no results.
.usa-accordion__heading-hidden {
  display: none;
}

// To even out spacing among accoridan boxes
.usa-accordion__heading:not(:first-child),
.usa-prose .usa-accordion__heading:not(:first-child) {
  margin-top: 1em;
}

// To even out spacing among accoridan boxes
.usa-accordion .usa-accordion__content>h4.usa-accordion__heading {
  margin-top: 0;
}

// To even out spacing among accoridan boxes
.usa-accordion.usa-accordion__content.usa-prose {
  padding-bottom: 0;
  padding-top: 1em;
}

// To even out spacing among accoridan boxes
.usa-accordion__content>:last-child {
  margin-top: 0;
}