@use "usagov-variables" as *;
@use "uswds-core" as *;

.usagov-ai-chatbot-container {
    position: fixed;
    z-index: 50;
    right: 0;
    bottom: 0;
    overflow: scroll;
    width: 320px;
    margin-bottom: 0 !important;
    margin-right: 10px;
    
    @include u-bg('white');
    @include u-border(2px, 'solid', 'gray-90');
  }
  
  .usagov-ai-chatbot-header {
    display: flex;
    justify-content: space-between;
  
    @include u-bg('cyan-30v');
    @include u-padding-x(16px);
    @include u-padding-y(8px);
  }
  
  .usagov-ai-chatbot-title {
    display: flex;
    align-self: center;
  
    @include u-font-size('sans', 'md');
    @include u-text('gray-90');
    @include u-text('bold');
  }
  
  .usagov-ai-chatbot-experimental {
    width: fit-content;
    height: fit-content;
    align-self: center;
    border-radius: 4px;
    font-size: 12px;
  
    @include u-text('gray-90');
    @include u-text('bold');
    @include u-bg('white');
    @include u-border(2px, 'solid', 'gray-90');
    @include u-padding-x(4px);
    @include u-padding-y(2px);
    @include u-margin-left(8px);
  }
  
  .usagov-ai-chatbot-disclaimer {
    height: fit-content;
    text-align: center;
    margin-bottom: 16px;
  }
  
  .usagov-ai-chatbot-disclaimer-title {
    @include u-font-size('sans', 'md');
  }
  
  .usagov-ai-chatbot-disclaimer-body {
    @include u-font-size('sans', 'xs');
  }
  
  .usagov-ai-chatbot-messages {
    height: 357px;
    overflow-y: auto;
    @include u-padding-x(16px);
    @include u-padding-y(8px);
  }
  
  .usagov-ai-chatbot-message {
    display: flex;
    align-items: center;

    @include u-margin-bottom(8px);
  }
  
  #userMessage {
    padding: 8px;
  }
  
  #usagov-ai-chatbot-toogle {
    border: none;
    background: none;
    font-size: 24px;
  }
  
  .usagov-ai-chatbot-message.user {
    justify-content: flex-end;
  }
  
  .usagov-ai-chatbot-message.bot {
    justify-content: flex-start;
  }
  
  .usagov-ai-chatbot-message img {
    border-radius: 50%;
    align-self: end;
    width: 32px;
    height: 32px;
  }

  .usagov-ai-chatbot-message img.bot {
    margin-right: 8px;
  }

  .usagov-ai-chatbot-message img.user {
    margin-left: 8px;
  }
  
  .usagov-ai-chatbot-message .text {
    @include u-bg('cyan-10');
    @include u-padding-x(8px);
    @include u-padding-y(4px);
    max-width: 90%;
    border-radius: 4px;
  }
  
  .usagov-ai-chatbot-message .text p {
    margin: 0;
  }
  
  .usagov-ai-chatbot-message.user .text{
    @include u-bg('blue-80v');
    @include u-text('white');
  }
  
  .usagov-ai-chatbot-suggestion-button {
    border-radius: 4px;
  
    @include u-text('gray-90');
    @include u-text('normal');
    @include u-bg('white');
    @include u-border(1px, 'solid', 'gray-90');
    @include u-padding-x(8px);
    @include u-padding-y(4px);
    @include u-margin-bottom(8px);
    @include u-margin-right(2px);
  }
  
  .usagov-ai-chatbot-suggestion-button:hover {
    @include u-bg('gray-5');
  }
  
  .usagov-ai-chatbot-input-container {
    height: 74px;
    display: flex;
    padding: 16px;
  }
  
  .usagov-ai-chatbot-input {
    flex: 75%;
    border-radius: .25rem;
    margin-top: 0;
    align-self: center;
  }
  
  .usagov-ai-chatbot-input-button {
    flex: 25%;
    height: 2.5rem;
    align-self: center;
    margin: 0;
    margin-left: 4px;
  
    @include u-padding-x(16px);
    @include u-padding-y(8px);
  }
  
  .usagov-ai-chatbot-body {
    display: flex;
    flex-direction: column;
  
    @include u-border-top(2px, 'solid', 'gray-90');
  }
  
  /* When Chat is Open */
  .usagov-ai-chatbot-container.chat-open {
    transform: translateY(0);
  }
  
  /* When Chat is Collapsed */
  .usagov-ai-chatbot-container.chat-collapsed {
    margin-bottom: 50px;
    transform: translateY(433px);
  }
  
  /* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  margin-inline: 20px;
  margin-block: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}