@use "usagov-variables" as *;

// $alert: var( $usagov-variables, alert );

.usa-alert:not(.usa-alert--info):not(.usa-alert--warning):not(.usa-alert--error):not(.usa-alert--success) {
  border-color: var($alert, border-color);
  background-color: var($alert, background-color);
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}