@use "usagov-variables" as *;

.usagov-directory-text {
  font-size: 0.9rem;
}

.usagov-directory-page-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.usagov-directory-container {
  padding: 3rem;
  // max-width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  box-shadow: inset 0px 0px 0px 0.15rem rgb(231, 231, 231);
}

.usagov-directory-container-az {
  list-style: none;
  max-width: 35rem;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(37px, 1fr));
  gap: 20px;
}

.usagov-directory-container-az li a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;
  background-color: #ccecf2;
  box-shadow: 0px 0px 0px 0.15rem #0081a1;
  border-radius: 0.01rem;
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-transition: 200ms;
}


.usagov-directory-container-az a:hover {
  box-shadow: 0px 0px 0px 0.15rem #000000;
  background-color: white;
  -webkit-transition: 200ms;
}

hr.bl-divider {
  background: rgb(231, 231, 231);
  border: 0px;
  height: 0.15rem;
  width: auto;
}

.usagov-directory-search-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.fed-directory-search-bar {
  height: 2rem;
  box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  box-shadow: 0px 0px 0px 0.2rem #0081a1;
  background-color: #ccecf2;
}

.fed-directory-search-input {
  width: 14rem;
  background-color: #ccecf2;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  border-style: none;
  text-overflow: ellipsis;
}

.fed-directory-search-btn {
  background-color: #ccecf2;
  outline: none;
  cursor: pointer;
  border-style: none;
  border-left: 3px solid #ffff;
  outline-style: none;
  margin-left: 0;
  margin-right: 0;
}

.fed-directory-search-btn:hover {
  background-color: white;
  -webkit-transition: 200ms;
}

.usagov-directory-letter-heading {
  text-align: center;
  line-height: 3.8rem;
  font-size: 2.5rem;
  color: #000000;
  outline: solid 0.15rem black;
  width: 3.8rem;
  height: 3.8rem;
}

.usagov-directory-bottom-nav-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.usagov-directory-bottom-nav-link {
  text-decoration: none;
  text-align: center;
  line-height: 3.8rem;
  font-size: 2.5rem;
  color: #000000;
  outline: solid 0.15rem #0081a1;
  background-color: #ccecf2;
  font-weight: 600;
  width: 3.8rem;
  height: 3.8rem;
  -webkit-transition: 200ms;
}

.usagov-directory-bottom-nav-link:hover {
  outline: solid 0.15rem black;
  color: #000000;
  background-color: white;
  -webkit-transition: 200ms;
}

.usagov-directory-bottom-nav-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  background-color: none;
  outline: none;
  box-shadow: none;
}

.usagov-directory-bottom-nav-arrow {
  text-decoration: none;
}

.usagov-directory-bottom-nav-arrow:hover {
  cursor: pointer;
}

// Accordion Section
.usagov-directory-accordion-container {
  // display: flex;
  font-family: serif;
  font-size: small;
}

.usagov-directory-accordion-container div {
  p.h-bold {
    font-weight: bold;
  }

  div {
    display: flex;
    p:first-child {
      font-weight: bold;
    }
  }
}

// Directory Detail Page
.usagov-directory-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 75px;

  tr {
    border: solid 1.5px #d3d2d2;
    margin: 0;
  }

  tr td {
    padding: 2.25rem 2rem;
  }

  tr:nth-child(odd) td {
    background-color: #f2f2f2;
  }
}

.usagov-directory-table tbody {
  padding: 0;
}

.usagov-directory-table h3 {
  margin: 0;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.usagov-directory-table p {
  margin: 0;
}

.usagov-directory-table ul {
  margin: 0;
  padding-left: 1rem;
}
