@use "usagov-variables" as *;

.usagov-directory-text {
  font-size: 0.9rem;
}

.usagov-directory-page-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.usagov-directory-container {
  padding: 3rem;
  // max-width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  box-shadow: inset 0px 0px 0px 0.15rem rgb(231, 231, 231);
}

.usagov-directory-container-az {
  list-style: none;
  max-width: 35rem;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
  gap: 1rem;
}

.usagov-directory-container-az li a {
  text-decoration: none;
  color: #000000;
  display: block;
  height: 100%;
}

.usagov-directory-container-az li {
  box-shadow: inset 0px 0px 0px 0.15rem #a7d8e3;
  box-sizing: border-box;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background-color: #ccecf2;
  border-radius: 0.1rem;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 3rem;
  -webkit-transition: 200ms;
}

.usagov-directory-container-az li:hover {
  box-shadow: inset 0px 0px 0px 0.15rem black;
  background-color: white;
  -webkit-transition: 200ms;
}

hr.bl-divider {
  background: rgb(231, 231, 231);
  border: 0px;
  height: 0.15rem;
  width: auto;
}

.usagov-directory-search-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.fed-directory-search-bar {
  height: 2rem;
  box-sizing: border-box;
  border-radius: 0.1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  box-shadow: 0px 0px 0px 0.2rem #a7d8e3;
  background-color: #ccecf2;
}

.fed-directory-search-input {
  width:14rem;
  background-color: #ccecf2;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  border-style: none;
  text-overflow: ellipsis;
  // padding-left: 1em;
  // padding-right: 5em;
  // width: fit-content;
}

.fed-directory-search-btn {
  background-color: #ccecf2;
  outline: none;
  cursor: pointer;
  border-style: none;
  border-left: 3px solid #ffff;
  outline-style: none;
  margin-left: 0;
  margin-right: 0;
}

.fed-directory-search-btn:hover {
  background-color: white;
  -webkit-transition: 200ms;
}

.usagov-directory-letter-heading {
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  box-shadow: inset 0px 0px 0px 0.15rem black;
  border-radius: 0.15rem;
}

.usagov-directory-bottom-nav-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  color: #000000;
}

.usagov-directory-bottom-nav-link {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  display: block;
  height: 4rem;
  width: 4rem;
  box-shadow: 0px 0px 0px 0.2rem #a7d8e3;
  border-radius: 0.15rem;
  background-color: #ccecf2;
  text-align: center;
  line-height: 4rem;
  font-size: 25px;
  -webkit-transition: 200ms;
}

.usagov-directory-bottom-nav-link:hover {
  background-color: #a7d8e3;
  -webkit-transition: 200ms;
}

.usagov-directory-bottom-nav-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  background-color: none;
  outline: none;
  box-shadow: none;
}

.usagov-directory-bottom-nav-arrow {
  text-decoration: none;
}

.usagov-directory-bottom-nav-arrow:hover {
  cursor: pointer;
}

// TODO: Test this
// Accordion Section
.usagov-directory-accordion-container {
  // display: flex;
  font-family: serif;
  font-size: small;
}

.usagov-directory-accordion-container div {
  p.h-bold {
    font-weight: bold;
  }

  div {
    display: flex;
    p:first-child {
      font-weight: bold;
    }
  }
}

// Directory Agency/Dept Detail
.usagov-directory-detail {
  font-family: serif;
  font-size: small;
}

// Directory Detail Page
.usagov-directory-table {
  border-collapse: collapse;
  width: 100%;

  tr {
    border: solid 2px lightgray;
    padding: 1rem 1.4rem 1rem 1.4rem;
    margin: 0;
  }

  tr:nth-child(odd) td {
    background-color: #dfe1e2;
  }
}

.usagov-directory-table tbody {
  padding: 0;
}

.usagov-directory-table h3 {
  margin: 0;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.usagov-directory-table p {
  margin: 0;
}

.usagov-directory-table ul {
  margin: 0;
  padding-left: 1rem;
}
