@use "usagov-variables" as *;

// Directory Container
.usagov-directory-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.usagov-directory-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 35rem;
}

.usagov-directory-container-az {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(41px, 1fr));
  gap: 16px;
}

.usagov-directory-container-az li {
  a,
  a:visited {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 44px;
    height: 44px;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    background-color: #ccecf2;
    border: 2px solid var($secondary-border-color);
    border-radius: 0.01rem;
    font-size: 1.5rem;
    font-weight: 600;
    transition: box-shadow 200ms, background-color 200ms;
  }

  a:hover {
    box-shadow: 0 0 0 3px #1b1b1b;
    background-color: #99deea;
    border:none;
  }

  a.is-active {
    box-shadow: 0 0 0 0.15rem #000;
    background-color: white;
    border:none;
  }

  a.is-active:hover {
    box-shadow: 0 0 0 0.15rem #000;
    background-color: white;
  }
}

a.intro-links,
a.intro-links:hover,
a.intro-links:visited,
a.intro-links:active {
  text-decoration: none;
  color: black;
}

hr.bl-divider {
  background: $medium-gray;
  border: 0;
  height: 0.15rem;
  width: 100%;
}

// Styling of the accordion field header 
.agency-index-label {
  padding-right: 8px;
  margin-block-end: 0 !important;
}

// Styling of the first accordion field
.agency-first-field {
  display: block !important;
  margin-top: 2.2em !important;
  margin-bottom: 2.2em !important;
}

// Styling of the accordion fields
.agency-fields {
  display: block !important;
  margin-top: 2.2em;
  margin-bottom: 2.2em;
}

// Styling of a list inside an accordion section
div.field--name-field-offices-near-you> ul {
  margin-top: 10px;
}

// Styling of the content inside an accordion section
.field--name-field-website, 
.field--name-field-phone-number, 
.field--name-field-contact-link {
  margin-top: 10px;
}

.usagov-directory-accordion-container ul {
  padding-left: 25px;
}

// Search Bar
.usagov-directory-search-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  p {
    font-size: 18px;
  }

  section {
    flex-grow: 1;
    max-width: 20rem;
  }
}

.fed-directory-search-bar {
  height: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  outline: 2px solid #0081a1;
  border-radius: 0.25rem;
  background-color: #ccecf2;
  max-width: 20em;
  margin: 1rem auto 0.5rem;

  input::placeholder {
    color: #1b1b1b;
  }

  [type=search]{
    border-radius: 0.25rem;
    padding-right: 0;
  }

  /* clears the ‘X’ from Internet Explorer */
  input[type=search]::-ms-clear {
    display: none;
    width : 0;
    height: 0;
  }

  input[type=search]::-ms-reveal {
    display: none;
    width : 0;
    height: 0;
  }

  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }
}

.fed-directory-search-input {
  background-color: #ccecf2;
  outline: none;
  font-size: 0.98rem;
  font-weight: 600;
  border-style: none;
  line-height: 1.5;
}

.fed-directory-search-btn {
  background-color: #ccecf2;
  outline: none;
  cursor: pointer;
  border-style: none;
  outline-style: none;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
}

.fed-directory-search-btn:hover {
  background-color: #99deea;
}

@media (min-width: 480px) {
  .usagov-directory-container {
    padding: 1rem 2.8rem;
    box-shadow: inset 0 0 0 0.15rem $medium-gray;
  }
}

// Letter Heading
.usagov-directory-letter-heading {
  font-family: sans-serif;
  font-size: 38px;
  text-align: center;
  line-height: 57px;
  outline: solid 0.15rem #1b1b1b;
  width: 57px;
  height: 57px;
}

// Accordion
.usagov-directory-accordion-container {
  font-family: sans-serif;
  font-size: small;
}

.usagov-directory-accordion-container div {
  p.h-bold {
    font-weight: bold;
  }

  div {
    display: flex;

    p:first-child {
      font-weight: bold;
    }
  }
}

// Bottom Navigation
.usagov-directory-bottom-nav-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 2rem;
}

.usagov-directory-bottom-nav-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  background-color: none;
  outline: none;
  box-shadow: none;

  a.nav-letter,
  a.nav-letter:visited {
    text-decoration: none;
    text-align: center;
    line-height: 57px;
    font-size: 38px;
    color: #000;
    outline: solid 0.15rem #0081a1;
    background-color: #ccecf2;
    font-weight: 600;
    width: 57px;
    height: 57px;
    transition-property: outline, color, background-color;
    transition-duration: 200ms;
  }

  a.nav-letter:hover {
    outline: solid 0.15rem black;
    color: #000;
    background-color: white;
  }

  a.nav-letter:focus {
    outline: 0.25rem solid #c05600;
  }
}

.usagov-directory-bottom-nav-arrow {
  text-decoration: none;
}

// Directory - Detail Page
.usagov-directory-table {
  border-collapse: collapse;
  width: 100%;
  padding-top: 25px;
  line-height: 2;

  div {
    border: solid 1.5px #d3d2d2;
    margin: 0;
    padding: 25px;
  }

  div:nth-child(odd) {
    background-color: #f2f2f2;
  }
}

.usagov-directory-table h2 {
  margin:0;
  margin-bottom: 0.2rem;
}

.usagov-directory-table h3 {
  margin: 0;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.usagov-directory-table p {
  margin: 0;
}

.usagov-directory-table ul {
  margin: 0;
  padding-left: 1rem;
}

.usagov-dir-padding {
  padding-top: 20px;
}
