@use "uswds-core" as *;
@use "usagov-variables" as *;

/** Government Banner **/
.usa-banner {
  @include u-bg('gray-5');
}

.usa-banner__icon {
  height: 2.5rem;
  width: 2.5rem;
}

.usa-banner__header-flag {
  height: 1rem;
  width: 1rem;
}

.usa-banner__button-text,
.usa-banner__button-text:hover {
  line-height: 1.5;

  @include u-text('blue-warm-70v');
}

.usa-banner__button-text:visited {
  color: $dark-gray;
}

.usa-banner__button::after,
.usa-banner__button:hover::after {
  @include u-bg('blue-warm-70v');
}

.usa-banner__button:hover:visited::after {
  background-color: $dark-gray;
}

.usa-banner__button[aria-expanded="true"]::after,
.usa-banner__button[aria-expanded="true"]:hover::after {
  @include u-bg('blue-warm-70v');
}

.usa-banner__button[aria-expanded="true"]:hover:visited::after {
  background-color: $dark-gray;
}

// Slim site banner
@include at-media($theme-header-min-width) {
  .usa-header--extended .usa-alert--slim .usa-alert__body .usa-alert__heading {
    margin-bottom: 0;
  }
}

// government banner
.usa-banner__header-text,
.usa-banner__header-action {
  line-height: 1.5;
}

/** Language buttons **/
.usa-header--extended .usa-navbar {
  height: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.usa-logo a{
  display: flex;
  width: fit-content;
}

@include at-media($theme-header-min-width) {
  .usa-header--extended div.language-switcher-language-url {
    margin-right: auto;
    max-width: calc(70.25rem + 4rem);
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    display: block;
  }
}

.usa-navbar .navbar-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  @media (max-width: 64em) {
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
  }
}

.usa-header a.language-link {
  @media (max-width: 64em) {
    line-height: 1.5rem;
    font-weight: 700;
    margin-right: 2em;
  }

  text-decoration: none;
  padding: 10px 20px;
  line-height: .9;
  font-size: .93rem;
  margin: 0;
  border: 2px solid transparent;

  @include u-text('white');
  @include u-bg('blue-80v');

  &:hover {
    border: 2px solid color('cyan-50v');

    @include u-bg('white');
    @include u-text('blue-80v');
  }
}

.usa-header--extended .usa-menu-btn {
  @media (max-width: 64em) {
    padding-right: 1.3rem;
    width: 7rem;
    height: 2.3rem;
    text-align: left;
    font-weight: 700;
    background-image: url("/themes/custom/usagov/images/ICONS_Search.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 3.5rem 0.7rem;
  }

  @include u-bg('blue-warm-80v');
}

// This is to set the size of the logo in desktop
@media (min-width: 64em) {
  .usa-header--extended .usa-logo {
    margin: 0;
    height: 5rem;
  }
}

.usa-header--extended .usa-logo img {
  max-width: none;
  width: 3.2rem;
  max-height: none;
  height: 3.2rem;

  @include at-media($theme-header-min-width) {
    width: 5rem;
    height: 5rem;
  }
}

.usa-header--extended .usa-logo img.es {
  width: 8rem;
  height: 3.2rem;

  @include at-media($theme-header-min-width) {
    width: 12.3rem;
    height: 5rem;
  }
}

// This is to make the Spanish header links align in a row with the search instead of a colum
.usa-header--extended .usa-nav__secondary {
  @include at-media($theme-header-min-width) {
    @include u-flex("row", "align-end");

    bottom: 6rem;
    width: 32rem;
  }
}

// This is to make the Spanish header links align in a row with the search instead of a colum
.usa-header--extended .usa-nav__secondary:lang(es) {
  @include at-media($theme-header-min-width) {
    @include u-flex("row", "align-end");

    bottom: 6rem;
    width: 33rem;
  }
}

.usa-header--extended .usa-nav__primary-item>.usa-nav__link:hover {
  @include at-media($theme-header-min-width) {
    position: relative;
  }
}

.usa-header--extended .usa-nav__secondary-links .usa-nav__secondary-item {
  @include at-media($theme-header-min-width) {
    display: inline;
    padding-left: 0;
  }
}

// This is to make the header link stretch out
.usa-header--extended .usa-nav__secondary-links {
  @include at-media($theme-header-min-width) {
    width: 15rem;
    margin-bottom: 0;
  }
}

// Spanish header fix for text length
.usa-header--extended .usa-nav__secondary-links:lang(es) {
  @include at-media($theme-header-min-width) {
    width: 17rem;
    line-height: 1.1rem;
    margin-bottom: 0;
  }
}

// This is to add content pipe before the search
.usa-header--extended .usa-nav__secondary-links .usa-nav__secondary-item::after {
  @include at-media($theme-header-min-width) {
    float: right;
    content: "|"; // Removed while phone number is disabled
    padding-right: 1rem;
    font-size: 2rem;
    padding-bottom: 0.4rem;
    line-height: 2rem;

    @include u-text('gray-cool-10');
  }
}

.usa-header--extended .usa-nav__secondary-links a {
  @include at-media($theme-header-min-width) {
    font-size: 1.13rem;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
  }
}

.usa-header--extended .usa-nav__secondary-links a:lang(es) {
  @include at-media($theme-header-min-width) {
    font-size: 1.13rem;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
  }
}

.usa-nav__primary>.usa-nav__primary-item>a,
.usa-nav__primary>.usa-nav__primary-item>a:hover {
  @media (min-width: 64em) {
    padding: 0.8rem;
    @include u-text('blue-warm-70v');
  }
}

.usa-nav__primary>.usa-nav___primary-item-smaller-padding>a,
.usa-nav__primary>.usa-nav___primary-item-smaller-padding>a:hover {
  padding: 0.7rem;
}

// adds vertical spacing for top-nav on desktop
@media (min-width: 64em) {
  .usa-nav__primary>.usa-nav__primary-item>.usa-nav__link {
    line-height: 1.1;
  }
}

#block-betabanner .usa-alert--info,
#block-betaspanishbanner .usa-alert--info {
  // These styles are needed to position the alert icon
  &::before {
    display: none;
  }

  .usa-alert__body {
    position: relative;

    &::before {
      background: url("../assets/img/usa-icons/info.svg") no-repeat center/2rem 2rem;
      width: 2rem;
      content: "";
      display: block;
      height: 2.4rem;
      position: absolute;
      left: 1.3rem;
      top: -0.6rem;
      mask: url("../assets/img/usa-icons/info.svg") no-repeat center/2rem 2rem;
      background-size: 1.5rem;
      mask-size: 1.5rem;

      @include u-bg('gray-90');
      @media (max-width: 1022px) {
        left: 0.4rem;
      }
    }
  }
}

#block-emergencyheaderbanner .usa-alert--error {
  // These styles are needed to position the alert icon
  &::before {
    display: none;
  }

  .usa-alert__body {
    position: relative;

    &::before {
      background: url("../assets/img/usa-icons/error.svg") no-repeat center/2rem 2rem;
      width: 2rem;
      content: "";
      display: block;
      height: 3.5rem;
      position: absolute;
      left: 1.6rem;
      top: -0.6rem;
      mask: url("../assets/img/usa-icons/error.svg") no-repeat center/2rem 2rem;
      background-size: 1.5rem;
      mask-size: 1.5rem;

      @include u-bg('gray-90');

      @media (max-width: 1022px) {
        left: 0.4rem;
      }
    }
  }
}


/*** Search ***/
// adds visible focus around entire search box
[type="search"] {
  z-index: 1;
}

// adds visible focus around entire search button and removes padding
.usa-button:not([disabled]):focus {
  outline-offset: 0;
  z-index: 1;
}

input#search-field-small-mobile-menu {
  background-color: white;
}

@media (min-width: 64em) {
  .usa-header--extended .usa-navbar {
    overflow: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .usa-header--extended .usa-nav__secondary,
  .usa-header--extended .usa-nav__secondary:lang(es) {
    flex-direction: row;
    align-items: baseline;
    align-self: center;
    bottom: 0;

    /* width: 32rem; */
    position: relative;
    margin-top: 0;
    min-width: auto;
    right: 0;
  }

  #header>div.usa-navbar>div.usa-nav__secondary>form.usa-search.usa-search--small {
    align-self: center;
    margin-top: 0;
  }

  #header>div.usa-navbar>div.usa-nav__secondary>span.usa-nav__secondary-links {
    align-self: center;
  }

}

// This is to extend the header elements to 1124px
@include at-media($theme-header-min-width) {
  .usa-header--extended .usa-nav__inner {
    max-width: calc(70.25rem + 4rem);
    padding-left: 2.3rem;
  }

  .usa-header--extended .usa-banner__inner {
    max-width: calc(70.25rem + 4rem);
  }

  .usa-header--extended .usa-navbar {
    max-width: calc(70.25rem + 4rem);
  }

  .usa-header--extended .usa-alert__body {
    max-width: calc(70.25rem + 4rem);
    margin: auto;
    padding-left: 4rem !important;
    padding-right: 2rem !important;
  }

  .usa-header--extended .usa-alert--no-icon .usa-alert__body {
    padding-left: 1.7rem !important;
  }

}

@media (max-width: 1023px) {
  .usa-header--extended .usa-alert:not(.usa-alert--no-icon) .usa-alert__body {
    padding-left: 2.7rem;
  }

  .usa-header--extended .usa-alert--no-icon .usa-alert__body {
    padding-left: 0.5rem;
  }
}

.usa-header--extended .usa-alert:not(.usa-alert--no-icon) {
  // These styles are needed to position the alert icon
  &::before {
    display: none;
  }

  .usa-alert__body {
    position: relative;

    &::before {
      width: 2rem;
      content: "";
      display: block;
      height: 2.4rem;
      position: absolute;
      left: 1.7rem;
      top: -0.5rem;
      @include u-bg('gray-90');

      @media (max-width: 1023px) {
        left: 0.4rem;
      }
    }
  }
}

.usa-header--extended {
  .usa-alert--info:not(.usa-alert--no-icon),
  .usa-alert--success:not(.usa-alert--no-icon) {
    .usa-alert__body {
      &::before {
        background: url("../assets/img/usa-icons/info.svg") no-repeat center/2rem 2rem;
        mask: url("../assets/img/usa-icons/info.svg") no-repeat center/2rem 2rem;
      }
    }
  }

  .usa-alert--error:not(.usa-alert--no-icon) {
    .usa-alert__body {
      &::before {
        background: url("../assets/img/usa-icons/error.svg") no-repeat center/2rem 2rem;
        mask: url("../assets/img/usa-icons/error.svg") no-repeat center/2rem 2rem;
      }
    }
  }

  .usa-alert--warning:not(.usa-alert--no-icon) {
    .usa-alert__body {
      &::before {
        background: url("../assets/img/usa-icons/warning.svg") no-repeat center/2rem 2rem;
        mask: url("../assets/img/usa-icons/warning.svg") no-repeat center/2rem 2rem;
      }
    }
  }
}

// This is to align the primary nav text with the search button
@include at-media($theme-header-min-width) {
  .usa-header--extended .usa-nav__primary {
    justify-content: space-between;
    width: auto;
  }

  .usa-header--extended .usa-nav__primary::after {
    content: none;
  }
}

@media (max-width: 40em) {
  .usa-banner__header--expanded .usa-banner__header-action {
    display: inline-block;
  }

  .usa-banner__header-action {
    display: inline-block;
  }
}

.usa-banner_expand_arrow {
  fill: #1a4480;
  vertical-align: middle;
}

.usa-banner__header--expanded {
  .usa-banner_expand_arrow {
    transform: rotate(180deg);
  }
}

// for desktop
@media (min-width: 40em) {
  .usa-banner__button::after, .usa-banner__button:hover::after, .usa-banner__button[aria-expanded=true]::after, .usa-banner__button[aria-expanded=true]:hover::after {
    content: none;
  }
}

// for mobile
@media (max-width: 40em) {
  .usa-banner__header-action-mobile::after{
    content: none;
  }
}
