@use "usagov-variables" as *;

// $hero: var( $usagov-variables, hero );
// $card: var( $usagov-variables, card );

.usagov-hero-homepage {
  background-color: var($hero, background-color);
  background-image: none;
  color: var($hero, font-color);
  margin-bottom: 0;
}

.usagov-hero-feature-text a {
  text-decoration-line: underline;
  text-decoration-thickness: 7px;
  text-decoration-color: var($card, heading-underline-color);
  text-decoration-skip-ink: none;
  line-height: 1.8em;
}

.usagov-hero a,
.usagov-hero a:hover,
.usagov-hero a:visited {
  color: inherit;
}

.topic-icon {
  padding-left: 5em;
  background-repeat: no-repeat;
  background-position: 1em center;
  background-size: 5em;
}

.icon-about {
  background-image: url("../images/topics/ICONS_beta_About_the_US_and_Its_Government.png");
}

.icon-laws {
  background-image: url("../images/topics/ICONS_beta_Laws_and_Legal_Issues.png");
}

.icon-money {
  background-image: url("../images/topics/ICONS_beta_Money_and_Credit.png");
}

.icon-benefits {
  background-image: url("../images/topics/ICONS_beta_Benefits.png");
}

.icon-immigration {
  background-image: url("../images/topics/ICONS_beta_Immigration.png");
}

.icon-voting {
  background-image: url("../images/topics/ICONS_beta_Voting_and_Elections.png");
}

.icon-military {
  background-image: url("../images/topics/ICONS_beta_Military_and_Veterans.png");
}

.icon-travel {
  background-image: url("../images/topics/ICONS_beta_travel.png");
}

.icon-education {
  background-image: url("../images/topics/ICONS_beta_Education.png");
}

.icon-housing {
  background-image: url("../images/topics/ICONS_beta_Housing.png");
}

.icon-disasters {
  background-image: url("../images/topics/ICONS_beta_Disasters_and_Emergencies.png");
}

.icon-covid19 {
  background-image: url("../images/topics/ICONS_COVID19.png");
}

.icon-health {
  background-image: url("../images/topics/ICONS_beta_Health.png");
}

.icon-scams {
  background-image: url("../images/topics/ICONS_beta_Scams_and_Frauds.png");
}

.icon-disability {
  background-image: url("../images/topics/ICONS_beta_Disability.png");
}

.icon-jobs {
  background-image: url("../images/topics/ICONS_beta_Jobs_and_Unemployment.png");
}

.icon-business {
  background-image: url("../images/topics/ICONS_beta_Small_Business.png");
}

.icon-taxes {
  background-image: url("../images/topics/ICONS_beta_Taxes.png");
}

/* HomePage Grid */

.main-grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-grid h1,
.main-grid h2,
.main-grid p {
  color: var($homepage, white-color);
}

.main-grid h1 {
  font-size: 35.2px;
  margin: 0px;
}

.main-grid p {
  font-size: 20px;
  margin: 0;
  font-family: sans-serif;
}

.main-grid a {
  color: var($homepage, aqua-color);

}

/* Banner */
.banner-wrapper {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: minmax(0px, 1fr) minmax(auto, 1024px) minmax(0px, 1fr);
}

.banner_div {
  grid-column: 2 / 3;
}

.banner {
  height: 100%;
  max-width: 1024px;
  object-fit: cover;
}


.welcome-box {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: var($homepage, background-color);
  box-shadow: 0 6px 6px rgb(17 47 78 / .4);
  max-width: 400px;
  margin-top: 35px;
  margin-bottom: 0px;
  padding: 20px 40px 25px 25px;
}

.welcome-box p {
  margin-top: 20px;
}

/* Background */
.blue-back {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
  background-color: var($homepage, background-color);
}

/* How do I box */
.how-box {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  background-color: var($homepage, white-color);
  border-radius: 3px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 13px;
  padding-left: 25px;
  padding-bottom: 20px;
}

.how-box h2,
.how-box a {
  color: var($homepage, font-color);
  text-decoration: none;
  margin: 0;
}

.how-button-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  align-items: center;
}

.how-button {
  height: 60px;
  border-left: 3px solid var($homepage, aqua-color);
  padding-left: 12px;
  padding-right: 2px;
  display: flex;
  align-items: center;
}

/* Life Events */
.life-events {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  background-color: var($homepage, background-color);
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 0 75px;
}

.life-events h2 {
  margin: 0 0 0px;
  padding-top: 16px;
  font-size: 35.2px;
  font-family: serif;
}

.life-events p {
  font-size: 17.6px;
  padding-top: 13px;
  font-family: sans-serif;
}

.life-events-carousel {
  margin: 30px 0 0;
}

/* Jump */
.jump {
  text-align: center;
  padding: 20px 20px 0px;
}

.jump a {
  color: white;
  text-decoration: underline;
  font-size: 17.6px;
  font-family: sans-serif;
}

.jump p {
  margin: 0 0 5px;
}

/* All Topics Header */
.all-topics-header {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  background-color: var($homepage, white-color);
  border-bottom: 10px solid var($homepage, red-color);
}

.all-topics-header h2 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 0 75px;

  font-size: 48.8px;
  font-family: serif;
  text-align: left;
  color: var($homepage, red-color);
  font-weight: bold;
  margin-bottom: 0;
}

.all-topics {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
  background-color: var($homepage, light-blue-color);
}

.all-topics p {
  color: var($homepage, font-color);
}

/* All Topics Cards */
.homepage-cards {
  background-color: var($homepage, light-blue-color);
}

.homepage-cards .usa-card-group {

  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.homepage-cards .usa-card {
  padding: 0;
  margin: 6px;
  max-width: 220px;
}

.homepage-card a {
  text-decoration: none;
}

.homepage-card-container {
  background-color: var($homepage, white-color);
  border-color: var($homepage, outline-color);
  border-radius: 3px;
  box-shadow: 0 3px 6px rgb(122 122 122 / .15);
  margin: 0 auto;
  padding: 0;
}

.homepage-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.homepage-card-container h2,
.homepage-card-container p {
  font-size: 17.6px;
  color: var($homepage, font-color);
  font-family: sans-serif;
}

.homepage-card-container h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

/* Mobile */
@media(max-width: 480px) {
  .welcome-box {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    max-width: 400px;
    margin-right: 25px;
    margin-left: 25px;

    margin-bottom: 0px;


    padding-right: 28px;
  }

  .how-box {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    max-width: 400px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 35px;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .how-button-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 30px;
  }

  .how-button {
    margin-bottom: 15px;
  }

  .life-events {
    max-width: 400px;

    margin-right: 25px;
    margin-left: 25px;
    padding: 0px;
  }

  .life-events h2 {
    padding-top: 50px;
  }

  .life-events-carousel {
    margin: 20px 0 0;
  }

  .homepage-cards .usa-card {
    padding: 0;
    margin: 5px auto;
    max-width: 300px;
  }

  .homepage-card_header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
