@use "usagov-variables" as *;

// $hero: var( $usagov-variables, hero );
// $card: var( $usagov-variables, card );

.usagov-hero-homepage {
  background-color: var($hero, background-color);
  background-image: none;
  color: var($hero, font-color);
  margin-bottom: 0;
}

.usagov-hero-feature-text a {
  text-decoration-line: underline;
  text-decoration-thickness: 7px;
  text-decoration-color: var($card, heading-underline-color);
  text-decoration-skip-ink: none;
  line-height: 1.8em;
}

.usagov-hero a,
.usagov-hero a:hover,
.usagov-hero a:visited {
  color: inherit;
}

.topic-icon {
  padding-left: 5em;
  background-repeat: no-repeat;
  background-position: 1em center;
  background-size: 5em;
}

.icon-about {
  background-image: url("../images/topics/ICONS_beta_About_the_US_and_Its_Government.png");
}

.icon-laws {
  background-image: url("../images/topics/ICONS_beta_Laws_and_Legal_Issues.png");
}

.icon-money {
  background-image: url("../images/topics/ICONS_beta_Money_and_Credit.png");
}

.icon-benefits {
  background-image: url("../images/topics/ICONS_beta_Benefits.png");
}

.icon-immigration {
  background-image: url("../images/topics/ICONS_beta_Immigration.png");
}

.icon-voting {
  background-image: url("../images/topics/ICONS_beta_Voting_and_Elections.png");
}

.icon-military {
  background-image: url("../images/topics/ICONS_beta_Military_and_Veterans.png");
}

.icon-travel {
  background-image: url("../images/topics/ICONS_beta_travel.png");
}

.icon-education {
  background-image: url("../images/topics/ICONS_beta_Education.png");
}

.icon-housing {
  background-image: url("../images/topics/ICONS_beta_Housing.png");
}

.icon-disasters {
  background-image: url("../images/topics/ICONS_beta_Disasters_and_Emergencies.png");
}

.icon-covid19 {
  background-image: url("../images/topics/ICONS_COVID19.png");
}

.icon-health {
  background-image: url("../images/topics/ICONS_beta_Health.png");
}

.icon-scams {
  background-image: url("../images/topics/ICONS_beta_Scams_and_Frauds.png");
}

.icon-disability {
  background-image: url("../images/topics/ICONS_beta_Disability.png");
}

.icon-jobs {
  background-image: url("../images/topics/ICONS_beta_Jobs_and_Unemployment.png");
}

.icon-business {
  background-image: url("../images/topics/ICONS_beta_Small_Business.png");
}

.icon-taxes {
  background-image: url("../images/topics/ICONS_beta_Taxes.png");
}

.life-events {
  background-color: #112f4e;
  margin: 0px;
  padding: 0px;
  height: 386px;
}

.homepage-main {
  padding-top: 0px;
}

.homepage-banner {
  display: flex;
  justify-content: center;
  position: relative;
}

.homepage-hero {
  border-top: none;
  height: 386px;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

.message-box {
  background-color: #112f4e;
  box-shadow: 0px 6px 6px rgba(17, 47, 78, 0.4);

  position: absolute;
  max-width: 440px;
  top: 35px;
  left: 50%;
  right: 80px;

  color: #ffffff;
  padding-left: 25px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.message-box h1 {
  margin: 0px;
  padding: 0px;
  font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  font-weight: bold;
  font-size: 35.2px;
}

.message-box p {
  margin: 0px;
  padding: 0px;
  padding-top: 20px;

  font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  font-size: 20px;
}

.message-box p a {
  color: #00bde3;
}

.how-box {
  background-color: #ffffff;
  border-radius: 3px;

  height: 146px;
  max-width: 960px;

  position: relative;
  top: -86px;

  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  padding-top: 13px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
}

.how-box h2 {
  font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  color: #1b1b1b;

  margin: 0px;
  padding-bottom: 20px;
}

.button-grid {
  display: flex;
}

.how-box a {
  width: 200px;
  height: 60px;
  margin: auto;
  padding: 0px;
  padding-left: 12px;
  border: none;
  border-left: 3px solid #00bde3;
  text-align: left;
  font-size: 17.6px;
  text-decoration: none;
  font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  color: #1b1b1b;
}
