@use "usagov-variables" as *;

// $hero: var( $usagov-variables, hero );
// $card: var( $usagov-variables, card );

.usagov-hero-homepage {
  background-color: var($hero, background-color);
  background-image: none;
  color: var($hero, font-color);
  margin-bottom: 0;
}

.usagov-hero-feature-text a {
  text-decoration-line: underline;
  text-decoration-thickness: 7px;
  text-decoration-color: var($card, heading-underline-color);
  text-decoration-skip-ink: none;
}

.usagov-hero a,
.usagov-hero a:hover,
.usagov-hero a:visited {
  color: inherit;
}

.topic-icon {
  padding-left: 5em;
  background-repeat: no-repeat;
  background-position: 1em center;
  background-size: 5em;
}

.icon-about {
  background-image: url("../images/topics/ICONS_Reimagined_About_the_US_and_Its_Government.svg");
}

.icon-laws {
  background-image: url("../images/topics/ICONS_Reimagined_Laws_and_Legal_Issues.svg");
}

.icon-money {
  background-image: url("../images/topics/ICONS_Reimagined_Money.svg");
}

.icon-benefits {
  background-image: url("../images/topics/ICONS_Reimagined_Benefits.svg");
}

.icon-immigration {
  background-image: url("../images/topics/ICONS_Reimagined_Immigration.svg");
}

.icon-voting {
  background-image: url("../images/topics/ICONS_Reimagined_Voting_and_Elections.svg");
}

.icon-military {
  background-image: url("../images/topics/ICONS_Reimagined_Military_and_Veterans.svg");
}

.icon-travel {
  background-image: url("../images/topics/ICONS_Reimagined_Travel.svg");
}

.icon-education {
  background-image: url("../images/topics/ICONS_Reimagined_Education.svg");
}

.icon-housing {
  background-image: url("../images/topics/ICONS_Reimagined_Housing.svg");
}

.icon-disasters {
  background-image: url("../images/topics/ICONS_Reimagined_Disasters_and_Emergencies.svg");
}

.icon-covid19 {
  background-image: url("../images/topics/ICONS_Reimagined_COVID19.svg");
}

.icon-health {
  background-image: url("../images/topics/ICONS_Reimagined_Health.svg");
}

.icon-scams {
  background-image: url("../images/topics/ICONS_Reimagined_Scams_and_Fraud.svg");
}

.icon-disability {
  background-image: url("../images/topics/ICONS_Reimagined_Disability_Services.svg");
}

.icon-jobs {
  background-image: url("../images/topics/ICONS_Reimagined_Jobs_and_Unemployment.svg");
}

.icon-business {
  background-image: url("../images/topics/ICONS_Reimagined_Small_Business.svg");
}

.icon-taxes {
  background-image: url("../images/topics/ICONS_Reimagined_Taxes.svg");
}

.icon-complaints {
  background-image: url("../images/topics/ICONS_Complaints.svg");
}

.homepage-section {
  padding-top: 0;
}

/* HomePage Grid */
.no-footer-gap {
  margin-bottom: -2rem;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;

  h1,
  h2,
  p {
    color: var($white);
  }

  h1 {
    font-family: "Merriweather Web", Georgia, Cambria, "Times New Roman", Times,
      serif;
    font-size: var($homepage, medium-font-size);
    margin: 0;
  }

  h3 {
    line-height: 1.25;
  }

  p {
    font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto,
      Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
  }

  a {
    color: var($cyan-30v);
    text-decoration: underline;
  }
}

/* Banner */
.banner-wrapper {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  grid-template-columns: minmax(0, 1fr) minmax(auto, 1024px) minmax(0, 1fr);
}

.banner-div {
  background-position: center;
  background-size: cover;
  grid-column: 1 / 4;
}

.banner-img {
  object-fit: contain;
}

.welcome-box {
  background-color: var($deep-blue);
  box-shadow: 0 6px 6px var($blue-shadow);
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: 25px 5vw 0;
  max-width: 400px;
  padding: 30px 28px 35px 30px;

  p {
    font-size: 18px;
    margin-top: 20px;
  }
}

/* Background */
.blue-back {
  background-color: var($deep-blue);
  grid-column: 1 / 3;
  grid-row: 3 / 8;
}

/* How do I box */
.how-box {
  background-color: var($white);
  border-radius: 3px;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 35px;
  max-width: 400px;
  padding: 30px 25px 20px;

  h2,
  a {
    color: var($off-black);
    margin: 0;
    text-decoration: none;
  }

  a {
    font-weight: normal;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: var($homepage, smaller-max-width);
  }
}

.how-button-list {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-width: var($homepage, smaller-max-width);
}

.how-button {
  flex: 1 1 0;
  align-items: center;
  border-left: 4px solid var($cyan-30v);
  display: flex;
  padding-left: 12px;
  padding-right: 20px;
  margin-bottom: 15px;
}

/* Jump */
.jump {
  padding: 0;
  text-align: center;

  a {
    color: var($white);
    font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto,
      Arial, sans-serif;
    font-size: var($homepage, small-font-size);
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 10px;
  }

  p {
    margin: 0 0 5px;
  }
}

.jump1 {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  padding-top: 20px;
  background-color: var($deep-blue);
}

/* All Topics Header */
.all-topics-header {
  background-color: var($white);
  grid-column: 1 / 3;
  grid-row: 7 / 9;

  h2 {
    border-bottom: 10px solid var($red);
    color: var($red);
    font-family: "Merriweather Web", Georgia, Cambria, "Times New Roman", Times,
      serif;
    font-size: 39.04px;
    font-weight: bold;
    margin: 65px 5vw 0;
    max-width: 90%;
    padding: 0;
    text-align: left;
  }
}

.all-topics {
  background-color: var($light-blue);
  grid-column: 1 / 3;
  grid-row: 9 / 10;

  p {
    color: var($off-black);
  }
}

/* All Topics Cards */
.all-topics-background {
  background-color: var($light-blue);
  padding-bottom: 100px;
  padding-top: 20px;
}

.smaller-width-div {
  margin-left: auto;
  margin-right: auto;
  max-width: var($homepage, smaller-max-width);
}

.homepage-card-group {
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  justify-content: center;
  grid-gap: 12px;
  row-gap: 12px;
}

.homepage-card_header {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
}

.homepage-card {
  display: flex;
  font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  border-width: 2px;
  border-style: solid;
  background-color: var($white);
  border-color: var($deep-gray);
  border-radius: 3px;
  box-shadow: 0 3px 6px rgb(122 122 122 / 15%);
  margin: 0;
  padding: 0;

  &:hover {
    background-color: var($cyan-light);
  }

  &:focus-within {
    outline: 0.25rem solid var($deep-orange);
    outline-offset: 0;
  }

  a {
    text-decoration: none;
    height: 100%;
  }

  h2,
  p {
    color: var($off-black);
    font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto,
      Arial, sans-serif;
    font-size: var($homepage, small-font-size);
    text-align: center;
    padding: 0 10px;
  }

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 1.3;
  }
}

.homepage-card-description {
  padding-left: 10px;
  padding-right: 10px;
}

.homepage-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  margin-bottom: 12px;
  margin-top: 25px;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Larger Mobile */
@media (min-width: 480px) {
  .welcome-box {
    grid-column: 2 / 3;
    padding: 30px 40px 35px 30px;
  }

  .how-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: var($homepage, larger-max-width);
    padding-top: 18px;
  }

  .how-button-list {
    flex-flow: row wrap;
    margin-top: 20px;
  }

  .how-button {
    flex: 1 1 50%;
  }

  .life-events h2 {
    padding-top: 20px;
  }

  .all-topics-header h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: var($homepage, larger-max-width);
    padding: 0 0 5px 75px;
  }

  .homepage-card_header {
    padding-left: 0;
    padding-right: 0;
  }

  .homepage-card-group {
    grid-template-columns: repeat(auto-fit, minmax(100px, 224px));
  }
}

/* Tablet & Desktop */
@media (min-width: 700px) {
  .welcome-box {
    grid-column: 2 / 3;
    padding: 30px 40px 35px 30px;
  }

  .how-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: var($homepage, larger-max-width);
    padding-top: 18px;
  }

  .life-events h2 {
    padding-top: 20px;
  }

  .all-topics-header h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: var($homepage, larger-max-width);
    padding: 0 0 5px 75px;
  }

  .homepage-card_header {
    padding-left: 0;
    padding-right: 0;
  }

  .homepage-card-group {
    grid-template-columns: repeat(auto-fit, minmax(100px, 224px));
  }
}

/* Tablet */
@media (max-width: 700px) and (min-width: 480px) {
  .how-button-list {
    margin-top: 30px;
  }

  .how-button {
    margin-bottom: 15px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .life-events {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    max-width: var($homepage, larger-max-width);
    padding: 0;
  }

  .life-events-intro {
    margin-left: 0;
    margin-right: auto;
    max-width: var($homepage, smaller-max-width);
    padding: 0 0 0 75px;
  }

  .how-button-list {
    flex-wrap: nowrap;
  }

  .how-button {
    flex: 1 1 0%;
    min-height: 60px;
  }
}
