@use "usagov-variables" as *;

// $hero: var( $usagov-variables, hero );
// $card: var( $usagov-variables, card );

.usagov-hero-homepage {
  background-color: var($hero, background-color);
  background-image: none;
  color: var($hero, font-color);
  margin-bottom: 0;
}

.usagov-hero-feature-text a {
  text-decoration-line: underline;
  text-decoration-thickness: 7px;
  text-decoration-color: var($card, heading-underline-color);
  text-decoration-skip-ink: none;
  line-height: 1.8em;
}

.usagov-hero a,
.usagov-hero a:hover,
.usagov-hero a:visited {
  color: inherit;
}

.topic-icon {
  padding-left: 5em;
  background-repeat: no-repeat;
  background-position: 1em center;
  background-size: 5em;
}

.icon-about {
  background-image: url("../images/topics/ICONS_beta_About_the_US_and_Its_Government.png");
}

.icon-laws {
  background-image: url("../images/topics/ICONS_beta_Laws_and_Legal_Issues.png");
}

.icon-money {
  background-image: url("../images/topics/ICONS_beta_Money_and_Credit.png");
}

.icon-benefits {
  background-image: url("../images/topics/ICONS_beta_Benefits.png");
}

.icon-immigration {
  background-image: url("../images/topics/ICONS_beta_Immigration.png");
}

.icon-voting {
  background-image: url("../images/topics/ICONS_beta_Voting_and_Elections.png");
}

.icon-military {
  background-image: url("../images/topics/ICONS_beta_Military_and_Veterans.png");
}

.icon-travel {
  background-image: url("../images/topics/ICONS_beta_travel.png");
}

.icon-education {
  background-image: url("../images/topics/ICONS_beta_Education.png");
}

.icon-housing {
  background-image: url("../images/topics/ICONS_beta_Housing.png");
}

.icon-disasters {
  background-image: url("../images/topics/ICONS_beta_Disasters_and_Emergencies.png");
}

.icon-covid19 {
  background-image: url("../images/topics/ICONS_COVID19.png");
}

.icon-health {
  background-image: url("../images/topics/ICONS_beta_Health.png");
}

.icon-scams {
  background-image: url("../images/topics/ICONS_beta_Scams_and_Frauds.png");
}

.icon-disability {
  background-image: url("../images/topics/ICONS_beta_Disability.png");
}

.icon-jobs {
  background-image: url("../images/topics/ICONS_beta_Jobs_and_Unemployment.png");
}

.icon-business {
  background-image: url("../images/topics/ICONS_beta_Small_Business.png");
}

.icon-taxes {
  background-image: url("../images/topics/ICONS_beta_Taxes.png");
}

.homepage-section {
  padding-top: 0rem;
}

/* HomePage Grid */

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
}

.main-grid h1,
.main-grid h2,
.main-grid p {
  color: var($homepage, white-color);
}

.main-grid h1 {
  font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  font-size: var($homepage, medium-font-size);
  margin: 0px;
}

.main-grid p {
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
}

.main-grid a {
  color: var($homepage, aqua-color);
  text-decoration: underline;
}

/* Banner */
.banner-wrapper {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  grid-template-columns: minmax(0px, 1fr) minmax(auto, 1024px) minmax(0px, 1fr);
}

.banner_div {
  background-position: center;
  background-size: cover;
  grid-column: 1 / 4;
}

.banner_img {
  object-fit: contain;
}

.welcome-box {
  background-color: var($homepage, deep-blue-color);
  box-shadow: 0 6px 6px rgb(17 47 78 / .4);
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-bottom: 0px;
  margin-top: 35px;
  margin-left: 5vw;
  margin-right: 5vw;
  max-width: 400px;
  padding: 30px 28px 35px 30px;
}

.welcome-box p {
  font-size: 18px;
  line-height: 1.3;
  margin-top: 10px;
}

/* Background */
.blue-back {
  background-color: var($homepage, deep-blue-color);
  grid-column: 1 / 3;
  grid-row: 3 / 8;
}

/* How do I box */
.how-box {
  background-color: var($homepage, white-color);
  border-radius: 3px;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 35px;
  max-width: 400px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
}

.how-box h2,
.how-box a {
  color: var($homepage, font-color);
  margin: 0;
  text-decoration: none;
}

.how-box a:hover {
  text-decoration: underline;
}

.how-box h2 {
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: var($homepage, smaller-max-width);
}

.how-button-list {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-width: var($homepage, smaller-max-width);
}

.how-button {
  align-items: center;
  border-left: 3px solid var($homepage, aqua-color);
  display: flex;
  height: 60px;
  padding-left: 12px;
  padding-right: 20px;
  margin-bottom: 15px;
}

/* Life Events */
.life-events {
  background-color: var($homepage, deep-blue-color);
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  margin-left: 5vw;
  margin-right: 5vw;
  max-width: 400px;
  padding: 0px;
}

.life-events h2 {
  font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  font-size: var($homepage, medium-font-size);
  margin: 0 0 0px;
  padding-top: 50px;
}

.life-events p {
  font-family: sans-serif;
  font-size: var($homepage, small-font-size);
  padding-top: 13px;
}

.life-events-carousel {
  margin: 20px 0 0;
}

/* Jump */
.jump {
  padding: 0px;
  text-align: center;
}

.jump1 {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  padding-top: 15px;
}

.jump2 {
  grid-column: 1 / 3;
  grid-row: 6 / 8;
  z-index: 2;
}

.jump a {
  color: white;
  font-family: sans-serif;
  font-size: var($homepage, small-font-size);
  text-decoration: underline;
}

.jump p {
  margin: 0 0 5px;
}

/* All Topics Header */
.all-topics-header {
  background-color: var($homepage, white-color);
  grid-column: 1 / 3;
  grid-row: 7 / 9;
}

.all-topics-header h2 {
  border-bottom: 10px solid var($homepage, red-color);
  color: var($homepage, red-color);
  font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 39.04px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 55px;
  max-width: 90%;
  padding: 0px;
  text-align: left;
}

.all-topics {
  background-color: var($homepage, light-blue-color);
  grid-column: 1 / 3;
  grid-row: 9 / 10;

}

.all-topics p {
  color: var($homepage, font-color);
}

/* All Topics Cards */
.all-topics-background {
  background-color: var($homepage, light-blue-color);
  padding-bottom: 30px;
  padding-top: 5px;
}

.smaller-width-div {
  margin-left: auto;
  margin-right: auto;
  max-width: var($homepage, smaller-max-width);

}

.homepage-card-group {
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  justify-content: center;
  grid-gap: 12px;
  row-gap: 12px;
}

.homepage-card_header {
  padding-left: 30px;
  padding-right: 30px;
}

.homepage-card {
  // max-width: 220px;
  display: flex;
}

.homepage-card a {
  text-decoration: none;
}



.homepage-card {
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  border-width: 2px;
  border-style: solid;
  background-color: var($homepage, white-color);
  border-color: var($homepage, outline-color);
  border-radius: 3px;
  box-shadow: 0 3px 6px rgb(122 122 122 / .15);
  margin: 0;
  padding: 0px;
}

.homepage-card h2,
.homepage-card p {
  color: var($homepage, font-color);
  font-family: sans-serif;
  font-size: var($homepage, small-font-size);
  line-height: 1.3;
  text-align: center;
  padding: 0px 10px;
}

.homepage-card h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.homepage-card:hover {
  background-color: var($homepage, hover-color);
}

.homepage-card:focus-within {
  outline: 0.25rem solid #c05600;
  outline-offset: 0;
}

.homepage-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  margin-bottom: 25px;
  margin-top: 20px;
}

/********** Carousel **********************/
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Carousel Wrapper */
.carousel {
  position: relative;
  width: calc(100% - 40px);
  max-width: 900px;
  height: 300px;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Previous/next buttons */
.previous,
.next {
  margin: 0px;
  padding: 0px;
  width: 40px;
  border: none;
  background-color: transparent;
}

/* Slides track */
.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  overflow: hidden;
}

/* Individual slides */
.slide {
  flex: 0 0 calc(100% - 10px);
  margin: 0 5px;
  padding: 20px;
  height: 300px;

  font-size: 18px;
  line-height: 26px;
}

@media screen and (min-width: 480px) {
  .slide {
    flex: 0 0 calc(100% / 2 - 10px);
  }
}

@media screen and (min-width: 1024px) {
  .slide {
    flex: 0 0 calc(100% / 3 - 10px);
  }
}


.slide a {
  color: white;
  text-decoration: none;
}

.slide a:visited {
  color: white;
  text-decoration: none;
}

.slide h3 {
  margin: 0px;
}

.slide p {
  margin: 0px;
  font-weight: normal;
}

/* Pagination */
.navigation li {
  width: 40px;
  height: 40px;
  margin: 0px;
}

.navigation li:not(:last-child) {
  margin-right: 15px;
}

.navigation li {
  width: 40px;
  height: 40px;
  font-size: 30px;
}

.navigation li a {
  text-decoration: none;
  color: #00BDE3;
  border: 2px solid #00BDE3;
}

.navigation li a:focus {
  outline-offset: 4px;
}

.usa-pagination__button {
  border: none;
}

/* Active page number */
.navigation li a[aria-current="true"] {
  background-color: #FFFFFF;
  border: none;
  color: #112F4E;
}



.thumbnailBanner {
  width: 100%;
  height: 85px;
  margin: auto;
}


/* Desktop */
@media(min-width: 480px) {
  .welcome-box {
    grid-column: 2 / 3;
    padding: 30px 40px 35px 30px;
  }

  .how-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: var($homepage, larger-max-width);
    padding-top: 18px;
  }

  .how-button-list {

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin-top: 20px;

  }

  .how-button {
    margin-bottom: auto;
  }

  .life-events {
    margin-left: auto;
    margin-right: auto;
    max-width: var($homepage, larger-max-width);
    padding: 0px;
  }

  .life-events-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: var($homepage, smaller-max-width);
    padding: 0 0 0 75px;
  }

  .life-events h2 {

    padding-top: 16px;
  }

  .life-events-carousel {
    margin: 30px 0 0;
  }

  .all-topics-header h2 {


    margin-left: auto;
    margin-right: auto;

    max-width: var($homepage, larger-max-width);
    padding: 0 0 5px 75px;

  }

  .homepage-card_header {
    padding-left: 0px;
    padding-right: 0px;
  }

  .homepage-card-group {
    grid-template-columns: repeat(auto-fit, minmax(100px, 224px));
  }
}

/*Tablet */
@media(max-width: 700px) and (min-width:480px) {

  .how-button-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
  }

  .how-button {
    margin-bottom: 15px;
  }

}

/*Tablet */
@media(max-width: 1024px) and (min-width:480px) {
  .life-events {
    max-width: 100%;
  }

  .carousel {
    max-width: 100%;
  }
}

// life events
.usagov-life-event-homepage {
  background-color: var($hero, background-color);
  background-image: none;
  color: var($hero, font-color);
  margin-bottom: 0;
}

.usagov-life-event-feature-text a {
  text-decoration-line: underline;
  text-decoration-thickness: 7px;
  text-decoration-color: var($card, heading-underline-color);
  text-decoration-skip-ink: none;
  line-height: 1.8em;
}

.usa-life-event {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.usagov-life-event a,
.usagov-life-event a:hover,
.usagov-life-event a:visited {
  color: inherit;
}

.usa-life-event .usagov-cards {
  padding: 0;
  background-color: #112f4e;
}

.usa-life-event .usagov-card,
.usagov-card:visited {
  box-shadow: none;
  border: none;
}



// style for view

.usa-life-event .usagov-cards .usa-card__container {
  background-color: #112f4e;
}

.usa-life-event .usa-card__header {
  padding: 1.5rem 0 0;
}

.usa-life-event .usagov-cards .usa-card__header .usa-card__heading {
  color: #fff;
  text-decoration-line: none;
}

.usa-life-event .life-events-landing-page-card-title {
  padding: 1rem 1rem 1rem 0;
}

.usa-life-event .usa-card__body {
  background-color: #112f4e;
  color: #fff;
  padding: 0.5rem 0;
}

.usa-life-event img {
  border-style: solid;
  border-color: #fff;
}

