@use "usagov-variables" as *;
@use "uswds-core" as *;

ul.navigation__items {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    display: flex;
    height: 4rem;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
  }

  .children a {
    font-weight: normal;
  }

  $max-indent: 5;
  @for $i from 1 to $max-indent {
    &.ancestors > .navigation__item:nth-of-type(#{$i}) {
      a {
        padding-left: $i * 1rem;
      }

      .children a {
        padding-left: ($i + 2) * 1rem;
      }
    }
  }

  .umbrella > a {
    @include u-bg('blue-warm-70v');
    @include u-text('white');
  }

  .active > a {
    border-left: 0.5rem solid color('red-50');
    color: color('red-50');
  }

  .sibling > a {
    font-weight: normal;
    margin-left: 0.5rem;
  }
}

.usagov-mobile-menu {
  width: 100%;
  max-width: 30rem;
  padding: 0;
  overflow: scroll;
  z-index: 2000000003;
}

.usagov-mobile-menu-top {
  padding: 1rem;
  @include u-bg('gray-4');
}

.usagov-mobile-menu-controls {
  display: flex;
  justify-content: space-between;
}

.usagov-mobile-menu-controls > * {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  @include u-text('gray-90');
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  margin: unset;
  width: auto;
  height: auto;
}


.usagov-mobile-menu-controls a svg {
  border: 3px solid color('gray-90');
  border-radius: 100%;
  height: 2.16rem;
  width: 2.16rem;
  margin: 0.1rem;
  padding: 0.16rem;
}

.usagov-mobile-menu-controls button svg {
  height: 2.5rem;
  width: 2.5rem;
}

.usagov-mobile-menu .usa-nav__secondary-links {
  margin: 1rem;
  display: block;
}

.usa-header--extended button.usa-menu-btn {
  background-color: transparent;
  @include u-text('blue-80v');
  background-image: url("/themes/custom/usagov/images/Button_header_open_mobile-menu.svg");
  background-size: 2.8rem;
  background-position: 1px 0;
  width: 3rem;
  padding: 0;
  padding-top: 2rem;
  height: auto;
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
}

#block-languageswitcher {
  position: relative;
}

@media (min-width: 64em) {
  .usagov-mobile-menu {
    display: none;
  }
}


@media (max-width: 63.99em) {

  // Make the header sticky for devices with a screen size less than or equal to 1024px.
  .usa-header {
    // For Safari
    position: -webkit-sticky;
    // For other browsers
    position: sticky;

    background: color('white');
    width: 100%;
    z-index: 500;
  }


  .usa-nav.is-visible, .usa-navbar .usa-nav__secondary {
    display: none;
  }

  .usagov-mobile-menu.is-visible {
    display: flex;
  }

  .usa-header--extended div.language-switcher-language-url div.links {
    position: absolute;
    display: block;
    width: auto;
    right: 60px;
    top: 4px;
  }
}
