$hero: var( $usagov-variables, hero );

.usagov-hero{
    border-top: 10px solid var( $hero, border-color );
}
.usagov-hero__callout{
    background-color: var( $hero, background-color );
    border: 1px solid var( $hero, box-border-color );
    ul{
        a{
            color: var( $hero, secondary-font-color );
        }
    }
}

$card: var( $usagov-variables, card );
.usagov-cards{
    padding: 1em;
    background-color: var( $card, group-background-color );;
}
.usagov-card{
    border-radius: 0;
    box-shadow: 4px 4px 10px #aaaaaa;
    border-color: #707070;
    &:hover{
        background-color: var( $card, hover-background-color );
        border-color: var( $card, hover-border-color );
    }
}
.usagov-card__heading{
    color: var( $card, heading-color );
    text-decoration-line: underline;
    text-decoration-thickness: 7px;
    text-decoration-color: var( $card, heading-underline-color );
    text-decoration-skip-ink: none;
    line-height: 1.8em;
}


.usagov-navpage-item{
    border: 2px solid transparent;
    &:hover{
        border-color: var( $card, hover-border-color );
    }
    a{
        color: var( $card, text-color );
    }
}