@use "usagov-variables" as *;

// $hero: var( $usagov-variables, hero );

.usagov-hero {
  border-top: 10px solid var($red);
  margin-bottom: 1.5rem;
  margin-top: -0.75rem;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  background-position: top;
}

.usagov-hero__callout {
  background-color: var($deep-blue);
  border: 1px solid var($white);

  ul {
    a,
    a:hover,
    a:visited {
      color: var($cyan-light);
    }
  }

  ul li {
    margin: 15px 0;
  }
}

// $card: var( $usagov-variables, card );
.usagov-cards {
  padding: 1em;
  background-color: var($usagov-gray);
}

.usa-layout-docs__main .usagov-cards {
  margin-top: 24px;
}

.usagov-card {
  border-radius: 0;
  box-shadow: 4px 4px 10px #aaa;
  border-color: var($cyan-50v);

  &:hover {
    background-color: var($cyan-light);
    border-color: var($cyan-50v);
  }
}

.usagov-card__heading {
  color: var($text-blue);
  text-decoration-line: underline;
  text-decoration-thickness: 7px;
  text-decoration-color: var($cyan);
  text-decoration-skip-ink: none;
  line-height: 1.8em;
}

.usagov-navpage-item {
  border: 2px solid transparent;

  &:hover {
    background-color: var($cyan-light);
  }

  a {
    color: var($black);
    display: block;
  }
}

