@use "usagov-variables" as *;

.sd-container {
  display: flex;
  // justify-content: space-between;
  // list-style: none;
  // padding: 0;

  div {
    width:12rem;
    padding-right: 10px;
  }

  button.sd-go-btn {
    box-shadow: 0px 0px 0px 0.2rem #a7d8e3;
    border-radius: 0.15rem;
    background-color: #ccecf2;
    text-align: center;
    // line-height: 2rem;
    // padding: 5px;
    // display: block;
    // height: 4rem;
    // width: 4rem;
  }

  button.sd-go-btn:hover {
    background-color: #a7d8e3;
    -webkit-transition: 200ms;
  }
}

// State Directory Detail Page
.usagov-sd-detail {
  border-collapse: collapse;
  width: 100%;

  tr {
    border: solid 2px lightgray;
    padding: 1rem 1.4rem 1rem 1.4rem;
    margin: 0;
  }

  tr:nth-child(odd) td {
    background-color: #dfe1e2;
  }
}

.usagov-directory-table tbody {
  padding: 0;
}

.usagov-directory-table h3 {
  margin: 0;
  margin-bottom: 0.1rem;
  font-weight: bold;
}

.usagov-directory-table p {
  margin: 0;
}

.usagov-directory-table ul {
  margin: 0;
  padding-left: 1rem;
}
