@use "uswds-core" as *;

/*
USAgov Variables
*/

// Used in 1 file on 1 component on 1 element
// component-color-element:
$back-top-off-white-background: #e8f0f7;
$carousel-cyan-slide-border: #53bbdf;
$fed-gray-border: #d3d2d2;
$fed-white-background: #f2f2f2;
$homepage-light-blue-background: #d2ebf1;
$wizard-gray-border: #808080;
$benefit-search-button: #18b5dd;
$navigation-red: #ae1a0a;

// Used in multiple files on multiple components on 1 element
// color-element:
$blue-outer-focus: #0186a2;
$blue-shadow: rgb(17 47 78 / 40%);
$cyan-text-decoration: #3fbde3;
$orange-border: #f79240;
$secondary-background: #a7d8e3;
$secondary-border: #377F9D;

// Used in multiple files on multiple components on multiple elements
// elements color:
$dark-gray: #4b4b4d;
$medium-gray: #e7e7e7;
$red-error: #c61f0c;

// Introduced with 2024 wizard redesign
$button-secondary-outline: #0081A1;
$button-secondary-default: #CCECF2;
