

@use "uswds-core" as *;

/*
USAgov Variables
*/

//Base variables
$red: #D83933;
$white: #fff;
$text-blue: #1A4480;
$deep-blue: #11304e;
$cyan: #3fbde3;
$cyan-50v: #0081a1;
$cyan-light: #ccecf2;
$gray: #dfe1e2;
$light-gray: #f3f3f3;
$orange: #f79240;
$black: #000;

//Component Variables
$hero: (
  border-color: $red,
  background-color: $deep-blue,
  box-border-color: $white,
  font-color: $white,
  secondary-font-color: $cyan-light
);
$le-heading: (
  heading-color: $white,
  background-color: $deep-blue,
);
$card: (
  heading-color: $text-blue,
  heading-underline-color: $cyan,
  border-color: $cyan-50v,
  hover-background-color: $cyan-light,
  hover-border-color: $cyan-50v,
  group-background-color: $light-gray,
  text-color: $black
);
$life-events: (
  text-color: $white,
  heading-underline-color: $cyan,
  background-color: $deep-blue,
);
$radio-button: (
  border-color: $orange
);
$alert: (
  background-color: $white,
  border-color: $gray
);


/*
Call the var function to retrieve variables from sass map variables

ex:
var( $vars, navpage, hero, border-color );

*/
@function var($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

