@use "uswds-core" as *;

/*
USAgov Variables
*/

// Base variables
$red: #d83933;
$white: #fff;
$text-blue: #1a4480;
$deep-blue: #112f4e;
$off-black: #1b1b1b;
$cyan: #3fbde3;
$cyan-50v: #0081a1;
$cyan-30v: #00bde3;
$cyan-light: #ccecf2;
$light-blue: #E5F8FD;
$gray: #dfe1e2;
$deep-gray: #707070;
$light-gray: #f3f3f3;
$light-blue: #d2ebf1;
$orange: #f79240;
$deep-orange: #c05600;
$black: #000;
$blue-shadow: rgba(17, 47, 78, 0.4);
// Component Variables
$mobile-nav: (
  red: $red,
  white: $white,
  blue: $text-blue,
  light-gray: $light-gray,
);
$hero: (
  border-color: $red,
  background-color: $deep-blue,
  box-border-color: $white,
  font-color: $white,
  secondary-font-color: $cyan-light,
);

$homepage: (
  larger-max-width: 1024px,
  smaller-max-width:960px,
  small-font-size: 17.6px,
  medium-font-size: 35.2px,
);
$le-heading: (
  heading-color: $white,
  background-color: $deep-blue,
);
$card: (
  heading-color: $text-blue,
  heading-underline-color: $cyan,
  border-color: $cyan-50v,
  hover-background-color: $cyan-light,
  hover-border-color: $cyan-50v,
  group-background-color: $light-gray,
  text-color: $black,
  background-color:$light-blue,
);
$life-events: (
  text-color: $white,
  heading-underline-color: $cyan,
  background-color: $deep-blue,
  card-hover-text-color: $black,
  card-hover-background-color: $cyan-light,
  card-hover-heading-color: $text-blue,
);
$radio-button: (
  border-color: $orange,
);
$alert: (
  background-color: $white,
  border-color: $gray,
);

/*
Call the var function to retrieve variables from sass map variables

ex:
var( $vars, navpage, hero, border-color );

*/
@function var($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}
