@use "uswds-core" as *;

/*
USAgov Variables
*/

// Base variables
$blue-outer-focus: #0186a2;
$blue-shadow: rgb(17 47 78 / 40%);
$cyan-slide: #53bbdf;
$cyan: #3fbde3;
$dark-blue: #112f43;
$dark-gray: #4b4b4d;
$deep-gray: #707070;
$fed-gray: #d3d2d2;
$fed-white: #f2f2f2;
$light-blue: #d2ebf1;
$medium-gray: #e7e7e7;
$off-white: #e8f0f7;
$orange: #f79240;
$red-error: #c61f0c;
$secondary-background-color: #a7d8e3;
$secondary-border-color: #377F9D;
$wizard-gray: #808080;

//we don't need these but using them for reference for now
$black: #000; //uswds color:black
$cyan-30v: #00bde3; //uswds color: cyan-30v
$cyan-50v: #0081a1; //uswds color: cyan-50v
$cyan-light: #ccecf2; //uswds color: cyan-10
$deep-blue: #112f4e; //uswds color: blue-80v
$deep-orange: #c05600; //uswds color: orange-50v
$fed-cyan: #99deea; //uswds color:cyan-20
$gray: #dfe1e2; //uswds color: gray-cool-10
$light-gray: #f3f3f3; //uswds color: gray-4
$off-black: #1b1b1b; //uswds color: gray-90
$pale-blue: #e7f6f8; //uswds color: cyan-5
$red: #d83933; //uswds color: red-50
$text-blue: #1a4480; //uswds color: blue-warm-70v
$usagov-gray: #f0f0f0; //uswds color: gray-5
$white: #fff; //uswds color:white

/*
Call the var function to retrieve variables from sass map variables

ex:
var( $vars, navpage, hero, border-color );

*/
@function var($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}
