/*
USWDS Variables
*/
// $theme-prefix-separator: "--";
@use "uswds-core" with (
  $theme-image-path: "../assets/img",

  $color-palettes: (
    "palette-color",
  ),
  $global-color-palettes: (
    "palette-color",
  ),
  // links
  $theme-link-color: "blue-warm-70v",
  $theme-link-hover-color: "blue-warm-70v",
  $theme-link-active-color: "blue-warm-70v",
  $theme-link-visited-color: "violet-60v",

  // #783CB9
  // buttons
  // Primary colors
  $theme-color-primary: "cyan-30v",
  $theme-color-primary-lighter: "cyan-10",
  $theme-color-primary-dark: "cyan-40v",
  $theme-color-primary-darker: "cyan-40v",

  // #009ec1
  // Secondary colors (These seem to only be used by usa-button--secondary)
  $theme-color-secondary: "cyan-10",
  // background
  $theme-color-secondary-dark: "cyan-20",
  // hover
  $theme-color-secondary-darker: "cyan-20",

  // active
  // focus color for input
  $theme-focus-color: "orange-50v",
  // #C05600
  $theme-focus-offset: 0,
  $theme-focus-style: solid,
  $theme-focus-width: 0.5,

  // Process List
  $theme-process-list-counter-background-color: "ink",
  $theme-process-list-counter-text-color: "white",

  // Accordion
  $theme-color-base-lightest: "gray-cool-10",
  $theme-color-base-lighter: "gray-20",

  // Alert
  $theme-color-error: "red-50",
  $theme-accordion-border-color: "gray-cool-10"
);
