/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
/*
@ -19,19 +19,3 @@ i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;
@use "usagov-variables" as *;

@forward "sidenav";
@forward "navigation-page";
@forward "content-page";
@forward "homepage";
@forward "mobile-menu";
@forward "life-events";
@forward "fed-directory";
@forward "state-directory";

.text-red {
  color: #d83933;
}

.question-icon {
  display: flex;
}

.chat-icon {
  width: 70px;
  height: 50px;
  padding: 0 10px;
  vertical-align: middle;
}

@media (min-width: 64em) {
  .usa-section {
    padding-top: 2rem;
  }
}

.usa-footer__secondary-link a.disabled,
.usa-footer__secondary-section a.disabled {
  pointer-events: none;
  color: #000;
  text-decoration: none;
}

.usa-sidenav__sublist a:not(.usa-button) {
  padding-left: 2.3rem;
}

.usa-sidenav__sublist .usa-sidenav__sublist a:not(.usa-button) {
  padding-left: 3.6rem;
}

.usa-alert--no-icon .usa-alert__body {
  // This fixes an issue with USWDS where a slim alert with no icon and no status would still get padding to make room for an icon
  padding-left: 1.25rem;
}

.usa-button:visited {
  /*
This style overrides a style from _buttons.scss (https://github1s.com/uswds/uswds/blob/HEAD/src/stylesheets/elements/_buttons.scss#L28)
Buttons with visited links would mysteriously get white text which is not accessible contrast on our theme's primary and secondary colors.
*/
  color: initial;
}

.usa-button--secondary {
  border: 1px solid color("cyan-50v");
}

.usa-button--secondary:hover {
  background-color: #ccecf2;
  border: 1px solid color("cyan-50v");
}

.usa-button--secondary:visited,
.usa-button:visited {
  color: #1b1b1b !important;
}

/*
This style ensures that we can remove the padding-top from text in a card body. Used on navigation pages.
*/
.usa-card__body.padding-top-0 {
  padding-top: 0;
}
/*
add padding at the top of flag cards
*/
.paragraph--type--uswds-card-group-flag .usa-card-group {
  padding-top: 60px;
}

.paragraph--type--uswds-card-group-regular .usa-card__container:focus-within,
.paragraph--type--uswds-card-group-flag .usa-card__container:focus-within,
.paragraph--type--uswds-card-group-flag .usa-card__container:hover,
.paragraph--type--uswds-card-group-regular .usa-card__container:hover {
  box-shadow: none;
}
/** This to change the link color for the
*   header and footer links
**/
.usa-nav__secondary-links a,
.usa-nav__secondary-links a:hover,
.usa-banner__button,
.usa-card__body {
  color: #000;
}

// Header

/** Background color for government banner **/
.usa-banner {
  background-color: #f3f3f3;
}

.usa-banner__button-text,
.usa-banner__button-text:hover {
  color: #1a4480;
}

.usa-banner__button-text:visited {
  color: #4b4b4d;
}

.usa-banner__button::after,
.usa-banner__button:hover::after {
  background-color: #1a4480;
}

.usa-banner__button:hover:visited::after {
  background-color: #4b4b4d;
}

.usa-banner__button[aria-expanded="true"]::after,
.usa-banner__button[aria-expanded="true"]:hover::after {
  background-color: #1a4480;
}

.usa-banner__button[aria-expanded="true"]:hover:visited::after {
  background-color: #4b4b4d;
}

/** info banner **/
.usa-header--extended .usa-alert--slim .usa-alert__body {
  @include at-media($theme-header-min-width) {
    max-width: 64rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    display: block;
    font-size: 0.9rem;
  }

  padding-left: 2.2rem;
  padding-right: 2.2rem;
  display: block;
  font-size: 0.9rem;
}

.usa-header--extended .usa-alert--slim .usa-alert__body a,
.usa-header--extended .usa-alert--slim .usa-alert__body a:hover,
.usa-header--extended .usa-alert--slim .usa-alert__body a:visited {
  color: color("blue-warm-70v");
}

/** emergency banner header **/
.usa-header--extended .usa-alert--error {
  color: #fff;
  border-left-color: color("red-70v");
  background-color: color("red-70v");
}

/** emergency banner header **/
.usa-header--extended .usa-alert--error a {
  color: #fff;
}

/** info banner header **/
.usa-header--extended .usa-alert--info {
  border-left-color: #e7f6f8;
}

/** info banner header **/
@include at-media($theme-header-min-width) {
  .usa-header--extended .usa-alert--slim .usa-alert__body .usa-alert__heading {
    margin-bottom: 0;
  }
}

/** Language buttons **/
@include at-media($theme-header-min-width) {
  .usa-header--extended .usa-navbar {
    overflow: inherit;
  }
}

/** Language buttons **/
@include at-media($theme-header-min-width) {
  .usa-header--extended div.language-switcher-language-url {
    margin-right: auto;
    max-width: 64rem;
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    display: block;
  }
}

/** Language buttons **/
.usa-header--extended div.language-switcher-language-url ul.links {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.3rem;
  margin-left: 0;
}

/** Language buttons **/
.usa-header--extended [hreflang|="es"] {
  padding-left: 0.5rem;
  border-radius: 5px;
  border: none;
  @media (max-width: 64em) {
    padding-right: 1.3rem;
  }
}

.usa-header--extended [hreflang|="en"] {
  border-radius: 5px;
  border: none;
}

/** Language buttons **/
.usa-header--extended
  .usa-nav__primary
  > .usa-nav__primary-item
  > a.language-link {
  @media (max-width: 64em) {
    font-size: 0.93rem;
    font-weight: 700;
  }

  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: color("blue-80v");
}

/** Language buttons **/
@include at-media($theme-header-min-width) {
  .usa-header--extended
    .usa-nav__primary
    > .usa-nav__primary-item
    > a.language-link:hover {
    color: #fff;
  }
}

/** Mobile menu button **/
@media (max-width: 64em) {
  .usa-header--extended .usa-navbar {
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
}

.usa-header--extended .usa-menu-btn {
  @media (max-width: 64em) {
    padding-right: 1.3rem;
    width: 7rem;
    height: 2.3rem;
    text-align: left;
    font-weight: 700;
    background-image: url("/themes/custom/usagov/images/ICONS_Search.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 3.5rem 0.7rem;
  }

  background-color: color("blue-warm-80v");
}

/** This is to minimize the size of the logo in
*   tablet and mobile
**/

@media (min-width: 64em) {
  .usa-header--extended .usa-logo {
    margin: 0.5rem 0 0.2em;
  }
}

.usa-header--extended .usa-logo img {
  max-width: units(5);
  @include at-media($theme-header-min-width) {
    max-width: units(10);
  }
}

.usa-header--extended .usa-logo img.es {
  max-width: 6.2rem;
  @include at-media($theme-header-min-width) {
    max-width: 12.3rem;
  }
}

// This is to make the Spanish header links align in a row with the search instead of a colum
.usa-header--extended .usa-nav__secondary {
  @include at-media($theme-header-min-width) {
    @include u-flex("row", "align-end");

    bottom: 6rem;
    width: 32rem;
  }
}

// This is to make the Spanish header links align in a row with the search instead of a colum
.usa-header--extended .usa-nav__secondary:lang(es) {
  @include at-media($theme-header-min-width) {
    @include u-flex("row", "align-end");

    bottom: 6rem;
    width: 33rem;
  }
}

.usa-header--extended .usa-nav__primary-item > .usa-nav__link:hover {
  @include at-media($theme-header-min-width) {
    position: relative;
  }
}

.usa-header--extended .usa-nav__secondary-links .usa-nav__secondary-item {
  @include at-media($theme-header-min-width) {
    display: inline;
    padding-left: 0;
  }
}

// This is to make the header link stretch out
.usa-header--extended .usa-nav__secondary-links {
  @include at-media($theme-header-min-width) {
    width: 15rem;
    line-height: 1.1rem;
  }
}

// Spanish header fix for text length
.usa-header--extended .usa-nav__secondary-links:lang(es) {
  @include at-media($theme-header-min-width) {
    width: 17rem;
    line-height: 1.1rem;
  }
}

// This is to add content pipe before the search
.usa-header--extended
  .usa-nav__secondary-links
  .usa-nav__secondary-item::after {
  @include at-media($theme-header-min-width) {
    float: right;
    color: $gray;
    content: "|"; // Removed while phone number is disabled
    padding-right: 1rem;
    font-size: 2rem;
    padding-bottom: 0.4rem;
  }
}

.usa-header--extended .usa-nav__secondary-links a {
  @include at-media($theme-header-min-width) {
    font-size: 1.13rem;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
  }
}

.usa-header--extended .usa-nav__secondary-links a:lang(es) {
  @include at-media($theme-header-min-width) {
    font-size: 1.13rem;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
  }
}

.usa-nav__primary > .usa-nav__primary-item > a,
.usa-nav__primary > .usa-nav__primary-item > a:hover {
  @media (min-width: 64em) {
    padding: 0.8rem;
    color: color("blue-warm-70v");
  }
}

// adds visible focus around entire search box
[type="search"] {
  z-index: 1;
}

// adds visible focus around entire search button and removes padding
.usa-button:not([disabled]):focus {
  outline-offset: 0;
  z-index: 1;
}

// Footer

.ftr-list {
  @media (min-width: 64em) {
    padding-top: 1.4rem;
  }
}

.usa-footer--big
  .usa-footer__primary-content--collapsible
  .usa-footer__primary-link {
  font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  font-size: 1.2rem;
}

.usa-sign-up__heading {
  font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
}

.usa-footer__primary-content--collapsible.hidden {
  // USWDS footer adds class 'hidden' when collapsing a section into a dropdown, but Drupal hides the whole dropdown.
  display: block;
}

@media (min-width: 30em) {
  .usa-footer__contact-heading.es {
    display: inline-grid;
    margin-top: 0.5rem;
    margin-right: -1.5rem;
    text-align: left;
  }
}

/** This is to add the facebook social media icon **/

.usa-social-link:hover {
  background-color: #ccecf2;
}

.usa-social-link--facebook {
  background-image: url("../images/facebook34.png"),
    linear-gradient(transparent, transparent);
}

/** This is to add the twitter social media icon **/
.usa-social-link--twitter {
  background-image: url("../images/twitter34.png"),
    linear-gradient(transparent, transparent);
}

/** This is to add the instagram social media icon **/
.usa-social-link--instagram {
  background-image: url("../images/instagram34.png"),
    linear-gradient(transparent, transparent);
}

/** This is to add the youtube social media icon **/
.usa-social-link--youtube {
  background-image: url("../images/youtube34.png"),
    linear-gradient(transparent, transparent);
}

.usa-footer__secondary-section {
  background-color: color("cyan-10");
}

.usa-footer__contact-links {
  @media (max-width: 30em) {
    margin-top: 0;
  }
}

.usa-footer__contact-heading {
  @media (max-width: 30em) {
    text-align: left;
    margin-bottom: 0.5rem;
  }
}

.usa-footer__secondary-section .grid-container{
  padding-bottom: 2rem;
}

.usa-footer__secondary-section .grid-row.grid-gap-1>* {
  padding-right: 0;
}

.footer-question {
  height: 15px;
}

@media (min-width: 30em) {
  .usa-footer__contact-heading {
    margin-top: 0.5rem;
  }
}

.usa-social-link {
  background-color: transparent;
}

.usa-social-link span {
  position: absolute;
  left: -999em;
  right: auto;
}

.usa-footer__social-links {
  @media (max-width: 30em) and (min-width: 30em) {
    justify-content: flex-start;
    padding-right: 0;
  }
}

.sm-sp-links {
  @media (max-width: 30em) and(min-width: 30rem) {
    padding-left: 2rem;
  }
}

@media (min-width: 30em) {
  .usa-footer__contact-info {
    justify-content: flex-start !important;
    margin-top: -0.25rem;
  }
}

.usa-identifier {
  background-color: color("blue-80v");
}

.usa-identifier__section {
  padding-bottom: 0;
}

.usa-identifier__usagov-description {
  @media (min-width: 36em) {
    display: flex;
    justify-content: center;
  }
}

.usa-identifier__usagov-description,
.usa-identifier__usagov-description span {
  @media (max-width: 30em) {
    text-align: center;
    display: inline-block;
  }
}

a,
.usa-alert__text a,
.usa-footer__return-to-top a,
.usa-link,
.usa-skipnav {
  color: color("blue-warm-70v");
}

.usa-prose a:visited {
  color: color($theme-link-visited-color);
}

.usagov-hero a:visited {
  color: color("cyan-10");
}

.usagov-hero a, .usagov-hero__callout ul a {
  color: color("cyan-30v");
}

.usagov-hero__callout ul a:visited {
  color: color("cyan-10");
}

.usa-button {
  @media (max-width: 30em) {
    width: 100%;
  }
}

.usagov-button--outline-black {
  box-shadow: $theme-button-stroke-width color("black");
  color: color("black");

  &:hover {
    box-shadow: $theme-button-stroke-width color("black");
    color: color("black");
  }
}

.usa-checkbox__input:checked + .usa-checkbox__label::before,
.usa-radio__input:checked + .usa-radio__label::before {
  background-color: color("black");
  box-shadow: 0 0 0 units($theme-input-select-border-width) color("black"),
    inset 0 0 0 units($theme-input-select-border-width) color("white");
}

.usa-checkbox__input--tile:checked + .usa-checkbox__label,
.usa-radio__input--tile:checked + .usa-radio__label {
  // background-color: #ccecf2;
  border-color: var($radio-button, border-color);
}

.usa-checkbox__input--tile + .usa-checkbox__label,
.usa-radio__input--tile + .usa-radio__label {
  border-color: black;
  background: white;
}

.usa-breadcrumb__link,
.usa-breadcrumb__link:hover {
  text-decoration: underline;
  color: #1a4480;
}

.usa-breadcrumb__link:visited {
  text-decoration: underline;
  color: #4b4b4d;
}

a {
  color: #1a4480;
}

#block-betabanner .usa-alert--info,
#block-betaspanishbanner .usa-alert--info {
  // These styles are needed to position the alert icon
  &::before {
    display: none;
  }

  .usa-alert__body {
    position: relative;

    &::before {
      background: url("../assets/img/usa-icons/info.svg") no-repeat center/2rem
        2rem;
      width: 2rem;
      content: "";
      display: block;
      height: 2.4rem;
      position: absolute;
      left: 1.3rem;
      top: -0.6rem;
      background-color: #1b1b1b;
      mask: url("../assets/img/usa-icons/info.svg") no-repeat center/2rem 2rem;
      background-size: 1.5rem;

      // height: 2.5rem;
      // width: 1.5rem;
      mask-size: 1.5rem;
      @media (max-width: 1022px) {
        left: 0.4rem;
      }
    }
  }
}

#block-emergencyheaderbanner .usa-alert--error {
  // These styles are needed to position the alert icon
  &::before {
    display: none;
  }

  .usa-alert__body {
    position: relative;

    &::before {
      background: url("../assets/img/usa-icons/error.svg") no-repeat center/2rem
        2rem;
      width: 2rem;
      content: "";
      display: block;
      height: 3.5rem;
      position: absolute;
      left: 1.6rem;
      top: -0.6rem;
      background-color: #1b1b1b;
      mask: url("../assets/img/usa-icons/error.svg") no-repeat center/2rem 2rem;
      background-size: 1.5rem;

      // height: 2.5rem;
      // width: 1.5rem;
      mask-size: 1.5rem;
      @media (max-width: 1022px) {
        left: 0.4rem;
      }
    }
  }
}

#block-usagov-content .font-serif-lg {
  // This style is needed to set the font size of intro text
  font-size: 1.5rem;
}

.desktop\:grid-col-fill .content-wrapper {
  // On Navigation Cards pages, display the content in reverse order. So the Nav banner is displayed above the Intro Text.
  display: flex;
  flex-direction: column-reverse;
}

// This style is needed to extend the width of nav page intro text
.desktop\:grid-col-fill .usa-prose > p.usa-intro {
  max-width: 81ex;
  margin-left: 1.2ex;
  margin-right: 1.2ex;
}

@media (max-width: 30em) {
  .usa-alert, .usa-prose, .usa-table, .usa-form, .usa-radio__label, .usa-footer, .usa-nav .usa-accordion, .usa-accordian__heading, .text-primary-lighter, .usa-hero, .usa-identifier, .usa-label {
    font-size: 1.1rem;
  }
}

.desktop\:grid-col-8 .body-copy {
  // Add margin only on content pages
  margin-top: 2.5rem;
}

.usa-skipnav:active,
.usa-skipnav:hover {
  color: #1a4480;
}

.usa-skipnav:visited {
  color: #4b4b4d;
}

.usa-social-link > img {
  display: block;
  height: auto;
  width: 100%;
}

#back-to-top {
  position: fixed;

  // float:right;
  height: 50px;
  width: 90px;
  right: -100px;
  bottom: 80px;
  background: #e8f0f7;
  transition: right 0.5s;
  background-image: url("/themes/custom/usagov/images/Icon_Back_to_Top_Blue.png");
  background-size: 45px;
  background-position: 2px;
  background-repeat: no-repeat;
  padding: 0 0 0 45px;
  border-radius: 25px 0 0 25px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  z-index: 1;

  &.stuck {
    right: 0;
  }
}

//Last Updated, Share and Survey
.additional_body_info {
  padding-top: 75px;
}

// Share This Page

div #sm-share {
  display: flex;
  padding-bottom: 22px;
  background-color: transparent;
}

div #sm-share * {
  margin-top: auto;
  margin-bottom: auto;
}

div #sm-share a {
  padding: 7px;
  text-decoration: none;
}

// Changed footer styles
.usa-footer--big {
  padding-top: 2rem;
}

.usa-gov-footer__primary-link {
  text-size-adjust: 100%;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  box-sizing: inherit;
  color: #1b1b1b;
  text-decoration: none;
  padding: 0;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  font-size: 1.2rem;
}

.usa-gov-footer__primary-link--button {
  overflow: visible;
  text-transform: none;
  appearance: button;
  padding: 1rem;
  width: 100%;
  border: 0;
  cursor: pointer;
}

.usa-gov-footer__primary-link--button::before {
  height: 1.25rem;
  width: 1.25rem;
  align-items: center;
  background-size: contain;
  content: "";
  display: inline-flex;
  justify-content: center;
  margin-right: 0.25rem;
  margin-left: -0.25rem;
  background-color: currentcolor;
  mask: url("../assets/img/usa-icons/expand_more.svg") no-repeat center/contain;
}

.usa-gov-footer__primary-link--button[aria-expanded="false"]::before {
  background-color: currentcolor;
  mask: url("../assets/img/usa-icons/navigate_next.svg") no-repeat
    center/contain;
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  content: "";
  vertical-align: middle;
  margin-right: 0.25rem;
}

.usa-gov-footer__primary-link--button:hover {
  text-decoration: underline;
}

.usa-gov-footer__primary-link--button:focus {
  text-decoration: underline;
  outline: 0.25rem solid #c05600;
  outline-offset: -0.25rem;
}

.usa-footer__primary-section .usa-list {
  margin-top: 1rem;
}

.usa-gov-footer__primary-link--button:not([disabled]):focus {
  outline-offset: -0.25rem;
}

// error styles for elected officials

.usa-error {
  color: #d83933;
  font-weight: 600;
}

.usa-user-error {
  border-color: #d83933;
  border-width: 3px;
  border-style: solid;
}

.usa-main-border-error {
  border-left: 3px solid #d83933;

  .usa-border-error {
    border-left: none;
  }
}

.usa-border-error {
  border-left: 3px solid #d83933;
}

.usa-form-spacing {
  padding-left: 1rem;
}

#myform div.margin-x-auto {
  margin-left: 3rem;
}

#myform div.maxw-mobile {
  max-width: 26rem;
}

/**
#myform.usa-form .usa-input, #myform .usa-combo-box__input {
  max-width: 20rem;
}
*/

.usa-error--alert {
  display: none;
}
.currentMenuItem {
  position:relative
}
.currentMenuItem::after {
  background-color: #00bde3;
  border-radius: 0;
  content: "";
  display: block;
  position: absolute;
  height: .25rem;
  left: 1rem;
  right: 1rem;
  bottom: 0;
}

// scams reskin

.block-wizardenglish {
  background-color: #f3f3f3;
  border-top: 4px solid #112f4e;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 2rem;
  @media (max-width: 64em) {
  padding-left: 2rem;
  }
}

@media (min-width: 64em) {
  .block-wizardenglish {
    margin-left: 5rem;
    max-width: 80%;
  }
}

.block-wizardenglish div.usa-prose h1 {
  color: #112f4e;
  padding-bottom: 1.5rem;
  margin-top: 0;
  font-size: 2.25rem;
  @media (max-width: 40em) {
    font-size: 2rem;
  }

}

.block-wizardenglish div.usa-prose h1.usa-wizard-title {
  padding-bottom: 0;
}

.block-wizardenglish div.usa-prose h1 .usa-pros {
  padding-bottom: 1rem;
}

.block-wizardenglish .usa-prose {
  font-size: 1.2rem;
}

.block-wizardenglish .usa-button {
  color: #1b1b1b;
  background-color: #ccecf2;
  @media (max-width: 40em) {
      margin-bottom: 8px;
  }
}

.block-wizardenglish .usa-prose>p.usa-scam-label {
 max-width: 110ex;
 padding-bottom: .2rem;
 margin-bottom: 1rem;
}

.block-wizardenglish .usa-scam-label {
  border-bottom: 1px solid gray;
  color: #112f43;
  font-weight: 500;
}

button#prior.usa-button--outline {
  background-color: #fff;
  box-shadow: inset  0 0 0 2px #000;
}

button#next.usa-button, .block-wizardenglish a.usa-button {
  background-color: #ccecf2;
  box-shadow: inset  0 0 0 2px #0081a1;
}

.block-wizardenglish .usa-prose>p {
  max-width: 110ex;
}

.block-wizardenglish .usa-radio__input--tile:checked+[class*=__label] {
  background-color: #ccecf2;
}

.wizard_error {
  border-left: 3px solid #d83933;
  padding-left: 5px;
}

.block-wizardenglish div.usa-error {
  padding-left: 5px;
  padding-right: 5px;
}

.block-wizardenglish .usa-radio__input--tile:checked+.usa-radio__label {
  border-color: #c05600;
}

.block-wizardenglish [tabindex]:focus {
  outline: 0.25rem solid #c05600;
  outline-offset: 0;
  width: fit-content;
  margin-left: 0;
}

@media (max-width: 40em) {
  .usa-reverse {
    flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 500px) {
  .usa-identifier {
    // Prevent Tagline from being covered by the Feedback button
    position: absolute;
    z-index: 2000000005;
  }
}

#backToTop {
  z-index: 2000000003;
}


// BEGIN Page Level Survey extra CSS
#pagesurvey-trgt-qualtrics {
  background: white;
  max-width: 960px;
  display: inline-block;
  margin: 0 auto 0 auto;
}

div[class^="QSIUserDefinedHTML"] {
  z-index: 1;
}

#pagesurvey-qual-hdr {
  background: #CCECF2;
  font-size: 130%;
  display: block;
  color: #1B1B1B;
  padding: 12px 0 15px 0px;
  margin: 0 auto 0 auto;
  max-width: 960px;
  height: auto;
  text-align: center;
  font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  font-weight: bold;
}

.scrollable {
  overflow: unset !important;
}

#pagesurvey-qual-container:focus {
  outline: #C05600 solid 3px;
}

@media only screen and (max-width: 500px) {
  div[class^="QSIUserDefinedHTML"] {
    left: -16px;
  }
}
// END Page Level Survey extra CSS