/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
/*
@ -19,19 +19,3 @@ i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;
@use "usagov-design-system" as *;
@use "usagov-variables" as *;

@forward "carousel";
@forward "ceo";
@forward "content-page";
@forward "fed-directory";
@forward "footer";
@forward "../components/searchbar/searchbar";
@forward "header";
@forward "homepage";
@forward "life-events";
@forward "mobile-menu";
@forward "navigation-page";
@forward "sidenav";
@forward "state-directory";
@forward "benefit-search";
@forward "benefits-block";
@forward "wizard";

.line-height-2 {
  line-height: 2;
}

.question-icon {
  display: flex;
}

.chat-icon {
  width: 60px;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
}

.usa-section {
  padding-top: .7rem;
}

@media (max-width: 30em) {
  .usa-section {
      padding-top: 2rem;
  }
}

@media (min-width: 40em) {
  .usa-section {
      padding-bottom: 4rem;
      padding-top: 3.2rem;
  }
}

@media (min-width: 64em) {
  .usa-section {
    padding-top: 1.7rem;
  }
}

.usa-sidenav__sublist a:not(.usa-button) {
  padding-left: 2.3rem;
}

.usa-sidenav__sublist .usa-sidenav__sublist a:not(.usa-button) {
  padding-left: 3.6rem;
}

.usa-alert--no-icon .usa-alert__body {
  // This fixes an issue with USWDS where a slim alert with no icon and no status would still get padding to make room for an icon
  padding-left: 1.25rem;
}

.usa-button:visited {
  /*
This style overrides a style from _buttons.scss (https://github1s.com/uswds/uswds/blob/HEAD/src/stylesheets/elements/_buttons.scss#L28)
Buttons with visited links would mysteriously get white text which is not accessible contrast on our theme's primary and secondary colors.
*/
  color: initial;
}

.usa-button--secondary {
  font-size: 1.1rem;
  border: 2px solid $secondary-border;
}

.usa-button--secondary:hover {
  background-color: $secondary-background;
  border: 2px solid $secondary-border;
}

/*
This style ensures that we can remove the padding-top from text in a card body. Used on navigation pages.
*/
.usa-card__body.padding-top-0 {
  padding-top: 0;
}

/*
add padding at the top of flag cards
*/
.paragraph--type--uswds-card-group-flag .usa-card-group {
  padding-top: 60px;
}

.paragraph--type--uswds-card-group-regular .usa-card__container:focus-within,
.paragraph--type--uswds-card-group-flag .usa-card__container:focus-within,
.paragraph--type--uswds-card-group-flag .usa-card__container:hover,
.paragraph--type--uswds-card-group-regular .usa-card__container:hover {
  box-shadow: none;
}

/** This to change the link color for the
*   header and footer links
**/
.usa-nav__secondary-links a,
.usa-nav__secondary-links a:hover,
.usa-banner__button,
.usa-card__body {
  @include u-text('gray-90');
}

a,
.usa-alert__text a,
.usa-footer__return-to-top a,
.usa-link,
.usa-skipnav {
  @include u-text('blue-warm-70v');
}

.usa-prose a:visited:not(.usa-button){
  @include u-text('violet-60v');
}

.usa-hero.usagov-hero a {
  @include u-text('cyan-30v');
}

.usa-hero.usagov-hero a:visited {
  @include u-text('cyan-10');
}

a.usa-button.hero-button {
  @include u-text('gray-90');

  &:focus {
    display: inline-block;
  }

  &:visited {
    @include u-text('gray-90');
  }
}

.usa-button {
  width: 100%;
  line-height: 1.5;

  @media (min-width: 30em) {
    width: auto;
  }
}

.usagov-button--outline-black {
  box-shadow: $theme-button-stroke-width color('black');
  @include u-text('black');

  &:hover {
    box-shadow: $theme-button-stroke-width color('black');
    @include u-text('black');
  }
}

.usa-checkbox__input:checked + .usa-checkbox__label::before,
.usa-radio__input:checked + .usa-radio__label::before {
  @include u-bg('gray-90');

  box-shadow: 0 0 0 units($theme-input-select-border-width) color('gray-90'),
    inset 0 0 0 units($theme-input-select-border-width) color('white');
}

.usa-checkbox__input--tile:checked + .usa-checkbox__label,
.usa-radio__input--tile:checked + .usa-radio__label {
  // background-color: #ccecf2;
  border-color: $orange-border;
}

.usa-checkbox__input--tile + .usa-checkbox__label,
.usa-radio__input--tile + .usa-radio__label {
  @include u-border('gray-90');
  @include u-bg('white');
}

.usa-breadcrumb__link,
.usa-breadcrumb__link:hover {
  line-height: 1.5;
  text-decoration: underline;
  @include u-text('blue-warm-70v');
}

.usa-breadcrumb__link:visited {
  text-decoration: underline;
  @include u-text('blue-warm-70v');
}

.usa-breadcrumb__list-item {
  line-height: 1.5;
  @include u-text('blue-warm-70v');
}

.usa-breadcrumb__currrent {
  @include u-text('gray-90');
}

a {
  @include u-text('blue-warm-70v');
}

#block-usagov-content .font-serif-lg {
  // This style is needed to set the font size of intro text
  font-size: 1.5rem;
}

.usa-prose > p.usa-intro {
  max-width: none;
}

@media (max-width: 30em) {
  .usa-alert,
  .usa-prose,
  .usa-table,
  .usa-form,
  .usa-radio__label,
  .usa-footer,
  .usa-nav .usa-accordion,
  .usa-accordian__heading,
  .text-primary-lighter,
  .usa-hero,
  .usa-identifier,
  .usa-label,
  .usa-description {
    font-size: 1.1rem;
  }
}

.desktop\:grid-col-8 .body-copy {
  // Add margin only on content pages
  margin-top: 2.5rem;
  max-width: 40em;
}

.usa-skipnav {
  z-index: 501;
}

.usa-skipnav:active,
.usa-skipnav:hover {
  @include u-text('blue-warm-70v');
}

.usa-skipnav:visited {
  color: $dark-gray;
}

#back-to-top {
  position: fixed;

  // float:right;
  height: 50px;
  width: 90px;
  right: -100px;
  bottom: 80px;
  background: $back-top-off-white-background;
  transition: right 0.5s;
  background-image: url('/themes/custom/usagov/images/Icon_Back_to_Top_Blue.png');
  background-size: 45px;
  background-position: 2px;
  background-repeat: no-repeat;
  padding: 0 15px 0 50px;
  border-radius: 25px 0 0 25px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  z-index: 1;

  &.stuck {
    right: 0;
  }
}

// Last Updated, Share and Survey
.additional_body_info {
  // display: inline-block;
  padding-top: 75px;
}

// Share This Page
div #sm-share {
  display: flex;
  padding-bottom: 22px;
  background-color: transparent;
  font-size: 1rem;
}

#share-page {
  margin-top: auto;
  margin-bottom: auto;
}

div #sm-share a {
  text-decoration: none;
}

.share-icons {
  margin-left: 10px;
  height: 44px;
  line-height: 44px;
  display: flex;
}

.share-icon {
  margin: 6px;
  width: 32px;
  height: 32px;
  @include u-text('gray-90');

  display: block;
}

// error styles for elected officials, report a problem and wizard

.usa-error {
  color: $red-error;
  @include u-text('semibold');
}

.usa-user-error {
  border-color: $red-error;
  border-width: 3px;
  border-style: solid;
}

input:not([disabled]):focus.usa-user-error {
  outline-offset: 1px;
}

.usa-form-spacing {
  padding-left: 1rem;
}

.usa-main-border-error {
  border-left: 3px solid $red-error;

  .usa-border-error {
    border-left: none;
  }
}

.usa-border-error {
  border-left: 3px solid color('red-50');
}

.usa-error--alert {
  display: none;
}

// top-nav styles
.currentMenuItem {
  position: relative;
}

.currentMenuItem::after {
  @include u-bg('cyan-30v');

  border-radius: 0;
  content: "";
  display: block;
  position: absolute;
  height: 0.25rem;
  left: 1rem;
  right: 1rem;
  bottom: 0;
}

// scams reskin

.block-wizardenglish {
  border-top: 4px solid color('blue-80v');
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 2rem;

  @media (max-width: 64em) {
    padding-left: 2rem;
  }
}

@media (min-width: 64em) {
  .block-wizardenglish {
    margin-left: 5rem;
    max-width: 80%;
  }
}

.block-wizardenglish div.usa-prose h1 {
  @include u-text('blue-80v');

  padding-bottom: 1.5rem;
  margin-top: 0;
  font-size: 2.25rem;

  @media (max-width: 40em) {
    font-size: 2rem;
  }
}

.block-wizardenglish div.usa-prose h1.usa-wizard-title {
  padding-bottom: 0;
}

.block-wizardenglish div.usa-prose h1 .usa-pros {
  padding-bottom: 1rem;
}

.block-wizardenglish .usa-prose {
  font-size: 1.2rem;
}

.block-wizardenglish .usa-button {
  @include u-text('gray-90');
  @include u-bg('cyan-10');

  @media (max-width: 40em) {
    margin-bottom: 8px;
  }
}

.block-wizardenglish .usa-prose > p.usa-scam-label {
  max-width: 110ex;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
}

.block-wizardenglish .usa-scam-label {
  border-bottom: 1px solid $wizard-gray-border;
  @include u-text('blue-80v');
  @include u-text('medium');
}

button#prior.usa-button--outline {
  @include u-bg('white');

  box-shadow: inset 0 0 0 2px color('black');
}

button#next.usa-button,
.block-wizardenglish a.usa-button {
  @include u-bg('cyan-10');

  box-shadow: inset 0 0 0 2px color('cyan-50v');
  border: none;
}

button#next.usa-button:hover,
.block-wizardenglish a.usa-button:hover {
  background-color: $secondary-background;
}

.block-wizardenglish .usa-prose > p {
  max-width: 110ex;
}

.block-wizardenglish .usa-radio__input--tile:checked + [class*="__label"] {
  @include u-bg('cyan-10');
}

.wizard_error {
  border-left: 3px solid $red-error;
  padding-left: 5px;
}

.block-wizardenglish div.usa-error {
  padding-left: 5px;
  padding-right: 5px;
}

.block-wizardenglish .usa-radio__input--tile:checked + .usa-radio__label {
  border-color: $blue-outer-focus;
}

.block-wizardenglish [tabindex]:focus {
  outline: 0.25rem solid color('orange-50v');
  outline-offset: 0;
  width: fit-content;
  margin-left: 0;
}

@media (max-width: 40em) {
  .usa-reverse {
    flex-direction: column-reverse;
  }
}

button.usa-combo-box__toggle-list:focus {
  opacity: 1;
}

// BEGIN Page Level Survey extra CSS
#pagesurvey-trgt-qualtrics {
  background: white;
  max-width: 960px;
  display: inline-block;
  margin: 0 auto;
}

div[class^="QSIUserDefinedHTML"] {
  z-index: 1;
}

#pagesurvey-qual-hdr {
  @include u-bg('cyan-10');

  font-size: 130%;
  display: block;
  @include u-text('gray-90');

  padding: 12px 0 15px;
  margin: 0 auto;
  max-width: 74.25rem;
  height: auto;
  text-align: center;
  @include u-font-family('serif');
  @include u-text('bold');
}

.scrollable {
  overflow: unset !important;
}

#pagesurvey-qual-container:focus {
  outline: color('orange-50v') solid 3px;
}

@media only screen and (max-width: 500px) {
  div[class^="QSIUserDefinedHTML"] {
    left: -16px;
  }
}

// END Page Level Survey extra CSS

.usa-prose p,
.usa-prose li,
.usa-prose a {
  font-size: 1.1rem;
}

.usa-prose.body-copy {
  &>h1, &>h2, &>h3, &>h4 {
    clear: unset;
  }

  .usa-alert, .usa-card-group {
    clear: both;
  }

  .usa-process-list {
    display: inline-block;
  }
}

.usa-accordion__heading button,
.usa-accordion__heading p,
.usa-accordion__heading a {
  font-size: 1.1rem;
}

#question-box > div > p,
#question-box > div > div {
  font-size: 1.1rem;
}

#prior,
#next {
  font-size: 1.1rem;
}

#wizard-border > fieldset > label,
.wizard_result > p {
  font-size: 1.1rem;
}

.last,
#last-updated,
#share-page {
  font-size: 1rem;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

[hidden="until-found"] {
  display: revert-layer;
  border: 0 !important;
  padding: 0 !important;
}

p,
a,
.usa-label,
.usa-description,
.usa-radio__label {
  line-height: 1.5;
}

// "Report an issue" page style
// Style of the description used for the input field of a form.
.usa-description {
  @include typeset(
    $theme-form-font-family,
    $theme-body-font-size,
    $theme-input-line-height
  );

  display: block;
  @include u-text('normal');

  margin-top: 0.5rem;
  max-width: units($theme-input-max-width);
}

// Fix the height of the "Describe the issue" field.
.usa-input-textarea {
  height: auto;
}

// Alignment of recaptcha error message and recaptcha box.
.recaptcha-container {
  @extend .ceo-button-container;

  margin-bottom: 1em;
  flex-direction: column;
}

// Centers the recaptcha error message
.err-label-captcha {
  @extend .usa-error;

  text-align: center;
}

// Centers the recaptcha box
.recaptcha-alignment {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

// Add a space between the recaptcha box and the error outline.
.recaptcha-outline-padding {
  padding: 5px;
}

.issue-button {
  @extend .ceo-button;

  margin-top: 1.5rem;
}

// End of "Report an issue" page style

#myform .usa-button {
  margin-left: 4rem;

  @media (max-width: 30em) {
    margin-left: 0.4rem;
  }
}

.usa-form div.maxw-mobile p {
  @media (max-width: 40em) {
    padding-left: 1rem;
  }
}

div div.field--name-field-offices-near-you {
  display: inline;
}

.usa-normal {
  @include u-text('normal');
}

// Add padding for feedback button
button#QSIFeedbackButton-btn {
  padding: 2px !important;
}

[href]:focus,
button:not([disabled]):focus,
input:not([disabled]):focus,
.usa-footer__secondary-link a:focus,
.usa-form a:focus,
.usa-alert__text a:focus,
button#prior.usa-button--outline:focus,
button#next.usa-button:focus,
.block-wizardenglish a.usa-button:focus,
.usa-radio__input:focus + [class*="__label"]::before,
.usa-checkbox__input:focus + [class*="__label"]::before,
textarea:not([disabled]):focus,
.usagov-directory-bottom-nav-group a.nav-letter:focus,
.usa-breadcrumb__list-item:nth-last-child(2) .usa-breadcrumb__link:focus,
[tabindex]:focus,
select:not([disabled]):focus,
#pagesurvey-qual-container:focus {
  outline: 0.25rem solid $blue-outer-focus;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px color('white');
}

/* checkboxes don't get box-shadow in all browsers */
.usa-checkbox__input:focus + .usa-checkbox__label::before {
  box-shadow: none;
  border: 2px solid color('white');
}

.life-events-intro a:focus,
.usa-hero__callout a:focus,
.jump a:focus {
  box-shadow: none;
}

.usa-footer__secondary-link a:focus,
.usa-hero__callout [href]:focus {
  display: inherit;
}

#slides-list .slick-dots li button:focus {
  box-shadow: 0 0 0 0 $blue-outer-focus;
}

.homepage-card:focus-within,
.block-wizardenglish [tabindex]:focus,
.usa-radio__input:focus,
.slick-dots > li > button > .slick-dot-icon:focus {
  outline: 0.25rem solid $blue-outer-focus;
  outline-offset: 0;
}

// Common styles between All topics cards and the cards in Primary pages
.homepage-card,
.usagov-card {
  border-radius: 0;
  border-width: 2px;
  border-style: solid;
  box-shadow: 1px 1px 7px #aaa;
  @include u-border('cyan-50v');

  &:hover {
    @include u-bg('cyan-10');
  }
}

.usagov-button {
  font-size: 1.1rem;
}

.usa-pagination .usa-current {
  background-color: color('blue-warm-70v');

  &:hover {
    background-color: color('blue-warm-70v');
    border-color: color('blue-warm-70v')
  }

  &:focus {
    background-color: color('blue-warm-70v');
    color: white;
    outline-width: 2px;
    outline-offset: -2px;
  }
}

.usa-pagination__arrow{
  text-decoration: underline;
}

.usa-pagination__button {
  border: 2px solid #768FB3;
  color: color('gray-90');

    &:hover{
      @include u-text('gray-90');
      background-color:#768FB3;
      border-color: #768FB3;
    }
}

  .usa-pagination__link {
    text-decoration-color: color('blue-warm-70v');
    text-decoration: underline;

    &:hover{
      color: color('blue-warm-70v');
    }

  }


#main-content {
  .usa-accordion__button {
    @include u-bg('gray-5');

    &:hover, &[aria-expanded="true"] {
      @include u-bg('gray-20');
    }
  }

  .usa-accordion__content .usa-accordion__button {
    @include u-bg('cyan-10');

    &:hover, &[aria-expanded="true"] {
      @include u-bg('cyan-20');
    }
  }
}

// elected-officials hide autofill contact for state dropdown - name is not brought over to input by uswds so autofill is being triggered in Safari
input::-webkit-textfield-decoration-container {
  visibility: hidden;
}

// hides the recaptcha image for accessibility reasons
.grecaptcha-badge {
  visibility: hidden;
}

// reduces the space above and below the breadcrumb on the downlevel page without a leftnav to look even
@media screen and (max-width: 30em) {
  .breadcrumb-nav-spacing {
    height: 2.5rem;
  }
}

@media (min-width: 30.0625em) and (max-width: 40em) {
  .breadcrumb-nav-spacing {
    height: 4rem;
  }
}

@media (min-width: 40.0625em) and (max-width: 63.93em) {
  .breadcrumb-nav-spacing {
    height: 1.2rem;
  }
}

@media screen and (min-width: 64em) {
  .breadcrumb-nav-spacing {
    height: 2.7rem;
  }
}

// reduces the space under the breadcrumb on the downlevel page with a leftnav to look even
@media (max-width: 30rem) {
  .breadcrumb-spacing {
    height: 2.5rem;
  }
}

@media (min-width: 30.0625em) and (max-width: 40em) {
  .breadcrumb-spacing {
    height: 4rem;
  }
}

@media (min-width: 40.0625em) and (max-width: 63.93em) {
  .breadcrumb-spacing {
    height: 1.7rem;
  }
}

@media screen and (min-width: 64em) {
  .breadcrumb-spacing {
    height: 3.7rem;
  }
}

// reduces space below the breadcrumb on benefits pages
#block-usagov-breadcrumbs {
  height: 4rem;
}

#block-usagov-breadcrumbs {
  @media screen and (max-width: 30em) {
    height: 5rem;
  }
}

.benefits-finder-content {
  .usa-prose>p.usa-intro {
    @include u-margin(0);

    max-width: 100%;
  }
}
