/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
/*
@ -19,19 +19,3 @@ i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;
@use "usagov-variables" as *;

@forward "carousel";
@forward "content-page";
@forward "fed-directory";
@forward "footer";
@forward "header";
@forward "homepage";
@forward "life-events";
@forward "mobile-menu";
@forward "navigation-page";
@forward "sidenav";
@forward "state-directory";

.text-red {
  color: var($red);
}

.line-height-2 {
  line-height: 2;
}

.question-icon {
  display: flex;
}


.chat-icon {
  width: 60px;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
}

@media (min-width: 64em) {
  .usa-section {
    padding-top: 2rem;
  }
}

.usa-sidenav__sublist a:not(.usa-button) {
  padding-left: 2.3rem;
}

.usa-sidenav__sublist .usa-sidenav__sublist a:not(.usa-button) {
  padding-left: 3.6rem;
}

.usa-alert--no-icon .usa-alert__body {
  // This fixes an issue with USWDS where a slim alert with no icon and no status would still get padding to make room for an icon
  padding-left: 1.25rem;
}

.usa-button:visited {
  /*
This style overrides a style from _buttons.scss (https://github1s.com/uswds/uswds/blob/HEAD/src/stylesheets/elements/_buttons.scss#L28)
Buttons with visited links would mysteriously get white text which is not accessible contrast on our theme's primary and secondary colors.
*/
  color: initial;
}

.usa-button--secondary {
  font-size: 1.1rem;
  border: 2px solid var($secondary-border-color);
}

.usa-button--secondary:hover {
  background-color: var($secondary-background-color);
  border: 2px solid var($secondary-border-color);
}

.usa-button--secondary:visited,
.usa-button:visited {
  color: var($off-black) !important;
}

/*
This style ensures that we can remove the padding-top from text in a card body. Used on navigation pages.
*/
.usa-card__body.padding-top-0 {
  padding-top: 0;
}

/*
add padding at the top of flag cards
*/
.paragraph--type--uswds-card-group-flag .usa-card-group {
  padding-top: 60px;
}

.paragraph--type--uswds-card-group-regular .usa-card__container:focus-within,
.paragraph--type--uswds-card-group-flag .usa-card__container:focus-within,
.paragraph--type--uswds-card-group-flag .usa-card__container:hover,
.paragraph--type--uswds-card-group-regular .usa-card__container:hover {
  box-shadow: none;
}

/** This to change the link color for the
*   header and footer links
**/
.usa-nav__secondary-links a,
.usa-nav__secondary-links a:hover,
.usa-banner__button,
.usa-card__body {
  color: var($off-black);
}

a,
.usa-alert__text a,
.usa-footer__return-to-top a,
.usa-link,
.usa-skipnav {
  color: color("blue-warm-70v");
}

.usa-prose a:visited {
  color: color($theme-link-visited-color);
}

.usagov-hero a:visited {
  color: color("cyan-10");
}

.usagov-hero a,
.usagov-hero__callout ul a {
  color: color("cyan-30v");
}

.usagov-hero__callout ul a:visited {
  color: color("cyan-10");
}

.usa-button {
  width: 100%;
  line-height: 1.5;

  @media (min-width: 30em) {
    width: auto;
  }
}

.usagov-button--outline-black {
  box-shadow: $theme-button-stroke-width color("black");
  color: color("black");

  &:hover {
    box-shadow: $theme-button-stroke-width color("black");
    color: color("black");
  }
}

.usa-checkbox__input:checked+.usa-checkbox__label::before,
.usa-radio__input:checked+.usa-radio__label::before {
  background-color: color("black");
  box-shadow: 0 0 0 units($theme-input-select-border-width) color("black"),
    inset 0 0 0 units($theme-input-select-border-width) color("white");
}

.usa-checkbox__input--tile:checked+.usa-checkbox__label,
.usa-radio__input--tile:checked+.usa-radio__label {
  // background-color: #ccecf2;
  border-color: var($radio-button, border-color);
}

.usa-checkbox__input--tile+.usa-checkbox__label,
.usa-radio__input--tile+.usa-radio__label {
  border-color: black;
  background: white;
}

.usa-breadcrumb__link,
.usa-breadcrumb__link:hover {
  line-height: 1.5;
  text-decoration: underline;
  color: var($text-blue);
}

.usa-breadcrumb__link:visited {
  text-decoration: underline;
  color: var($dark-gray);
}

.usa-breadcrumb__list-item {
  line-height: 1.5;
}

a {
  color: var($text-blue);
}

#block-usagov-content .font-serif-lg {
  // This style is needed to set the font size of intro text
  font-size: 1.5rem;
}

.desktop\:grid-col-fill .content-wrapper {
  // On Navigation Cards pages, display the content in reverse order. So the Nav banner is displayed above the Intro Text.
  display: flex;
  flex-direction: column;
}

// This style is needed to extend the width of nav page intro text
.desktop\:grid-col-fill .usa-prose>p.usa-intro {
  max-width: 81ex;
  margin-left: 1.2ex;
  margin-right: 1.2ex;
}

@media (max-width: 30em) {
  .usa-alert,
  .usa-prose,
  .usa-table,
  .usa-form,
  .usa-radio__label,
  .usa-footer,
  .usa-nav .usa-accordion,
  .usa-accordian__heading,
  .text-primary-lighter,
  .usa-hero,
  .usa-identifier,
  .usa-label {
    font-size: 1.1rem;
  }
}

.desktop\:grid-col-8 .body-copy {
  // Add margin only on content pages
  margin-top: 2.5rem;
}

.usa-skipnav:active,
.usa-skipnav:hover {
  color: var($text-blue);
}

.usa-skipnav:visited {
  color: var($dark-gray);
}

#back-to-top {
  position: fixed;

  // float:right;
  height: 50px;
  width: 90px;
  right: -100px;
  bottom: 80px;
  background: var($off-white);
  transition: right 0.5s;
  background-image: url("/themes/custom/usagov/images/Icon_Back_to_Top_Blue.png");
  background-size: 45px;
  background-position: 2px;
  background-repeat: no-repeat;
  padding: 0 15px 0 50px;
  border-radius: 25px 0 0 25px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  z-index: 1;

  &.stuck {
    right: 0;
  }
}

// Last Updated, Share and Survey
.additional_body_info {
  padding-top: 75px;
}

// Share This Page
div #sm-share {
  display: flex;
  padding-bottom: 22px;
  background-color: transparent;
  font-size: var($smaller-text-font-size);
}

#share-page {
  margin-top: auto;
  margin-bottom: auto;
}

div #sm-share a {
  text-decoration: none;
}

.share-icons {
  margin-left: 10px;
  height: 44px;
  line-height: 44px;
  display: flex;
}

.share-icon {
  margin: 6px;
  width: 32px;
  height: 32px;
  color: #1b1b1b;
  display: block;
}

// error styles for elected officials

.usa-error {
  color: var($red-error);
  font-weight: 600;
}

.usa-user-error {
  border-color: var($red-error);
  border-width: 3px;
  border-style: solid;
}

input:not([disabled]):focus.usa-user-error {
  outline-offset: 1px;
}

.usa-form-spacing {
  padding-left: 1rem;
}

.usa-main-border-error {
  border-left: 3px solid var($red-error);

  .usa-border-error {
    border-left: none;
  }
}

.usa-border-error {
  border-left: 3px solid var($red);
}

#myform div.margin-x-auto {
  // margin-left: 3rem;
  @media (max-width: 40em) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

#myform div.maxw-mobile {
  max-width: 26rem;
}

.ceo-button-container {
  display: flex;

  // Manages where the button is going to be positioned.
  // Example: center, right, left.
  justify-content: center;
}

.ceo-button {
  margin-inline: 0 !important;
  width: fit-content;
}

.usa-error--alert {
  display: none;
}

.currentMenuItem {
  position: relative;
}

.currentMenuItem::after {
  background-color: var($cyan-30v);
  border-radius: 0;
  content: "";
  display: block;
  position: absolute;
  height: 0.25rem;
  left: 1rem;
  right: 1rem;
  bottom: 0;
}

// scams reskin

.block-wizardenglish {
  background-color: var($light-gray);
  border-top: 4px solid var($deep-blue);
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 2rem;

  @media (max-width: 64em) {
    padding-left: 2rem;
  }
}

@media (min-width: 64em) {
  .block-wizardenglish {
    margin-left: 5rem;
    max-width: 80%;
  }
}

.block-wizardenglish div.usa-prose h1 {
  color: var($deep-blue);
  padding-bottom: 1.5rem;
  margin-top: 0;
  font-size: 2.25rem;

  @media (max-width: 40em) {
    font-size: 2rem;
  }
}

.block-wizardenglish div.usa-prose h1.usa-wizard-title {
  padding-bottom: 0;
}

.block-wizardenglish div.usa-prose h1 .usa-pros {
  padding-bottom: 1rem;
}

.block-wizardenglish .usa-prose {
  font-size: 1.2rem;
}

.block-wizardenglish .usa-button {
  color: var($off-black);
  background-color: var($cyan-light);

  @media (max-width: 40em) {
    margin-bottom: 8px;
  }
}

.block-wizardenglish .usa-prose>p.usa-scam-label {
  max-width: 110ex;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
}

.block-wizardenglish .usa-scam-label {
  border-bottom: 1px solid gray;
  color: var($dark-blue);
  font-weight: 500;
}

button#prior.usa-button--outline {
  background-color: var($white);
  box-shadow: inset 0 0 0 2px var($black);
}

button#next.usa-button,
.block-wizardenglish a.usa-button {
  background-color: var($cyan-light);
  box-shadow: inset 0 0 0 2px var($cyan-50v);
  border: none;
}

button#next.usa-button:hover,
.block-wizardenglish a.usa-button:hover {
  background-color: var($secondary-background-color);
}

.block-wizardenglish .usa-prose>p {
  max-width: 110ex;
}

.block-wizardenglish .usa-radio__input--tile:checked+[class*="__label"] {
  background-color: var($cyan-light);
}

.wizard_error {
  border-left: 3px solid var($red-error);
  padding-left: 5px;
}

.block-wizardenglish div.usa-error {
  padding-left: 5px;
  padding-right: 5px;
}

.block-wizardenglish .usa-radio__input--tile:checked+.usa-radio__label {
  border-color: var($deep-orange);
}

.block-wizardenglish [tabindex]:focus {
  outline: 0.25rem solid var($deep-orange);
  outline-offset: 0;
  width: fit-content;
  margin-left: 0;
}

@media (max-width: 40em) {
  .usa-reverse {
    flex-direction: column-reverse;
  }
}

button.usa-combo-box__clear-input:focus,
button.usa-combo-box__toggle-list:focus {
  opacity: 1;
}

// BEGIN Page Level Survey extra CSS
#pagesurvey-trgt-qualtrics {
  background: white;
  max-width: 960px;
  display: inline-block;
  margin: 0 auto;
}

div[class^="QSIUserDefinedHTML"] {
  z-index: 1;
}

#pagesurvey-qual-hdr {
  background: var($cyan-light);
  font-size: 130%;
  display: block;
  color: var($off-black);
  padding: 12px 0 15px;
  margin: 0 auto;
  max-width: 960px;
  height: auto;
  text-align: center;
  font-family: "Merriweather Web", Georgia, Cambria, "Times New Roman", Times,
    serif;
  font-weight: bold;
}

.scrollable {
  overflow: unset !important;
}

#pagesurvey-qual-container:focus {
  outline: var($deep-orange) solid 3px;
}

@media only screen and (max-width: 500px) {
  div[class^="QSIUserDefinedHTML"] {
    left: -16px;
  }
}

// END Page Level Survey extra CSS

.usa-prose p,
.usa-prose li,
.usa-prose a {
  font-size: var($regular-text-font-size);
}

.usa-accordion__heading button,
.usa-accordion__heading p,
.usa-accordion__heading a {
  font-size: var($regular-text-font-size);
}

#question-box>div>p,
#question-box>div>div {
  font-size: var($regular-text-font-size);
}

#prior,
#next {
  font-size: var($regular-text-font-size);
}

#wizard-border>fieldset>label,
.wizard_result>p {
  font-size: var($regular-text-font-size);
}

.last,
#last-updated,
#share-page {
  font-size: var($smaller-text-font-size);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

[hidden="until-found"] {
  display: revert-layer;
  border: 0 !important;
  padding: 0 !important;
}

p,
a,
.usa-label,
.usa-radio__label {
  line-height: 1.5;
}


#myform .usa-button {
  margin-left: 4rem;

  @media (max-width: 30em) {
    margin-left: .4rem;
  }
}

// Style for the "Submit" button on the "Report a Problem" page.
// Aligns the button to the left.
#myform input.usa-button  {
  margin-left: 0;
}

.usa-form div.maxw-mobile p {
  @media (max-width: 40em) {
    padding-left: 1rem;
  }
}

div div.field--name-field-offices-near-you {
  display: inline;
}

.color-off-black {
  color: var($off-black);
}

.usa-normal {
  font-weight: normal;
}

[href]:focus, button:not([disabled]):focus, input:not([disabled]):focus,
.usa-footer__secondary-link a:focus, .usa-form a:focus, .usa-alert__text a:focus,
.block-wizardenglish a.usa-button:focus, button#prior.usa-button--outline:focus,
button#next.usa-button:focus {
  outline: 0.2rem solid $white-inner-focus; /* inner indicator */
  outline-offset: 0;
  box-shadow: 0 0 0 7px $blue-outer-focus; /* outer indicator */
  display: inline-block;
}

.homepage-card:focus-within, .block-wizardenglish [tabindex]:focus, .usa-radio__input:focus, .slick-dots>li>button>.slick-dot-icon:focus {
  outline: 0.25rem solid $blue-outer-focus; /* inner indicator */
  outline-offset: 0;
}

