@use "usagov-variables" as *;
@use "uswds-core" as *;

@mixin checked() {
  border-radius: 4px;
  border: 2px solid $button-secondary-outline;
  background: $button-secondary-default;

  &::before {
    background-color: color('gray-90');
    box-shadow: 0 0 0 2px color('gray-90'), inset 0 0 0 3px color('gray-5');
    opacity: 1;

    &:not(:focus) {
      outline: 0;
    }
  }
}

.usagov-wizard {
  .usa-breadcrumb__list {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .layout-sidebar-first {
    display: none;
  }

  &--content {

    /* There's some USWDS style rule which puts a bunch of margin-top on
    h1 elements if there is an element in between it and the parent <div> that has .usa-prose on it.
    We dont want that. */
    h1 {
      margin-top: 0;
      margin-bottom: 17.6px;
    }

    h1, h2, h3, h4 {
      font-family: Merriweather Web,Georgia,Cambria,Times New Roman,Times,serif;
    }

    .usagov-wizard--content-step-indicator {
      font-weight: 600;
      margin-bottom: 17.6px;
    }

    h2 {
      font-size: 2rem;
      line-height: 120%;
    }

    * {
      transition: all .1s ease;
    }

    // Hide the title of views reference fields.
    .viewsreference--view-title {
      display: none;
    }

    fieldset {
      all: unset;
      display: block;
      width: 100%;

      // Disable this to prevent shift+click selection of multiple radios.
      user-select: none;
    }

    .field--name-field-body {
      h2 {
        margin: 40px 0 17.6px;
      }
    }

    .field--name-field-options-list {
      margin-bottom: 40px;
    }

    .views-field-field-option-name {
      // P tag for descriptions.
      p {
        margin-block-start: 0;
        margin-block-end: 0;
      }


      // Background color of option elements on state changes.
      .usa-radio__input--tile {
        &:hover {
          + [class*=__label] {
            border-radius: 4px;
            @include u-border('2px', 'solid', 'gray-20');
            @include u-bg('gray-5');

            &::before {
              opacity: 1;
            }
          }
        }

        &:checked, &:active {
          + [class*=__label] {
            @include checked;
          }
        }

        &:focus {
          &::before {
            outline: .25rem solid $button-secondary-outline;
            outline-offset: 0;
            box-shadow: inset 0 0 0 2px color('gray-5');
          }
        }
      }

      // Positioning of the option elements.
      .usa-radio__input--tile + .usa-radio__label {
        padding: 1rem 1rem 1rem 2.5rem;
        margin-top: 0;

        // Have a hidden border in the natural state so this doesn't move on hover.
        border: 2px solid transparent;

        &::before {
          opacity: .6;
        }
      }
    }

    #wizard-border, &--error {
      @include u-bg($theme-color-error-lighter);

      padding: .5rem 1rem .5rem 0;
      border-left: 7px solid color($theme-color-error);
      display: none;

      .usa-alert__body {
        padding-left: 2.75rem;
      }

      &::before {
        left: 1rem;
        width: 20px;
      }

      // Override custom-styles :focus rule.
      #msg {
        padding: 0 5px;

        &:focus {
          width: fit-content;
        }
      }
    }

    .usa-button#prior {
      background-color: white !important;

      &:hover {
        @include u-bg('gray-5', '!important');
      }
    }

    #start-over-mobile {
      width: 156px;
      @include at-media('desktop') {
        display: none;
      }
    }

    #start-over-desktop {
      display: none;
      @include at-media('desktop') {
        display: inline-block;
      }
    }

    // Close usa-wizard--content
  }

  &-buttons {
    .usa-button {
      width: 158px;
      @include at-media('tablet') {
        width: 168px;
      }
    }
  }

  // Close usagov-wizard
}
