// Hide the title of views reference fields.

@use "usagov-variables" as *;
@use "uswds-core" as *;

@mixin checked() {
  border-radius: 4px;
  border: 2px solid var(--Button-Secondary-outline, #0081A1)!important;
  background: var(--Button-Secondary-default, #CCECF2)!important;
}

.usagov-wizard {
  .viewsreference--view-title {
    display: none;
  }

  .views-field-field-option-name {
    p {
      margin-block-start: 0px;
      margin-block-end: 0px;
      margin-left: 10px;
    }

    .usa-radio__input--tile + .usa-radio__label {
      border: 0px;
      line-height: 26.4px;
      padding: 1rem;

      &:hover {
        border-radius: 4px;
        border: 2px solid var(--Accordion-Hover, #C9C9C9);
        background: var(--USAGOV-Light-Gray, #F0F0F0);
      }

      &:active {
        @include checked();
      }

      .usagov-label--text {
        margin-left: 10px;
      }
    }

    .usa-radio__label.checked {
      @include checked();
    }

    .usa-radio__input--tile+[class*=__label]::before {
      margin-top: .0rem;
      position: relative;
      display: inline-block;
      top: -2px;
      vertical-align: middle;
      left: 0;
    }
  }
}
