@use "usagov-variables" as *;

ul.navigation__items{
  list-style: none;
  margin: 0;
  padding: 0;
  
  a {
    display: flex;
    height: 4rem;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
  }
  .children a{
    font-weight: normal;
  }
  
  $max-indent: 5;
  @for $i from 1 to $max-indent {
    &.ancestors > .navigation__item:nth-of-type(#{$i}) {
      a {
        padding-left: $i * 1rem;
      }
      .children a {
        padding-left: ($i + 2) * 1rem;
      }
    }
  }
  .umbrella a {
    background-color: var($mobile-nav, blue);
    color: var($mobile-nav, white);
  }
  .active > a {
    border-left: 0.5rem solid var($mobile-nav, red);
    color: var($mobile-nav, red);
  }
}

.usagov-nav{
  width: 100%;
  max-width: 30rem;
  padding: 0;
  overflow: scroll;
}

.usagov-mobile-menu-top {
  padding: 1rem;
  background-color: var($mobile-nav, light-gray);
}
.usagov-mobile-menu-controls {
  display: flex;
  justify-content: space-between;
}
.usagov-mobile-menu-controls>* {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  color: black;
  font-weight: bold;
  font-size: larger;
}
.usagov-mobile-menu-controls a img {
  padding: 0.16rem;
  margin: 0.1rem;
  border: 3px solid black;
  border-radius: 100%;
  height: 2.16rem;
}
.usagov-mobile-menu-controls button img {
  height: 2.5rem;
}
.usa-nav__secondary-links {
  margin: 1rem;
  display: block;
}


@media (min-width: 64em){
  ul.navigation__items, .usagov-mobile-menu-controls{
    display: none;
  }
}
@media (max-width: 63.99em){
  .usa-nav.is-visible {
    display: none;
  }
  .usagov-nav.is-visible {
    display: flex;
  }
}