html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto",
    "Arial", sans-serif;
}

.usa-display-alt {
  font-size: 2.75rem;
  font-weight: 300;
}

form {
  max-width: none;
}

.width-one-third {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%;
}
.width-one-third:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .width-one-third {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .width-one-third:last-child {
    margin-right: 0;
  }
}

.width-two-thirds {
  float: left;
  display: block;
  margin-right: 0%;
  width: 66.66667%;
}
.width-two-thirds:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .width-two-thirds {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .width-two-thirds:last-child {
    margin-right: 0;
  }
}

.offset-one-third {
  margin-left: 33.33333%;
}

.width-one-fourth {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%;
}
.width-one-fourth:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .width-one-fourth {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .width-one-fourth:last-child {
    margin-right: 0;
  }
}

.width-one-half {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%;
}
.width-one-half:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .width-one-half {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .width-one-half:last-child {
    margin-right: 0;
  }
}

.width-three-fourths {
  float: left;
  display: block;
  margin-right: 0%;
  width: 75%;
}
.width-three-fourths:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .width-three-fourths {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  .width-three-fourths:last-child {
    margin-right: 0;
  }
}

.offset-one-fourth {
  margin-left: 25%;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto",
    "Arial", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #323a45;
  background: #f9f9f9;
  margin: 0;
}

a,
a:visited {
  color: #112e51;
}

a:focus {
  box-shadow: none;
  outline: 2px solid #0186a2;
}

.technical-difficulties {
  color: #981b1e;
  background: #fff;
  padding-top: 1.25em;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

ul li {
  display: block;
  line-height: normal;
}

ul li:after,
ul li:before {
  content: "";
  display: none;
  padding-right: 0;
}

@media screen and (max-width: 768px) {
  .sm-hide {
    display: none !important;
  }
}
.container-padding {
  padding-left: 2em;
  padding-right: 2em;
}
@media screen and (max-width: 500px) {
  .container-padding {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.dark-background {
  background: #112e51;
}
.dark-background,
.dark-background a {
  color: #fff;
}

.text-center {
  text-align: center;
}

/*
* top navigation bar
*/
.skip-to-main-content-link {
  font-size: 1.06em;
  line-height: 1.5;
  text-decoration: underline;
  background: 0 0;
  left: 0;
  padding: 0.5em 1em;
  position: absolute;
  top: -3.8em;
  transition: 0.15s ease-in-out;
  z-index: 100;
}

.skip-to-main-content-link:focus {
  background: #fff;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.15s ease-in-out;
  box-shadow: none;
  outline: 2px solid #0186a2;
}

header {
  background: #fff;
  color: #fff;
  border-bottom: 6px solid #0071bc;
}

header .inner {
  padding: 0 1.5rem 0 1.5rem;
  max-width: 97.5em;
  margin-left: auto;
  margin-right: auto;
}

header .inner::after {
  clear: both;
  content: "";
  display: table;
}

.header-parent {
  display: flex;
}

.header-child {
  align-self: center;
}

header img {
  vertical-align: middle;
  width: 140px;
  padding: 20px;
}
.header-logo a:focus {
  outline: 3px solid #005ea2;
  outline-offset: 4px;
}

.header-right {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}

.header-dropdown {
  flex: 0 0 100%;
}

.header-links {
  gap: 10px;
  font-size: 1.8rem;
  padding-top: 5px;
}

/* Tablet - move the dropdown right (770-1024px) */
@media screen and (min-width: 770px) {
  .header-logo {
    flex-grow: 1;
  }
}

/* Desktop   - move the links in line */
@media screen and (min-width: 1024px) {
  .header-right {
    margin-right: 10px;
    gap: 1em;
    flex-grow: 1;
    padding: 0;
  }

  .header-dropdown {
    flex-grow: 1;
    flex-basis: auto;
  }

  .header-links {
    padding-top: 0;
  }
}

/* H1 */
h1 {
  margin: 0px;
  padding: 10px;
  font-size: 2.5em;
  color: #112e51;
  font-weight: 300;
  text-decoration: none;
}

h1 a {
  text-decoration: none;
}

h1:visited {
  color: #112e51;
}

.agency-selector-wrap label {
  position: absolute;
  left: -999em;
  width: 0;
  margin: 0;
}

#agency-selector {
  max-width: none;
  font-weight: 600;
  color: #112e51;
  display: inline-block;
  flex-grow: 1;
}

#agency-selector:focus {
  box-shadow: none;
  outline: 2px solid #0186a2;
}

@media screen and (max-width: 992px) {
  #agency-selector {
    font-size: 16px;
  }
}

header #agency-selector {
  background-image: url("../css/img/arrow-down.png");
  background-image: url("../css/img/arrow-down.svg");
  color: #fff;
  background-color: #112e51;
  border: 1px solid #fff;
}

/*
* end top navigation bar
*/

section {
  background: #fff;
  padding: 1em;
}
section #current_visitors {
  font-size: 8em;
  margin: 0;
}
@media screen and (max-width: 768px) {
  section #current_visitors {
    font-size: 6em;
  }
}
section h3 {
  margin: 10px 0;
}

#realtime {
  color: #112e51;
}
@media screen and (max-width: 768px) {
  #realtime {
    font-size: 12px;
  }
}

.container {
  max-width: 97.5em;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  background: #fff;
}
.container::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (max-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  #main_data {
    border-right: none;
  }
}

.visits_today h3 {
  display: block;
  height: 2.5rem;
  margin-bottom: 0;
}
.visits_today h4 {
  display: block;
  text-align: right;
  margin-top: -2.5rem;
  font-size: 1.3rem;
  font-weight: normal;
  color: #323a45;
}

#secondary_data {
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
@media screen and (max-width: 768px) {
  #secondary_data {
    border-top: 1px solid #e4e4e4;
    border-left: none;
    border-right: none;
  }
}

#explanation {
  border-top: 1px solid #e4e4e4;
  margin-top: -1px;
}
#explanation h4 {
  font-size: 90%;
}
#explanation ul {
  font-size: 80%;
  padding: 0;
}
#explanation ul,
#explanation li {
  list-style-type: none;
  list-style-position: inside;
}
#explanation li {
  margin: 1em 0;
}

.parent td {
  border-bottom: 1px solid #e4e4e4;
}

.subset td {
  border-top: 1px solid #e4e4e4;
}
.subset td:first-child {
  /*font-size: 1.5rem;*/
  padding-left: 3rem;
}
.subset td:first-child::before {
  content: "\2022";
  padding: 0 10px;
}

#devices p {
  font-size: 1.3rem;
}
#devices .label::first-letter {
  text-transform: uppercase;
}

#sessions p {
  font-size: 1.3rem;
}
#sessions .label::first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  .downloads thead th {
    font-size: 1.8rem;
  }
  .downloads td {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .downloads td .usa-label-big {
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 0.9rem;
  }
}

.section_headline {
  padding: 0.1em 1em;
  border-top: 1px solid #e4e4e4;
}
@media screen and (max-width: 768px) {
  .section_headline {
    border-bottom: none;
  }
}

.section_subheadline {
  padding: 0.5em 1em;
  border-top: 1px solid #e4e4e4;
  text-align: center;
  font-size: 1.5em;
}
.section_subheadline #total_visitors {
  font-weight: 600;
}

.three_column {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%;
}
.three_column:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .three_column {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
    border-left: none;
    border-top: 1px solid #e4e4e4;
  }
  .three_column:last-child {
    margin-right: 0;
  }
}
.three_column h4 {
  text-align: center;
  margin: 0;
  font-size: 90%;
}
.three_column h5 {
  margin-top: 0;
  text-align: center;
}

#realtime {
  text-align: center;
  padding-top: 0em;
  padding-bottom: 2em;
}
#realtime .chart_subtitle {
  font-size: 2.1em;
  font-weight: 300;
}

.bar:focus {
  outline: 0;
}

#time_series {
  padding: 0 1em;
}

#time_series svg {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  max-height: 300px;
}
#time_series svg .axis[aria-hidden="true"] {
  display: block !important;
}

#current_visitors {
  font-weight: 600;
  text-align: center;
}

#top_downloads_table h5,
#top_external_links_table h5 {
  margin-top: 10px;
}

#top_100_table h3,
#top_downloads_table h3,
#top_external_links_table h3 {
  font-size: 1em;
}
#top_100_table h5,
#top_downloads_table h5,
#top_external_links_table h5 {
  color: #323a45;
  font-weight: 300;
}

.top-pages .bar-chart {
  margin-top: 0;
}

figure {
  margin: 0;
}

ul.pills {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  display: inline-block;
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
}
ul.pills::after {
  clear: both;
  content: "";
  display: table;
}
ul.pills:last-child {
  margin-right: 0;
}
ul.pills li {
  width: 33.3333%;
}
ul.pills,
ul.pills > li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
ul.pills {
  margin: 0.6rem 0 1.5rem 0;
}
ul.pills > li {
  float: left;
}
ul.pills > li > a {
  color: #112e51;
  background: #fff;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 0.8em;
  display: inline-block;
  padding: 0.32em 0em;
  text-decoration: underline;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
}
ul.pills > li > a:hover {
  text-decoration: underline;
}
ul.pills > li > a:focus {
  margin-left: 2px;
  margin-right: 2px;
  width: calc(100% - 6px);
}
ul.pills > li > a[aria-selected="true"] {
  color: #fff;
  background: #0071bc;
}
ul.pills > li:last-child > a {
  border-right: none;
}

#top_100_table ul.pills li:first-child {
  display: none;
}

#top_100_table ul.pills li {
  width: 50%;
}

.bar-chart {
  margin: 1rem 0;
  position: relative;
  font-size: 90%;
  display: block;
}

.bar-chart .bar-chart {
  font-size: 80%;
}

.bar-chart .bar-chart .bin {
  margin-left: 2em;
  margin-bottom: 0rem;
}

.bar-chart .bar-chart .bin .bar {
  display: none;
}

.bar-chart .bin {
  position: relative;
  overflow: hidden;
  margin: 0 0 1rem 0;
}

.bar-chart .bin::after {
  clear: both;
  content: "";
  display: table;
}

.bar-chart .bin .bar:after {
  content: " ";
  display: block;
  position: absolute;
  background: #f9f9f9;
  top: 0;
  left: 100%;
  width: 1000px;
  height: 100%;
  z-index: 1;
}

.bar-chart .bar {
  height: 0.8rem;
  background: #0071bc;
  position: relative;
  z-index: 2;
  min-width: 1px;
  -webkit-transition: width 0.5s linear;
  -moz-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

.bar-chart .label {
  white-space: nowrap;
  height: 2.2rem;
  margin-right: 4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bar-chart .label .domain {
  width: 100%;
}

.bar-chart .label a {
  text-decoration: underline;
}

.bar-chart .label .domain a {
  margin-left: 3px;
}

.bar-chart .label a:hover {
  text-decoration: underline;
}

.bar-chart .label:focus-within {
  height: 4rem;
}

.bar-chart .label a:focus {
  display: inline-block;
  margin-left: 3px;
  margin-top: 3px;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  width: calc(95%);
}
.bar-chart .label .domain a:focus {
  margin-left: 3px;
  width: calc(75%);
}

.bar-chart .value {
  text-align: right;
  height: 2rem;
  white-space: nowrap;
  margin-top: -2.2rem;
  margin-bottom: 0.45rem;
}

#top-downloads .bar-chart .label,
#top_external_links_table .bar-chart .label {
  height: auto;
  line-height: 1.6;
}
#top-downloads .bar-chart .label .name,
#top_external_links_table .bar-chart .label .name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#top-downloads .bar-chart .label .domain,
#top_external_links_table .bar-chart .label .domain {
  color: #323a45;
  font-size: 0.8em;
}

g.axis path,
g.axis line {
  fill: none;
  stroke: none;
}
g.axis .tick text {
  fill: #323a45;
  font-size: 1.1rem;
}

.time-series rect {
  fill: #0071bc;
  stroke: #fff;
  stroke-width: 1;
}
.time-series text.label {
  fill: #323a45;
  font-size: 10px;
  transform: rotate(45deg) translateY(-10px) translateX(10px);
  font-weight: bold;
}

#site-wide-alert {
  margin-top: 0;
}

figure figure h4 {
  display: none;
}
figure figure .bar-chart {
  margin: 0.5rem 0;
}
figure figure .bar-chart .bin {
  margin-bottom: 0.5rem;
}

*[data-block] {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in 0.5s;
  -moz-transition: opacity 0.3s ease-in 0.5s;
  transition: opacity 0.3s ease-in 0.5s;
}
*[data-block].loading {
  opacity: 0.8;
}

.usa-skipnav {
  color: #1a4480;
}
.usa-skipnav:active,
.usa-skipnav:hover {
  color: #1a4480;
}

.usa-skipnav:visited {
  color: #4b4b4d;
}

.usa-sr-only {
  position: absolute;
  left: -999em;
}

.label .domain:focus-within {
  display: inline-block;
  height: 4rem;
}

a {
  text-decoration: underline;
}

.select-agency-form {
  display: flex;
  gap: 10px;
  height: 2.5em;
  flex-wrap: nowrap;

  label {
    color: black;
    width: 200px;
    margin: auto;
  }
}

.select-agency-form-button {
  margin: 0.2em 0;
  border: 2px solid #377f9d;
  background-color: #ccecf2;
  color: #1b1b1b;
  font-size: 0.85em;

  /* line-height: 1.5; */
  border-radius: 0.15rem;
  text-align: center;
  /* transition: background-color 200ms; */
  /* padding: .1rem 1.25rem;
  height: 2.5rem; */
}

.select-agency-form-button:hover {
  background-color: #009ec1;
  color: #1b1b1b;
  border: 1px solid #1b1b1b;
}

.select-agency-form-button:focus {
  box-shadow: none;
  outline: 2px solid #0186a2;
}

#chart_windows {
  display: flex;
  justify-content: flex-end;
}

.windows-div {
  flex-basis: 85%;
}

.bar rect {
  fill: #0066cc; /* Ensure this color has at least 4.5:1 contrast ratio with background */
}
.axis text {
  fill: #333333; /* Ensure readable text */
}

figure#time_series figcaption {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only {
  position: absolute;
  left: -999em;
}

.tooltip {
  font-size: 12px;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.focus-info {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  margin: 20px 25px;
  text-align: center;
  font-weight: bold;
  min-height: 24px;
}

.summary {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
}