
$hero: var( $usagov-variables, hero );

.usagov-hero-homepage{
    background-color: var( $hero, background-color );
    color: var( $hero, font-color );
    margin-bottom: 0;
}
.usagov-hero-feature-text a{
    text-decoration-line: underline;
    text-decoration-thickness: 7px;
    text-decoration-color: var( $card, heading-underline-color );
    text-decoration-skip-ink: none;
    line-height: 1.8em;
}
    color: inherit;
}
.topic-icon{
    padding-left: 5em;
    background-repeat: no-repeat;
    background-position: 1em center;
    background-size: 5em;
}
.icon-about{
    background-image: url(../images/topics/ICONS_beta_About_the_US_and_Its_Government.png);
}
.icon-laws{
    background-image: url(../images/topics/ICONS_beta_Laws_and_Legal_Issues.png);
}
.icon-money{
    background-image: url(../images/topics/ICONS_beta_Money_and_Credit.png);
}
.icon-scams{
    background-image: url(../images/topics/ICONS_beta_Scams_and_Frauds.png);
}
.icon-health{
    background-image: url(../images/topics/ICONS_beta_Health.png);
}
.icon-benefits{
    background-image: url(../images/topics/ICONS_beta_Benefits.png);
}
