$life-events: var( $usagov-variables, life-events );

.usa-card--flag{
    .usa-card__container {
       background: var( $life-events, background-color );
       color: var( $life-events, text-color );
    }
    .usa-card__body {
       color: var( $life-events, text-color );
    }
    .usa-card--heading{
       text-decoration-line: underline;
       text-decoration-thickness: 7px;
       text-decoration-color: var( $life-events, heading-underline-color );;
       text-decoration-skip-ink: none;
    }
 }