<section aria-label="Small search component">
  <form class="fed-directory-search-bar" action="https://search.usa.gov/search" method="get" name="search_form" accept-charset="UTF-8" role="search">
    <label id="fedGallerySearch" class="usa-sr-only" for="search-field-en-small">{{translations.agencySearchLabel}}</label>
    <input id="affiliate-agency-search" name="affiliate" type="hidden" value="{{translations.agencySearchAffiliateID}}">
    <input
        class="usa-input fed-directory-search-input"
        id="search-field-en-small"
        aria-labelledby="fedGallerySearch"
        type="search"
        name="query"
        placeholder="{{translations.agencySearchLabel}}"
        onfocus="this.placeholder"
        autocomplete="off"
    />
    <button class="fed-directory-search-btn" type="submit">
      <img src="/themes/custom/usagov/images/search--dark.svg" alt="{{translations.search}}">
    </button>
  </form>
</section>
