<div class="scheduled-updates-add">
  <div class="scheduled-updates-add__table">
    {{ form.revision }}
  </div>
  <div class="scheduled-updates-add__meta">
    {{ form.new_meta }}
    {{ form.to_options }}
  </div>
</div>
{{ form|without('new_meta', 'to_options', 'revision') }}
