<div id="wizard-border" class="usa-alert usa-alert--error usa-alert--slim usagov-wizard--error">
  <div class="usa-alert__body">
    <div id="msg" class="maxw-tablet" tabindex= "-1"></div>
  </div>
</div>

{% include "@views/views-view.html.twig" %}
