{% extends "@usagov/top_nav.html.twig" %}


{% block translation %}
  {% if translation %}
    {% if lang == 'en' %}
      {% set langcode = 'es' %}
      {% set button_text = 'Español' %}
    {% else %}
      {% set langcode = 'en' %}
      {% set button_text = 'English' %}
    {% endif %}
    {% set translation_url = drupal_url('taxonomy/term/'~translation,{ langcode: langcode }) %}
    <a href="{{ translation_url }}" class="usa-button language-link" hreflang="{{ langcode }}">{{ button_text }}</a>
  {% endif %}
{% endblock %}
