{#
/**
 * Included in the basic node page template and has all the same variables available.
 */
 #}
{% set lang = node.langcode.value %}
{% if lang == 'en' %}
{%   set benefit_finder = "Benefit Finder" %}
{%   set search_block = "benefits_facets_block" %}
{% elseif lang == 'es' %}
{%   set benefit_finder = "Buscador Beneficiós" %}
{%   set search_block = "benefits_facets_es_block" %}
{% endif %}

<h2>{{ benefit_finder }}</h2>

{# Add life event navigation cards #}

{{ drupal_view('benefit_search_form', search_block) }}
