{% set lang = node.langcode.value %}
<a href="#all-topics-header">
	<div id="jump_block">
		<span>{{ lang == 'en' ? 'Jump to all topics and services' : 'Vaya a todos los temas y servicios' }}</span>
		<img src="/themes/custom/usagov/images/Reimagined_Jump_to_Arrow.svg" alt="">
	</div>
</a>
