{% set lang = node.langcode.value %}

{%  if (node.field_homepage_benefits_ref) %}
  {% set benefits_url = drupal_url('node/' ~ node.field_homepage_benefits_ref.value[0].target_id ) %}
    <div class="benefits-block">
      <img src="/themes/custom/usagov/images/ICONS_beta_Benefits.svg" alt="Visit the benefit finder page" height="56px">
      <div class="benefits-text">
        <h2>{{ node.field_homepage_benefits_title.value }}</h2>
        <p>{{ node.field_homepage_benefits_descr.value | striptags }}</p>
      </div>
        <a href="{{ benefits_url }}" class="usa-button benefits-link">
          {{ node.field_homepage_benefits_button.value }}</a>
    </div>
{% endif %}
