{{ attach_library('usagov/carousel') }}

<div class="life-events">
	<div class="life-events-intro">
		<h2>Life experiences</h2>
		<p>
			Discover government benefits and services to help you and your family through every stage of life.
		</p>
	</div>
	<div class="life-events-carousel">
		{% include directory ~ '/templates/includes/life-events-carousel.html.twig' %}
	</div>
</div>

