{% set image_uri = node.field_homepage_banner|file_uri %}
{% if image_uri is not null %}

	<div class="banner-wrapper">
		<div class="banner_div" style="background-image: url({{ image_uri|image_style('max_480w') }})"></div>
	</div>
{% endif %}

<div class="welcome-box">
	<h1 id="skip-to-h1">
		{{ node.title.value }}
	</h1>
	<p>
		{{ node.body.value | raw}}
	</p>
</div>


{# {{devel_breakpoint()}} #}
{# $context["elements"]["field_homepage_banner"] #}
{# | image_style('max_480w') #}
