<div class="banner-wrapper">
	<div
		class="banner_div" style="background-image: url({{file_url(node.field_navigation_banner_image.entity.field_media_image.entity.fileuri)}})">
	</div>
</div>
<div class="welcome-box">
	<h1 id="skip-to-h1"> {{ node.title.value }} </h1>
	<p> {{ node.body.value | raw}} </p>
</div>
