{% set lang = node.langcode.value %}
<a href="#all-topics-header">
	<div style="display:flex;flex-direction:column;align-items:center">
		<span>{{ lang == 'en' ? 'Jump to all topics and services' : 'Vaya a todos los temas y servicios' }}</span>
		<br/>
		<img style="width:40px;height:40px" src="/themes/custom/usagov/images/Reimagined_Jump_to_Arrow.svg" alt="">
	</div>
</a>
