{{ attach_library('usagov/carousel') }}
<style>
.life-events{
	width:1024px;
}
.life-events-carousel{
	width:1024px;
}
</style>
<div class="life-events">
	<div class="life-events-inner">
		<h2>Life Events</h2>
		<p>
			Lorem ipsum dolor sit amet. consectetur adipiscine elit. Nam facilisis mi metus.
		</p>
		<p>
			Nulla ultricies sagittis tellus vitae vestibulum. Donec sed sagittis ante.
		</p>
	</div>
	<div class="life-events-carousel">
		{% include directory ~ '/templates/includes/life-events-carousel.html.twig' %}
	</div>
</div>

