{% set lang = node.langcode.value %}
<p>
	<a href="#all-topics-header">
	<span>{{ lang == 'en' ? 'Jump to all topics and services' : 'Vaya a todos los temas y servicios' }}</span>
		<br/>
<img src="/themes/custom/usagov/images/Reimagined_Jump_to_Arrow.svg" alt="Jump to all topics and services">

	</a>
</p>


