{% set lang = node.langcode.value %}
<div class="all-topics-header" id="all-topics-header">
	<h2>{{ lang == 'en' ? 'All topics and services' : 'Todos los temas y servicios' }}</h2>
</div>
<div class="all-topics"></div>
