<div class="banner-wrapper">
	<div class="banner_div" style="background-image: url({{file_url(node.field_homepage_banner.0.entity.uri.value)}})"></div>
</div>
<div class="welcome-box">
	<h1 id="skip-to-h1">
		{{ node.title.value }}
	</h1>
	<p>
		{{ node.body.value | raw}}
	</p>
</div>


{# {{devel_breakpoint()}} #}
{# $context["elements"]["field_homepage_banner"] #}
