<div class="life-events">

	<h2>Life Events</h2>
	<p>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur quos ducimus nobis omnis magnam doloremque consectetur fugit eum labore est ipsam soluta suscipit voluptates maxime dolore officiis mollitia laudantium accusamus, veniam explicabo blanditiis aliquam. Nobis non, sint magni laborum sunt autem eligendi minima sit placeat saepe?
	</p>
	<div class="life-events-carousel">
		{% include directory ~ '/templates/includes/life-events-carousel.html.twig' %}
	</div>
</div>
