{{ attach_library('usagov/carousel') }}

<style>
  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .carousel {
    position: relative;
    width:100%;
    height: 300px;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .previous,
  .next {
    padding: 0px;
    width: 40px;
    border: none;
    background-color: transparent;
  }

  .previous img,
  .next img{
    width: 40px;
  }

  .navigation li {
    width: 40px;
    height: 40px;
    font-size: 30px;
  }

  .navigation li:not(:last-child) {
    margin:0px;
    margin-right:10px;
  }

  .navigation li a {
    text-decoration: none;
    color: #00BDE3;
    border: 2px solid #00BDE3;
  }

  .navigation li a:focus {
    outline-offset: 4px;
  }

  .usa-pagination__button {
    border: none;
  }

  .usa-pagination__button:focus {
    border: none;
    color:#00BDE3;
  }

  .life-events-carousel .usa-pagination{
    margin: 30px 0px 70px 0px;
  }

  .navigation li a[aria-current="true"] {
    background-color: #FFFFFF;
    border: none;
    color: #112F4E;
  }

  .m {
    width:calc(100% - 80px);
    padding-left: 11px;
    padding-right: 11px;
  }

  /*Tablet */
  @media (min-width:480px) {
    .m {
      max-width:100%;
      padding-left:37px;
      padding-right:37px;
    }

    .life-events-carousel .usa-pagination{
      margin: 34px 0px;
    }

    .navigation li:not(:last-child) {
      margin:0px;
      margin-right:15px;
    }
  }

  @media (min-width:1024px) {
    .m {
      width:100%;
      max-width:960px;
      margin-left:0px;
      margin-right:auto;
    }
  }
</style>

 <p class="sr-only">
  Carousel with three slides shown at a time on desktop, two on tablets and one on movile. Use the Previous and Next buttons to navigate, or the slide number buttons at the end to jump to slides.
  </p>

<section class="carousel" aria-label="carousel">

  <button class="previous">
    <span class="sr-only">Previous slides</span>
    <img src="/themes/custom/usagov/images/Reimagined_Carousel_Left_Arrow.svg" />
  </button>

  <div class="m">
    {{ drupal_view('life_events_view', 'block_5') }}
  </div>

  <button class="next">
    <span class="sr-only">Next slides</span>
    <img src="/themes/custom/usagov/images/Reimagined_Carousel_Right_Arrow.svg" />
  </button>

</section>

<nav aria-label="Pagination" class="usa-pagination">
  <ul class=" navigation usa-pagination__list">
  </ul>
</nav>
