{#
/**
 * Included in the basic node page template and has all the same variables available.
 */
 #}
{% set lang = node.langcode.value %}

{% if lang == 'en' %}
{%   set life_event_title = "Benefit finder tool" %}
{% elseif lang == 'es' %}
{%   set life_event_title = "Encuentre beneficios en estas etapas de su vida" %}
{% endif %}

<h2 class="benefit-finder__title">{{ life_event_title }}</h2>

