{{ attach_library('usagov/carousel') }}
{{ drupal_view('life_events_view', 'block_5') }}
{# <section class="carousel" aria-label="carousel">
  <p class="sr-only">
    Carousel with three slides shown at a time. Use the Previous and Next
    buttons to navigate, or the slide dot buttons at the end to jump to
    slides.
  </p>

  <button class="previous">
    <span class="sr-only">Previous slides</span>
    <img src="/themes/custom/usagov/images/Reimagined_Carousel_Left_Arrow.svg" />
  </button>

  <div class="slides">
    <div class="slide" role="group" aria-label="slide 1 of 6">
      <a href="#"><h3>Birth</h3>
      <p>
        Find government programs to help during pregnancy and early
        childhood.
      </p>
        <img class="thumbnailBanner" src="/themes/custom/usagov/images/topics/Banner_img_About_the_US_and_Its_Government.png" />
      </a>
    </div>

    <div class="slide" role="group" aria-label="slide 2 of 6">
      <a href="#"><h3>Death of a loved one:</h3>
      <p>
        Find out how to report a death to government agencies. Get copies of
        death certificates and other records, and find benefits for final
        expenses.
      </p>
        <img class="thumbnailBanner" src="/themes/custom/usagov/images/topics/Banner_img_About_the_US_and_Its_Government.png" />
      </a>
    </div>

    <div class="slide" role="group" aria-label="slide 3 of 6">
      <a href="#"><h3>Financial hardship:</h3>
      <p>
        Learn how to apply for government programs to help with food, bills,
        housing, and more.
      </p>
        <img class="thumbnailBanner" src="/themes/custom/usagov/images/topics/Banner_img_About_the_US_and_Its_Government.png" />
      </a>
    </div>

    <div class="slide" role="group" aria-label="slide 4 of 6">
      <a href="#"><h3>Natural disaster:</h3>
      <p>
        Find out how to get government assistance after a disaster.
        Reconnect with loved ones and learn how to help survivors.
      </p>
        <img class="thumbnailBanner" src="/themes/custom/usagov/images/topics/Banner_img_About_the_US_and_Its_Government.png" />
      </a>
    </div>

    <div class="slide" role="group" aria-label="slide 5 of 6">
      <a href="#"><h3>Turning 18:</h3>
      <p>
        Learn about the new opportunities and responsibilities of adulthood,
        including voting, jobs and education, military service, and taxes.
      </p>
        <img class="thumbnailBanner" src="/themes/custom/usagov/images/topics/Banner_img_About_the_US_and_Its_Government.png" />
      </a>
    </div>

    <div class="slide" role="group" aria-label="slide 6 of 6">
      <a href="#"><h3>Turning 65:</h3>
      <p>
        Get ready for retirement with planning tools and tips to help you
        apply for Medicare and Social Security.
      </p>
        <img class="thumbnailBanner" src="/themes/custom/usagov/images/topics/Banner_img_About_the_US_and_Its_Government.png" />
      </a>
    </div>
  </div>

  <button class="next">
    <span class="sr-only">Next slides</span>
    <img src="/themes/custom/usagov/images/Reimagined_Carousel_Right_Arrow.svg" />
  </button>


</section>
  <nav aria-label="Pagination" class="usa-pagination">
    <ul class=" navigation usa-pagination__list">
    </ul>
  </nav> #}
