<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.css">
{{ attach_library('usagov/carousel') }}

{% set lang = node.langcode.value %}
<p class="sr-only">
	Carousel with three slides shown at a time on desktop, two on tablets and one on mobile. Use the Previous and Next buttons to navigate, or the slide number buttons at the end to jump to slides.
</p>

<section class="carousel" aria-label="carousel">

	<div class="carousel-mover">
		{% if lang == "es" %}
			{{ drupal_view('life_events_view', 'life_events_block_spanish') }}
		{% else %}
			{{ drupal_view('life_events_view', 'life_events_block_english') }}
		{% endif %}
	</div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.js"></script>
