{{ attach_library('usagov/carousel') }}
<link rel="stylesheet" type="text/css" href="slick/slick-theme.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.css">
<link rel="stylesheet" type="text/css" href="slick/accessible-slick-theme.min.css">
{% set lang = node.langcode.value %}
<p class="sr-only">
  Carousel with three slides shown at a time on desktop, two on tablets and one on mobile. Use the Previous and Next buttons to navigate, or the slide number buttons at the end to jump to slides.
  </p>

<section class="carousel" aria-label="carousel">

  <button class="previous">
    <span class="sr-only">Previous slides</span>
    <img src="/themes/custom/usagov/images/Reimagined_Carousel_Left_Arrow.svg" alt="Go to previous card"/>

  </button>

  <div class="carousel-mover">
    {% if lang == "es" %}
      {{ drupal_view('life_events_view', 'life_events_block_spanish') }}
    {% else %}
      {{ drupal_view('life_events_view', 'life_events_block_english') }}
    {% endif %}
  </div>

  <button class="next">
    <span class="sr-only">Next slides</span>
    <img src="/themes/custom/usagov/images/Reimagined_Carousel_Right_Arrow.svg" alt="Go to next card"/>

  </button>

</section>

<nav aria-label="Carousel Navigation" class="carousel__navigation_wrapper">
  <ul class="navigation carousel__navigation">
  </ul>
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.js"></script>