{% set lang = node.langcode.value %}

{% if (node.field_benefits_callout_ref) %}
  {% set benefits_url = drupal_url('node/' ~ node.field_benefits_callout_ref.value[0].target_id ) %}

  <div class="benefits-block-bg nav-benefits">
    <div class="benefits-block">
      <img src="/themes/custom/usagov/images/ICONS_beta_Benefits.svg" alt="Visit the benefit finder page" height="56px">
        <div class="benefits-text">
          <p>{{ node.field_benefits_callout_descr.value | striptags }}</p>
        </div>
        <a href="{{ benefits_url }}" class="usa-button benefits-link">
          {{ node.field_benefits_callout_button.value }}</a>
    </div>
  </div>
{% endif %}
