<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="noindex" />
        <meta http-equiv="refresh" content="0;url=\'{{ uri }}\'" />

        <title>Redirecting to {{ uri }}</title>
    </head>
    <body>
        Redirecting to <a href="{{ uri }}">{{ uri }}</a>.
    </body>
</html>