_core:
  default_config_hash: MhdvGsbfffJCuaLivp1FW8cXt1NCIfNy6HZK0FqrdJo
disable_admin: 0
use_minified: 1
exclusion_list: "core/assets/vendor/ckeditor/ckeditor.js\r\ncore/assets/vendor/ckeditor/lang/*\r\ncore/modules/ckeditor/tests/*\r\ncore/modules/color/tests/*\r\ncore/modules/locale/tests/*\r\ncore/modules/quickedit/js/views/EntityToolbarView.js\r\ncore/modules/system/tests/*\r\ncore/modules/views/tests/*\r\ncore/tests/*\r\nlibraries/d3/test/*\r\nlibraries/jquery.inputmask/qunit/tests*\r\nlibraries/jquery.intl-tel-input/src/spec/tests/*\r\nlibraries/jquery.select2/tests/*\r\nsites/default/files/*\r\nvendor/jcalderonzumba/gastonjs/examples/*\r\nvendor/jcalderonzumba/gastonjs/tests/*\r\n*-min.js\r\n*.min.js"