{
	debug
	log {
		format console
		level INFO
	}
	auto_https off
}

:8080 {
	route {
		forward_proxy {
			acl {
			    allow all
			}
			ports 80 443 22 61443
			upstream $PROXYROUTE
		}
	}
	log {
		format json
		level INFO
		output stdout
	}
}
